.detalleUser{
  transition: .2s;
  opacity: 1;
  position: relative;
  border-top-left-radius: 7px;
}

#detalleUser{
  height: calc(100% - 45px) !important;

  top: 45px;

}

#faking{
  height: 100%;
}
mat-panel-title{
  font-size: 13px !important;
  /*text-align: center;*/
  font-weight: bold;
}
mat-expansion-panel-header{
  /*padding: 0 10px !important;*/
  margin: 10px 0 ;
}
mat-expansion-panel{
  border-radius: 5px;

}
p{
line-height: 33px;
margin: 0;
}
.abrirInfoUser{
  opacity: 1 !important;
}

.boody{
  background: red;
}
.backDetail{
  /*opacity: 0.5;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100% - 35px);
  /*height: 100%;*/
  background: #2D3942;
  /*background-image: url("../../../../assets/fondodetalle.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;*/
}
.twOptionDet{
  display: flex;
}

.actualizar{
  margin-right: 17px;
  color: #a2a2a2;
}

.borrar{
  color: #a2a2a2;
}

.arrowss{
  color: #FFFF00;
}
.backbutton{
  position: relative;
  z-index: 4;
  cursor: pointer;
}
.encabezado{
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  color: #FFFF00;
}

.barrita{
  background: #33444D;
  width: calc(100% - 40px);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding-left: 13px;*/
  padding: 0 20px;
  /*cursor: pointer;*/
  position: relative;
}
.infoUser{
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: .1s;
  height: 95%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;


}

.infoUser::-webkit-scrollbar {
  width: 7px;
}
.infoUser::-webkit-scrollbar-thumb {
  background: #475A68;
}


.itemUser{
  /*margin:17px 0;*/
  /*width: 60%;*/
  font-size: 12px;
}
input{
  padding-left: 5px;
}
mat-accordion{
  width: 99%;
}
/*.itemUser3{
  width: 90px;
}*/
.itemUser2{
  /*margin:7px 0;*/
  font-size: 13px;
  font-weight: bold;
  /*width: auto;*/
  text-align: left;
}
.picUser{
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  /*background: yellow;*/
  margin: 20px 0;
  margin-top: 0 !important;
  	/*background-image: url("../../../../assets/pic.jpg");
  				background-size: cover;
  				background-repeat: no-repeat;
  				background-position: center;*/

          -webkit-box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.18);
box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.18);


}
.mascaraUsuario{
  /*height: calc(100% - 86px);*/
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
/*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
}

.contItemsu{
  display:flex; margin:10px 0; width:100%;
  justify-content: space-between;
  margin:17px 0;
  width: 100%;

  /*flex-wrap: wrap;*/
}



@keyframes logo{

  0%{
    opacity: 0;

  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes logo2{

  0%{
    opacity: 1;

  }

  15%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #dbeb1d;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #dbeb1d;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
