

.alamie{
	display: none !important;
}


.contenidoAD, .contenidoADD{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.groupInfC{
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.epalin{
	font-size: 19px !important;
}

#conteProyectos{
	height: auto;
	min-height: 1000px;
	width: 100%;
}

#infiniteScro{
	width: 100%;
	height: 100px;
	background: red;
}
.contenidoADD{
	width: 40% !important;
	height: calc(270px - 40px);
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.anuncioI{
	margin: 0 !important;
	font-size: 20px;
	text-align: center;
	color: #9f44b8;
	font-weight: bold;
}
.encabezadoAd{
	width: calc(100% - 60px);
	padding: 0 30px;
	height: 60px;
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 10px;
}

.epa{
	color: red;
}

.links, .links:hover{
	text-decoration: none;
	color: blue !important;
}
.linki{
	cursor: pointer;
	position: absolute;
	right: 10px;
	border-radius: 3px;
	border: 2px solid #9f44b8;
	padding: 0 4px;

}

.fechAD{
	font-size: 11px !important;
}

.contenidoAD2{
	width: calc(100% - 30px);
	height: calc(100% - 70px);
	/*padding-bottom: 20px !important;*/
	padding: 0 30px;
	padding-right: 0 !important;
}
.titleAD{
	height: 100%;
	width: auto;
	margin:0 !important;
	display: flex;
    align-items: center;
		font-size: 16px;
}
.add2{
	font-size: 25px;
	color: #9f44b8;
}

.descAD{
	/*border: 1px solid #e9e7e7;*/
	width: calc(100% - 40px);
	/*height: calc(100% - 40px);*/
	margin: 20px 20px 0px 20px;
	color: #6e6d6d;
	font-size: 13px;
	height: 130px;
	overflow-y: scroll;
	text-align: left;
	    font-family: Menlo,Consolas,Monaco,monospace;
			overflow-x: hidden;
}

#carta{
	-webkit-box-shadow: 7px 8px 6px -4px rgba(0,0,0,0.11);
	-moz-box-shadow: 7px 8px 6px -4px rgba(0,0,0,0.11);
	box-shadow: 7px 8px 6px -4px rgba(0,0,0,0.11);
	border: 1px solid #dbdde173;
}

.createdAD{
	display: flex;
	color: #bfbfbf;
	display: flex;
align-items: center;
}
.descAD::-webkit-scrollbar {
  width: 7px;
}
.descAD::-webkit-scrollbar-thumb {
  background: #e9e7e7;
}

.createdAD p{
	margin:0 20px 0 0 !important;
}
.createdAD mat-icon{
	height: 100%;
	display: flex;
justify-content: left;
align-items: center;
font-size: 16px;
    width: 18px;
}

.tituconAd{
	display: flex;
	flex-direction: column;
}

.iconos{
	/*width: 100%;*/
	height: 33px;
	padding: 0 0 0 30px;
	display: flex;
	margin: 0 0 10px 0;
	position: relative;
}

#oportunidades{
	    margin-bottom: 50px;
}
html{
	background: #e9e7ed;
}
body{
	background: #e9e7ed;
}
p{
	margin: 10px 0 !important;
}
            a, a:hover, a:link, a:active, a:visited{
                color: white !important;
                text-decoration: none !important;}
	.like2{
		/*background-image: url("http://www.valorizate.com.co/assets/images/corazon.png") !important;*/
		cursor: pointer;
		width: 100px;
		height: 100px;
	}

.subcm{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2.5px solid #27AE61;*/

    border-radius: 5px;
    height: 45px;
    top: 0px;
    font-size: 17px;
    line-height: 40px;
    /*margin: 0 30px;*/
    list-style: none;
    width: 180px;
    cursor: pointer;
    transition: .2s;
    background: #27AE61;
		color: #FFFF00 !important;

}


.subcm:hover{

}
.subcm a:hover{

     abackground:#27AE61;

     color: white ;
     afont-size: 19px;

     transition: 0.3s;


}
	.like2.is-liked{

		animation-name: like;
		animation-duration: 1s;

		animation-timing-function: steps(28);

		/*background-position: -2800px 0;*/
		animation-fill-mode: forwards;
	}

	@keyframes like{
		0%{
			/*transform: translateX(0px);*/
			background-position: 0 0;
		}
		100%{
			background-position: right;
			/*transform: translateX(200px);*/
		}
	}

	.contemadre{
		width: 100%;
		/*height: 700px;*/
		/*padding: 55px 15px 55px 15px;*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 200px;
		z-index: 1;
		/*border: 1px solid black;*/
	}
	.lista{
		width: 75%;
		    border-radius: 5px !important;
		/*border: 1px solid black;	*/
		margin-top: 15px;
		margin-left: 50px;
		margin-bottom: 15px;
		margin-right: 15px;
		display: flex;
		flex-direction: column;
	}

	.filtros{
		width: 25%;
		/*border: 1px solid black;	*/
		margin-top: 15px;
		margin-right: 50px;
		margin-bottom: 15px;
		margin-left: 15px;
		display: none;
	}

	.carta{
		width: 100%;
		height: 270px ;
		background: white;
		transition: .3s;
		margin-bottom: 50px;
		display: flex;
		border-radius: 3px;
		    border: .6px solid #dee1e6;
	}

	.carta2{
		width: 100%;
		height: auto;
		background: white;
		transition: .3s;
		margin-bottom: 50px;
		display: flex;
		border-radius: 3px;
	}


.repartidor{
	width: auto;
	height: auto;
}
	.cdias{
		/*border: 1px solid black;*/
		width: 100%;
		height: 8%;
		display: flex;
		justify-content: flex-end;
		transition: .2s;
	}
	.dias{
		color: red;
		padding: 5px 15px 0 0;
		font-size: 13px;
		transition: .2s;
	}

	.appM{
		position: absolute;
		width: 300px !important;
		z-index: 15;
		top: 30px;
		left: -120px;
	}
	.icons{
		padding-right: 25px;
		height: calc(100% - 25px) ;
		padding-top: 15px;
		position: relative;
	}
	.cnombreProyecto{
		/*border: 1px solid black;*/
		width: 100%;
		height: 28%;
		color: #9938B3;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	.nombreProyecto{
		padding: 0 ;
		padding-left: 25px !important;
		font-size: 18px;
		color: #9938B3;
		display: flex;
		flex-direction: column;
		font-weight: bold;
		height: calc(100% - 15px);
		padding-top: 15px;
	}
	.cutilidad{
		/*border: 1px solid black;*/
		width: 100%;
		height: 33%;
	}
	.utilidad{
		margin: 0 25px;
		border: 1px solid #e9e7ed;
		height: 100%;
		display: flex;
		justify-content: space-around;
		border-radius: 3px;
	}

	.contprogreso{
	    width: 68%;
	    height: 100%;
	    margin: 0 10px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;

	}
	.cprogreso{
		width: 100%;
		height: 36%;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

	.progreso{

		width: 100%;
		height: 10px;
		background: #DDDDDD;
		border-radius: 3px;
		margin: 7px 0;
	}
.alerta{
	font-size: 28px;
	color: #7d7d7d;
	font-weight: normal;
	cursor: pointer;
	margin-left: 3px;
}
.mat-tab-labels{
	background: white !important;
}
	.progresado{
		border-radius: 3px;
		/*width: 50%;*/
		height: inherit;
		background: rgba(153,38,174,1);
background: -moz-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(153,38,174,1)), color-stop(24%, rgba(153,38,174,1)), color-stop(100%, rgba(88,43,138,1)));
background: -webkit-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -o-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -ms-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: linear-gradient(to right, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9926ae', endColorstr='#582b8a', GradientType=1 );
	}
	.picProject{
		    border-top-right-radius: 5px;
		    border-bottom-right-radius: 5px;
		width: 40%;
		position: relative;
		background: #F2F2FD;
		/*background-image: url("https://pbs.twimg.com/profile_images/831544618097451008/7xJOQ0Xg.jpg");
		background-image: url("https://ds.valorizate.com.co/frontend/assets/images/hol.jpeg");*/
		background-repeat: no-repeat;
		background-position: center;
    	 background-size: cover;
	}
	.infoProject{
		width: 60%;
	}
	.plusvalia, .rentabilidad {

		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	p{
		margin: 15px 0;
	}
	.rent, .plus{
		text-align: center;
		font-size: 30px;
		color: #A9D758;
		/*line-height: 40px;*/
	}
	.newRent{
		text-align: center;
		font-size: 30px;
	}
	.plus{
		color: #999999 !important;
		margin-top: 0 !important;
		line-height: 40px;
	}
	.tituloc{
		font-size: 12px;
		color: #999999;
		text-align: center;
		margin-bottom: 0 !important;
	}
	.titulod{
		height: 0px;
		font-size: 12px;
		color: #999999;
		margin-bottom: 0 !important;
		margin-top: 15px !important;
		position: absolute;
	}
	.inicio{
		width: 20px;
		height: 18px;
	}
	.final{
		width: 23px;
		height: 21px;
	}
	.live{
		/*width: 40px;*/
		width: auto;
		text-align: center;
		color: red;
		border: 1px solid red;
		padding: 2px 3px;
		border-radius: 4px;
		font-size: 11px;
	}
	.alcanzado{
		color: #CCCCCC;
		margin-left: 5px;
		font-size: 12px !important;

	}
	.tasa{
		color: #A5D650;
		font-size: 12px !important;
	}

	.cardColorElement{
		color: #931DAB;

	}
	.meta{
		color: #931DAB;
		font-size: 9px !important;
	}
	.alcanzado, .tasa, .meta{
		font-size: 14px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
	}
	.otrafont{
		font-family: 'Roboto', sans-serif;
	}
	.carta:hover .dias{
		opacity: 0 !important;
		transform: translateX(20px) !important;
	}

	.carta:hover .starComponent{
		opacity: 1 !important;
	}



	.contfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
	}
	.contpic{
		/*border-top-right-radius: 5px !important;*/
		/*border-bottom-right-radius: 5px !important;*/
		border-radius: 3px;
		transition: .4s;
    width: 80px;
    height: 42px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
        position: absolute;
    top: 10px;
		right: -10px;
		z-index: 11;
		color: yellow;
		font-weight: bold;
	}
	.carta:hover .contpic{
		opacity: 1;

		/*margin:4px;*/
	}
		.verMas{
		opacity: 0;
		/*margin-bottom: 15px;*/
		margin: 7px 0 !important;
		/*transform: scale(0.1,0.1);*/
		transition: .3s;
	}

	.carta:hover .verMas{
		opacity: 1;
		/*transform: scale(1,1);*/
	}

		.carta:hover .controles{
		opacity: 1;
	}

	.carta:hover #fecha{
		opacity: 1;
		transform: translateX(0px);
	}

/*	.carta:hover #relojito{
		color: #FF5555 !important;
	}*/
	.favoritos{
		position: relative;
		    display: flex;
    justify-content: center;
    align-items: center;
	}

	.ingresarPer{
		width: 100px !important;
		height: 150px !important;
		border-radius: 50%;
		border: 1px solid white;
	}
	#regPerfil{
		transform: scale(0.1,0.1);
	    opacity: 0;
	    transition: .2s;
	    display: none;
	    -webkit-box-shadow: -2px 13px 22px -9px rgba(0,0,0,0.74);
    -moz-box-shadow: -2px 13px 22px -9px rgba(0,0,0,0.74);
    box-shadow: -2px 13px 22px -9px rgba(0,0,0,0.74);
	}
	.cuerpomodal{
	background: transparent !important;
    display: flex !important;
    justify-content: center !important;
    width: 400px;
    padding: 0;
	}
	.infile{

				width: 100px;
				height: 100px;
				cursor: pointer;
				border-radius: 50%;
				/*background-image: url("admin/assets/imagenes/fotodeperfil.jpg");
			    background-position: center !important;
			    background-size: cover !important;
			    background-repeat: no-repeat !important;*/
			}

#mes{
	position: absolute;
    bottom: 90px;
    width: 45px;
    text-align: center;
}
.controles{
	color: white;
	display: flex;
	justify-content: center;
	font-size: 20px !important;
	width: 100%;
	/*padding: 0 10px !important;*/
	opacity: 0;
transition: .2s;
}
.tiempo{
	width: 100%;
	text-align: center;
	color: white;
}
			#fecha{
			margin-top: 8px;
			opacity: 0;
			transform: translateX(-90px);
			transition: .3s;
			}
			#fecha div, #fecha span{
				font-size: 17px !important;
				color: #61DC95	;

			}
			.fechalabel {
				font-size: 11px !important;
				margin: 0 !important;
				color: #61DC95 !important;

			}
			.cuentaR{
			    height: 20px;
   				line-height: 20px;
				padding-left: 0px !important;
			}
			.primerac{
				padding-right: 5px !important;
				padding-left: 0 !important;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
			}


.contenedor-slider {
    width: 100%;
    height: 100%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
		background: #131313;
}

.slider {
  display: flex;
  width: 400%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 270px;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
  z-index: 999;
}

.btn-next {
  right: 10px;
  z-index: 999;
}
.contBut{
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: auto;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}
.contBut2{
	top: 0 !important;
	height: 45px !important;
}

#saberMas{
	color: #FFFF00 !important;

	background: rgba(153,38,174,1);
background: -moz-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(153,38,174,1)), color-stop(24%, rgba(153,38,174,1)), color-stop(100%, rgba(88,43,138,1)));
background: -webkit-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -o-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -ms-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: linear-gradient(to right, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9926ae', endColorstr='#582b8a', GradientType=1 );
}
#masaber{
	display: none;
}
@media screen and (max-width:863px){
    .lista{
        width: 100%;

    }

    .nombreProyecto {

    text-align: center;
    font-size: 16px;
		color: #9938B3;
}
}
@media screen and (max-width:1024px){

    .lista{
        width: 100%;
   		margin: 0;
    }

}

@media screen and (max-width:600px){
/*	#PoliCont{
		-webkit-clip-path: polygon(50% 0%, 99% 2%, 100% 100%, 0 100%, 0 2%);
		clip-path: polygon(50% 0%, 99% 2%, 100% 100%, 0 100%, 0 2%);
	}
*/
.alamie{
	display: flex !important;
}

.qsmax{
	display: none !important;
}

.subcm{
	opacity: 1 !important;
}

.contenidoAD2{
    width: calc(100% - 60px) !important;
    height: calc(100% - 70px);
    padding: 0 30px !important;
		margin-bottom: 20px;
}
.contenidoAD{
	width: 100%;
}
.contenidoADD{
	display: none;
}
	#masaber{
	display: initial;
	    text-align: center;
    display: flex;
}


    .lista{
        width: 100%;
   		margin: 0;
   		    display: flex;
    align-items: center;
    }
    .carta {
    width: 100%;
    height: 520px;
    background: white;
    transition: .3s;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 3px;
    align-items: center;
    margin-top: 120px;
}
.picProject{
width: 100%;
height: 50%;
}
.cdias{
	display: none;
}
    .nombreProyecto {
   width: 100%;
   font-size: 16px;
   padding:0;
   margin:20px 0;
	 color: #9938B3;
	 text-align: left;
}
.rent{
	font-size: 20px !important;
}
.infoProject {
    width: 100%;
}

.utilidad{
	margin: 10px;
}
.plusvalia{
	position: relative;
}
#mes {
    position: absolute;
    bottom: 10px;
    width: 45px;
    text-align: center;
}
.cprogreso{
	margin-bottom: 15px;
}
.seccion1 {
    margin-bottom: 150px;
    height: 600px;
}

.varMas{
	opacity: 1;
}
#fecha{
	opacity: 1;
}
/*#saberMas{
	position: absolute !important;
	top: 45% !important;
    left: calc(50% - 120px) !important;
}*/
.contpic{
	opacity: 1;
}

#fecha{
		opacity: 1;
		transform: translateX(0px);
	}

}

@media screen and (max-width:400px){

	#saberMas{
		display: none;
	}
	.carta{
		width: 100%;
	}

}

/*.loader{
	width: 100%;
	height: 100%;
}*/
