

	 <div class="overlay fuenteTitle"
	 [class.active]="statusModals === 'active'"
	 >
	<div class="loader" *ngIf="loading == true" ></div>

		<div class="modal" id="modal" *ngIf="loading == false"
		[ngStyle]="{animation: (statusModalsProfile=='active') ? 'Enters .5s forwards ease-in' : 'animationExit 2s forwards' }"
		>
				<div class="contMadrecita fuente"
				[ngStyle]="{animation: (statusModalsProfile=='active') ? 'Enters .5s forwards ease-in' : 'animationExit 2s forwards' }"
				>

				<div class="close" (click)="ocultar(); loading = true"> <mat-icon>close</mat-icon> </div>
				<!-- <h1 class="tittle fuente"> {{NModal[0].title}}</h1> -->

						<div class="contenidoModal" id="newConteModal">

								<div id="profileCard">
						 			<div class="fondoProfile"></div>
									<img [src]="perfilPic" alt="" width="140" height="130" id="profilePerfilPic">
									<p class="nombreUsuario fuenteTitle">{{user.name}} <span>( # {{userName}} )</span> </p>

									<div id="membershipWay" >
											<mat-icon>timer</mat-icon>
												<div id="barritas">
													<span id="thisCaduc" class="fuente fuenteTitle" *ngIf="caducaM >= 0">Membresía caduca en {{caducaM}} días</span>
													<span id="thisCaduc" class="fuente fuenteTitle" *ngIf="caducaM < 0">Membresía Caducada</span>
													<div id="progresadito" [style.width.%]="anchito" [style.background]="carinito">

													</div>
												</div>
											<mat-icon>timer_off</mat-icon>
									</div>


								</div>


						<div class="addComponenteCabron">


								<addUserComponent

								[formsource]="'created'"
		            [user]="user"
		            [open]="open"
								[visualizar]="visualizar"
								[traction]="traction"

								></addUserComponent>

							</div>




						</div>



				</div>

		</div>
	 </div>
