@media screen and (max-width:1060px){
	.modal {
    width: 100% !important;
	}
}

@media screen and (max-width:900px){

.contMadrecita{
    width: 100% !important;
	}
}

@media screen and (max-width:830px){
	.modal{
		padding: 0 !important;
	}
}

@media screen and (max-width:830px){

	#profilePerfilPic {
    margin-top: 10px !important;
    width: 70px !important;
    height: 70px !important;
	}

	.contenidoModal{
		flex-direction: column !important;
		position: relative;

	}
	#profileCard{
		position: absolute !important;
		top: -62% !important;
		height: 140px !important;
	}
	.nombreUsuario{
		font-size: 20px !important;
		margin-bottom: 50px !important;
	}
	.nombreUsuario p{
		font-size: 14px !important;
	}

	.modal{
		padding: 25px !important;
		margin-top: 200px !important;
	}
	#thisCaduc{
	    font-size: 10px !important;
	}
	.addComponenteCabron{
		width: 97% !important;
	}

}

@media screen and (max-width:650px){

	#profileCard{
		width: 60% !important;
	}
	.close{
	top: -40px !important;
	color: white !important;
	border-color: white !important;
	}
}


@media screen and (max-width:530px){

	#modal{
		padding: 0 !important;
	}

}

.overlay{
	background: rgba(0,0,0,.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display:flex;
	align-items: center;
	justify-content: center;
	transition: .08s ease-in;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	perspective: 1000px;
	perspective-origin: center;
}


.overlay.active{
	opacity: 1;
	visibility: visible;
}


/*.active{
	opacity: 1;
	visibility: visible;
}*/

.addComponenteCabron{
	height: calc(100% - 40px);
	padding-top: 40px;
	position: relative;
	width: 65%;
}

#profileCard{
	/*height: 110%;*/
	height: calc(110% - 50px);
	padding-bottom: 50px;
	width: 35%;
	/*background: #f3f3f3 !important;*/
	background: white !important;
	border-radius: 5px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	-webkit-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.57);
	box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.57);
	z-index: 99;
}

.fondoProfile{
	position: absolute;
	top: 0;
	height: 40%;
	background: white;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: url("../../../assets/profile/wall.jpg");
	      background-size: cover;
	      background-repeat: no-repeat;
	      background-position: center;
}

#profilePerfilPic{
	border-radius: 50%;
	position: relative;
	margin-top: 50px;
}

.nombreUsuario{
	font-size: 25px;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nombreUsuario span{
	color: #dadada;
	font-size: 12px;

}

.modal{
	width: 80%;
	height: 90%;
	position: relative;
	margin: 40px auto;
	/*background: white;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/*animation: animationIn .3s forwards;*/
	padding: 15px;
	border-radius: 7px;
	color: #475a68;
	transform-origin:center;
	}

	@keyframes animationEnter {

		0%{
			transform: scale(0,0);
			transform: rotateY(90deg);
		}

		80%{
		transform: rotateY(-3deg);
		}
		100%{
			transform: rotateY(0deg);
		}

	}


	@keyframes Enters {

		0%{
			transform: scale(0,0);
			opacity: 0;
		}
		20%{
			opacity: 1;
		}

		80%{
			transform: scale(1.1,1.1);
		}

		100%{
			transform: scale(1,1);
		}

	}

	@keyframes animationExit{

		0%{
			transform: translateY(0px);
		}
		100%{
			transform: translateY(-1000px);
		}

	}


	.contMadrecita{
		width: 95%;
		height: 60%;
		/*height: calc(100% - 50px);*/
		/*background: red;*/
		background: white;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		/*padding: 20px 5px 2px 5px;*/
		position: relative;
	}


	.close{
		position: absolute;
		right: 17px;
		top: 17px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 1px solid black;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 99;
	}
	.close mat-icon{
		font-size: 18px !important;
		width: auto !important;
		height: auto !important;

	}

	#newConteModal{
		flex-direction: row !important;
	}

	.contenidoModal{
		width: 100%;
		height: 100%;
		/*height: calc(100% - 150px);*/
		/*overflow-y: scroll;*/
		/*overflow-y: hidden;*/
		/*padding: 10px 20px;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.contenidoModal::-webkit-scrollbar {
	  width: 7px;
	}
	.contenidoModal::-webkit-scrollbar-thumb {
	  background: #475A68;
	}

	.flexModule{
		height: 220px !important;
		padding-right: 5px !important;
    padding-left: 5px !important;
		    width: calc(100% - 10px) !important;
	}

	#membershipWay{
	  width: calc(100% - 20px);
	  height: auto;
	  display: flex;
	  justify-content: space-around;
	  padding: 0 10px;
	  align-items: center;
	}
	#membershipWay mat-icon{
	  color: #7a00ff;
	}

	#barritas{
	  width: 70%;
	  height:10px;
	  background: #DDDDDD;
	  border-radius: 3px;
	  position: relative;
	}
	#thisCaduc{
	  position: absolute;
	  bottom: -20px;
	  color: #7a00ff;
	  width: 100%;
	  font-size: 13px;
	  text-align: center;
	}

	#progresadito{
	  border-top-left-radius: 3px;
	  border-bottom-left-radius: 3px;
	  height: 100%;
	  width: auto;
	  /*background: linear-gradient(to bottom right, #09E9A3, #2FAEC0);*/
	}
