  <div class="loader" *ngIf="visualizarHijo == ''"></div>
  <div *ngIf="visualizarHijo == 'projects'" class="formulario">

    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Proyecto">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <!-- <mat-cell *matCellDef="let element" class="taarget target" (click)="ver()" [routerLink]="['/projects', element.id]"> <img class="imgpool" *ngIf="element.pool"  src="../../../../assets/pool.png" width="30"> {{element.title}} </mat-cell> -->
          <mat-cell *matCellDef="let element" class="taarget target" (click)="ver()" [routerLink]="['/projects', element.id]"> <img [src]="element.image" class="imagenPro"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="target" >
          <mat-header-cell *matHeaderCellDef> Publico objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget targetclass" (click)="ver()" [routerLink]="['/projects', element.id]" >  {{element.target}} </mat-cell>
          <!-- <mat-icon>remove_red_eye</mat-icon> -->
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="epaIcos icover">
            <mat-icon class="ico iconshi">settings</mat-icon>

            <div class="epaIco">
                    <mat-icon class="ico  conde" matTooltip="Editar" [routerLink]="['/projects', element.id]" (click)="editar('projectEdited')">replay</mat-icon>
                    <!-- <mat-icon class="ico conde" matTooltip="Eliminar" (click)="borrarProyecto(element.id)">delete</mat-icon> -->
                    <mat-icon class="ico conde" matTooltip="Eliminar" (click)="openDialog(element.id)">delete</mat-icon>

            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
