.conteFormulario{
  display: flex;
  width: 100%;
}

.contAnuncioss{
  width: 400px;
  border: 1px solid grey;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:4px;
  cursor: pointer;
}
.noHayList{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#noVerifyTable{
  width: 100%;
  height: auto;
}
#noVerifyTable tr>td{
  /*display: flex;*/
  /*align-items: center;*/
  line-height: 45px;
  /*flex-direction: column;*/
  padding: 0 20px;
  height: 45px;
  border-bottom: 1px solid #E3E3E3;
  background: #f0f0f0;
color: #475A68;
width: 33%
}
#usersNoverify::-webkit-scrollbar {
  width: 7px;
}
#usersNoverify::-webkit-scrollbar-thumb {
  background: #e3e3e38a;
}
.clasetd{
  width: 100%;
  /*height: 100%;*/
  display: flex;
  align-items: center;
  cursor: pointer;
}

.clasetd:hover .apa{
  display: flex !important;
}
.clasetd:hover .desa{
  display: none !important;
}
.itemRow{
  width: 33%;
  display: flex;
  align-items: center;
}
.alg-center{
  text-align: center;
  display: flex;
  justify-content: center;
}
.textNoverify{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 13px;

}
.estamasPe{
  font-size: 12px;
  color: red;
  justify-content: flex-end !important;
}
.estamasPe  div{
  display: flex;
  align-items: center;
}
.apas{
  color: red !important;
}

.apa{
  display: none !important;
  align-items: center;
  color: rgb(88, 144, 255);
    /*color: #97ce2b !important;*/
}
#LaReputa{
  /*color: #97ce2b !important;*/
  color: rgb(88, 144, 255) !important;
}

#LaReputas{
  color: red;
}
.apa mat-icon{
  color: #97ce2b !important;
}
.estamasPe mat-icon{
  color: red !important;
}
.taargets{
  display: flex;
  justify-content: center;
}
#toShit mat-icon{
  color: red !important;
}
#toShit{
  display: flex;
  justify-content: center;
}

#BlackList{
  width: 100%;
  height: 50px;
  padding: 0 15px;
}

#usersNoverify{
  width: 100%;
  /*height: 100px;*/
  height: auto;
  /*height: 100%;*/
  /*background: red;*/
  overflow-y: scroll;
  overflow-x: hidden;
  /*padding-top: 40px;*/
  transition: .3s;
  position: relative;
  /*background: #d2d0d0;*/
  /*background: white;*/
}
.ssdf{
  font-size: 14px;
}
.NoverifyClose{
  padding: 0 !important;
  height: 0 !important;
}

.PicturePerfil{
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  margin-right: 17px;
}
mat-slide-toggle{
  margin-right: 17px !important;
}

p{
  margin: 0;
}
.aja{
  margin-right: 8px;
}

.imgpool{
  margin-right: 10px;
}
.targetclass{
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
}
mat-icon{
  margin-left: 5px;
}

.formulario{
  width: 50%;
}

.form{
      padding: 100px;
}

.contAnuncioss mat-icon{
  margin-right: 15px;
  font-size: 35px !important;
  width: auto;
  height: auto;
}
.agregarNuevo{
  width: 100%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  margin-bottom: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}


.imagenPro{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.mat-elevation-z8{
  box-shadow: none !important;
}

mat-table::-webkit-scrollbar {
  width: 7px;
}
mat-table::-webkit-scrollbar-thumb {
  background: #c9ced8;
}

.epaIco{
  text-align: center;
}

mat-header-cell{
  text-align: center;
}


.conde{
  transition: .1s;
  opacity: 0;
}

.conde:hover{
  color: #c3c3c3;
}
/*
.icover:hover .iconshi{
  opacity: 0;
}
.icover:hover .conde{
  opacity: 1;
}*/

mat-row{
  cursor: pointer;
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: none;
  font-size: 12px !important;
}
mat-row:hover mat-cell{
  /*color: #7a00ff !important;*/
  color: #acdb91 !important;
  font-weight: bold;
}

mat-cell{
  font-size: 13px !important;
}

mat-row:hover{
  background: #fffff6cf;
  /*border: 1px solid #80808057;*/
  transition: .3s;
}


mat-row:hover .iconshi{
  opacity: 0;
}
mat-row:hover .conde{
  opacity: 1;
}



.ico{
  font-size: 22px;
  color: #5656562b;
  cursor: pointer;
}

.epaIco{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  width: 95%;
justify-content: flex-end;
  /*padding-right: 15px;*/
}
.epaIcos{
  position: relative;
      width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}
.iconshi{
  transition: .05s;
}



.mat-header-row{
  display: none;
}

.example-header[_ngcontent-c8] {
    margin-bottom: 20px;
}

.taarget{
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*color: #a7a7a7;*/
  color: grey;
  font-size: 15px;
}
.taarget mat-icon{
  font-size: 18px;
  display: flex;
  align-items: center;
}

.goodes{
  display: flex;
  align-items: center;
}
.goodes mat-icon{
  color: #acdb91;
}

.target{
  justify-content: left !important;
}

.formulario{
  background: white;
  width: 100%;
  border: 1px solid #c1c1c154;
}
