
<div *ngIf="visibles == true">
  <div class="panelAdmin" *ngIf="!loading"
  [class.medio]="panelState === 'mediOpen'"
  [class.detalle]="panelState === 'detalle'"
  [class.lista]="panelState === 'lista'"
  [class.editeds]="panelState === 'projectEdited'"
  [class.edited]="panelState === 'edit'"
  [class.medioEdited]="panelState === 'medioEdited'"
  [ngStyle]="{'display': (adminVisible !='visible') ? 'none' : 'initial' }"
  >
  <div  *ngIf="panelState != 'projectEdited'"(click)="panelState = 'oculto'" class="ocultar fuente">X</div>
  <div *ngIf="panelState == 'projectEdited'" [routerLink]="['/admin']" class="ocultar fuente">X</div>

  <div  class="mas fuente" (click)="panelState = 'edit'" *ngIf="panelState == 'medioEdited'" ><p>Ver mas</p>  <img src="../../../assets/up.png" width="12"> </div>

    <div class="ctA degradadoBack fuente editar"
    [ngStyle]="{'visibility': (buttonSave==true) ? 'visible' : 'hidden' }"
     (click)="editarProject()">Guardar Cambios</div>

    <div class="izq " [class.editedPestain]="panelState === 'medioEdited' || panelState === 'projectEdited' || panelState === 'edit'" (click)="panelState = 'medioEdited'">
      <mat-icon class="payment">settings</mat-icon>
      <h5 class="tituloCoin fuente">{{respuesta}}</h5>
    </div>

      <!-- <div class="controlAdmin" > -->
      <div class="loader" *ngIf="loading"></div>

         <div class="containerAdd" >
          <addComponent [projects]="projects" [formsource]="'edited'" (sendExchage)="sendExchange($event)" (sendSocialNetwork)="sendSocialNetwork($event)" (sendMultimedia)="sendMultimedia($event)" (sendNotice)="sendNotice($event)" (sendPool)="reciboPool($event)"></addComponent>
        </div>

        <div class="containerAdd" >
         <editComponent [projects]="projects" (projecto)="reciboProjecto($event)" (sendStars)="reciboStars($event)"></editComponent>

       </div>
      <!-- </div> -->

    <!--DIV CIERRE PANELADMIN  -->

  </div>

</div>
