
.panelAdmin{
  width: 100%;
  position: fixed;
  height: 100%;
  bottom: -100%;
  transition: .3s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: white;
  border-top: 1.4px solid transparent;
  border-image: linear-gradient(to right, #d800ff , #7a00ff);
  border-image-slice: 1;
}
.coua{
  background: transparent !important;
  z-index: 99;
}

#carguita{
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  z-index: 99;
  background: #ffffffc2;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  /*align-items: flex-start;*/
}
.ocultar{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /*background: black;*/
  border: 2px solid grey;
  font-size: 12px;
  font-weight: bold;
}
.edited, .editeds{
  bottom: 0% !important;
  width: 100%;
}
.medioEdited{
  bottom: -50% !important;
  width: 100%;
  display: initial !important;
}


.editedPestain{
  top: 40px !important;
  border: white !important;
  color: #c4cad8eb !important;
  /*opacity: 0;*/
}
.editedPestain h5{
  color: #c4cad8eb !important;
}
.detalle{
  bottom: -100%;
  width: 100%;
}
.lista{
  bottom: -110%;
  /*width: 100%;*/
}

.controlAdmin{
  width: calc(100% - 50px);
  height: 100%;
  background: white;
  border-top: 1px solid #ff7ca8;
  border-right: 1px solid #ff7ca8;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 25px;
  color: black;
  position: relative;
}
.containerAdd{
  width: 100%;
  height: 50%;
  /*position: absolute;*/
  position: relative;
  /*bottom: 10px;*/
  top: 40px;
}

.tituloCoin{
  color: black;
  padding-left: 10px;
}

mat-spinner{
  width: 10px;
}

.izq{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  position: absolute;
  top: -60px;
  background: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid grey ;
  transition: .3s;
  padding: 0 15px;
  /*border: 1px solid transparent;*/
  /*border-image: linear-gradient(to right, #d800ff , #7a00ff);*/
  /*border-image-slice: 3;*/
}
.izq mat-icon{
  /*color: #7a00ff ;*/
}
.editar{
  position: absolute;
  width: 120px !important;
  height: 35px;
  /*margin: 10px;*/
  /*background: red;*/
  top: 7px;
  right: 80px;
  font-size: 13px;
}

/*.izq h5{
  background: linear-gradient(to bottom right, #d800ff , #7a00ff);
  -webkit-background-clip: text;
  color: transparent;
}*/
.medio{
  bottom: -50% !important;
  width: 100%;
}
.epapp{
  margin-top: 30px;
}

.mas{
  width: auto;
  height: 47px;
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mas img{
  margin-left: 10px;
  animation: upi 1s infinite;
}

.mas:hover p{
  opacity: 1;
  transform: translateX(5px);
}

.mas P{
  transition: .3s;
  opacity: 0;
  transform: translateX(20px);
  font-size: 12px;
  color: #7a00ff;
}

@keyframes upi{

  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-3px);
  }
  100%{
    transform: translateY(0px);
  }


}
