

	 <div class="overlay"
	 [class.active]="statusModal === 'active'"
	 >


		<div class="modal fuenteTitle" id="modal"
		[ngStyle]="{animation: (statusModal=='active') ? 'animationIn4 .5s forwards ease-in' : 'animationOut4 2s forwards' }"
		>
				<div class="contMadrecita fuente"
				[ngStyle]="{animation: (statusModal=='active') ? 'IN4 .5s forwards ease-in' : 'animationOut4 2s forwards' }"

				>
				<div class="close" (click)="ocultar()"> <mat-icon>close</mat-icon> </div>
				<!-- <h1 class="tittle fuente"> {{NModal[0].title}}</h1> -->

						<div class="contenidoModal">

								<div class="indicaStage" *ngIf="paso != 0" >
										<div class="stage actives"
											[style.left.%]="traction">

											<div class="circulo"></div>
									 </div>

									<div [ngStyle]="{'color': (paso==1) ? '#9227ac' : '#7230a2' }" class="stage fuente">1</div>
									<div [ngStyle]="{'color': (paso==2) ? '#9227ac' : '#7230a2' }" class="stage fuente">2</div>
									<div [ngStyle]="{'color': (paso==3) ? '#9227ac' : '#7230a2' }" class="stage fuente">3</div>
									<div [ngStyle]="{'color': (paso==4) ? '#9227ac' : '#7230a2' }" class="stage fuente">4</div>
									<div [ngStyle]="{'color': (paso==5) ? '#9227ac' : '#7230a2' }" class="stage fuente">5</div>
				  			</div>

								<div class="contenidoModal">

											<img
											[ngStyle]="{animation: (paso==0) ? 'IN4 .7s forwards ease-in' : 'IN4 .2s ' }"
											src="{{feedTemplate[paso].img}}" width="160">

										<div class="tituModal" >
											<h2 class="tituModal fuenteTitle"
											[ngStyle]="{'font-size': (feedTemplate[paso].title == '¡Hola!') ? '45px' : '18px' }"
											[ngStyle]="{'margin-top': (paso==0) ? '10px' : '34px' }"
											[ngStyle]="{animation: (paso==0) ? 'IN .7s forwards ease-in' : 'IN .2s ' }"
											>{{feedTemplate[paso].title}}</h2>
										</div>

										<div class="descriModal"
										[ngStyle]="{'font-size': (paso==0) ? '20px' : '14px' }"
										[class.vip]="contenidoModal=='VIP'"
										>
										<!-- <p >{{feedTemplate[paso].description}}</p> -->
										<div class="descriModals fuenteTitle">

										<p class="fuenteTitle" [innerHTML]="feedTemplate[paso].description"></p>

										<div *ngIf="feedTemplate[paso].links" class="linkes">

											<div  class="titleAD fechAD linki"    [matMenuTriggerFor]="menu">
												Ver Guía
											 <mat-menu #menu="matMenu" id="linksGuias">

 												<button mat-menu-item *ngFor="let link of feedTemplate[paso].links" >
 													<a class="links">{{link.name}}</a>
 												</button>

 											</mat-menu>

										 </div>

										</div>

										</div>






										<!-- <div class="iconos" *ngIf="feedTemplate[paso].links">
											<div class="createdAD">

											 <div  class="titleAD fechAD linki"    [matMenuTriggerFor]="menu">
												 <img src="../../assets/link.png" width="20">
											 </div>

											</div>
											<mat-menu #menu="matMenu">
												<div>

													<button mat-menu-item *ngFor="let link of feedTemplate[paso].links" >
													<mat-icon class="links">link</mat-icon>
													<a class="links">{{link.name}}</a>
												</button>
											</div>
											</mat-menu>
										</div> -->






										</div>

							</div>
						</div>



						<div class="Actions fuente">
							<a *ngIf="controlPosition == 'finaliza'" class="ok coloBtn bttn" (click)="ocultar()">Finalizar <mat-icon>keyboard_arrow_right</mat-icon> </a>

							<a *ngIf="controlPosition == 'visible'" class="exitt bttn" (click)="desplazar('atras');">Atras</a>
							<a *ngIf="controlPosition == 'visible'" class="ok coloBtn bttn" (click)="desplazar('next')">Siguiente <mat-icon>keyboard_arrow_right</mat-icon> </a>

							<a *ngIf="controlPosition == 'inicio'" class="exitt bttn" (click)="ocultar();">Ahora no</a>
							<a *ngIf="controlPosition == 'inicio'" class="ok coloBtn bttn" (click)="desplazar('next')">Iniciemos <mat-icon>keyboard_arrow_right</mat-icon> </a>

							<a *ngIf="controlPosition == 'VIP'" class="ok coloBtn bttn" (click)="ocultar()">Finalizar  </a>
						</div>

				</div>

		</div>
	 </div>


	 <!-- <div class="sinDesplegar contenidoMH" id="contenidoMH"

	 	[ngStyle]="{animation: (status=='active') ? 'desplegar .2s forwards ease-in' : 'plegar .2s forwards' }"
	 	[ngClass]="(status=='active') ? token.clase : null"
	 	>
	 	<div class="contenido"	[ngStyle]="{animation: (status=='active') ? 'conteShow .3s forwards ease-in' : 'conteHide .2s forwards ease-in' }">

	 		<p class="conTitu">{{token.title}}</p>

	 		<div class="contScrollMH">
	 			<p class="descrip">{{token.description}}</p>
	 			<p class="descrip" *ngIf="token.regla2 != null" class="descrip">{{token.regla2}}</p>
	 			<p class="descrip" *ngIf="token.regla3 != null" class="descrip">{{token.regla3}}</p>
	 		</div>

	 	</div>

	 </div> -->
