
#contenedorModal{
	width: 100%;
	height: 100% !100%;;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	/*display: none;*/
}

.tituModal{
	font-size: 18px ;
}
.linkes{
	color: red;
	position: absolute;
	bottom: -30px;
	right: 0;
	font-size: 13px !important;
	cursor: pointer;
}
.indicaStage{
	width: 300px;
	height: 45px;
	/*background: yellow;*/
	display: flex;
	 overflow: hidden;
	 position: relative;
	 align-items: center;
}
.vip::-webkit-scrollbar {
  width: 7px;
}
.vip::-webkit-scrollbar-thumb {
  background: #9826ae24;
}

.vip{
	font-size: 14px !important;
	height: 225px;
	overflow-y: scroll;
}
.descriModal{
	width: 70%;
	padding: 10px 25px;
}
.descriModals{
	position: relative;
}
.descriModals p{
	/*transition: .2s;*/
	/*font-size: 14px;*/
	text-align: center;
	font-weight: bold;
	/*background: linear-gradient(yellow,red);*/
	background: linear-gradient(to top right, #9826AE, #61349E);
	-webkit-background-clip: text;
	color: transparent;
}
.tituModal{
	width:100%;
	height:auto;
}
.tituModal h2{
	transition: .3s;
	text-align: center;
	font-size: 18px;
	/*margin-top: 34px;*/
	background: linear-gradient(to top right, #9826AE, #61349E);
	-webkit-background-clip: text;
	color: transparent;
}
.stage{
	transition:.3s;
	height: inherit;
	width: 20%;
	color: #7230a2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	/*background: red;*/
	/*border: 1px solid yellow;*/
}
button.mat-menu-item {
    width: 100%;
		border-top: 1px solid rebeccapurple;
		border-left: 1px solid rebeccapurple;
		border-right: 1px solid rebeccapurple;
    color: rebeccapurple;
}
button.mat-menu-item:hover {
    width: 100%;
}
.actives{
	transition: .3s;
	/*background: black !important;*/

	position: absolute;
	/*left: -20%;*/
}

.circulo{
	height:30px;
	width: 30px;
	border: 1px solid #9028ab;
	border-radius: 50%;
}
.overlay{
	background: rgba(0,0,0,.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display:flex;
	align-items: center;
	justify-content: center;
	transition: .08s ease-in;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	perspective: 1000px;
	perspective-origin: center;

}

.active{
	opacity: 1;
	visibility: visible;
}


.ok{
	width: auto;
	height: 37px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 2px solid #475a68;*/
	cursor: pointer;
	padding: 0 10px;
	padding-left: 20px;
}


.tittle{
	text-align: center;
}

.overlay.active{
	opacity: 1;
	visibility: visible;
}

.modal{
	width: 70%;
	height: 90%;
	position: relative;
	margin: 40px auto;
	/*background: white;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/*animation: animationIn .3s forwards;*/
	padding: 15px;
	border-radius: 7px;
	color: #475a68;
	transform-origin:center;
	}

	@keyframes animationIn4 {

		0%{
			transform: scale(0,0);
			transform: rotateY(90deg);
		}

		80%{
		transform: rotateY(-3deg);
		}
		100%{
			transform: rotateY(0deg);
		}

	}


	@keyframes IN4 {

		0%{
			transform: scale(0,0);
			opacity: 0;
		}
		20%{
			opacity: 1;
		}

		80%{
			transform: scale(1.1,1.1);
		}

		100%{
			transform: scale(1,1);
		}

	}

	@keyframes animationOut4{

		0%{
			transform: translateY(0px);
		}
		100%{
			transform: translateY(-1000px);
		}

	}

	.exitt{
		width: calc(120px - 20px);
height: 35px;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: 0 10px;
border: 2px solid #6735A0;
color: #6735A0;
	}

	.bttn{
		margin: 0 15px !important;
	}


.contMadrecita{
	width: 100%;
	height: calc(100% - 50px);
	/*background: red;*/
	background: white;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 25px 0;
	position: relative;
}

.close{
	position: absolute;
	right: 17px;
	top: 17px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.close mat-icon{
	font-size: 18px !important;
	width: auto !important;
	height: auto !important;

}

.contenidoModal{
	width: calc(100% - 40px);
	height: 100%;
	/*height: calc(100% - 150px);*/
	/*overflow-y: scroll;*/
	overflow-y: hidden;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenidoModal::-webkit-scrollbar {
  width: 7px;
}
.contenidoModal::-webkit-scrollbar-thumb {
  background: #475A68;
}

.Actions{
	padding-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 70px;*/
}
