<div class="divi">

<!-- ESTE MENU SOLO SE MOSTRARA CUANDO SEA UN FORMULARIO DE EDICIÓN DE PROYECTO -->
  <!-- <div class="menuFeed" *ngIf="formsource == 'edited'">

    <div class="items fuente">

      <div class="itemActive" [style.width.%]="itemActiveAncho"  [style.left.%]="traction"> </div>

      <div class="item item2" (click)="noticia()" >Suscripciones</div>
      <div class="item item2" (click)="rrss()" >Historial de Pago</div>
      <div class="item item2" (click)="exchange()"  >Billeteras</div>
    </div>
  </div> -->


<!-- ESTE MENU SOLO SE MOSTRARA CUANDO SEA UN FORMULARIO DE CREACIÓN DE PROYECTO -->
  <div class="menuFeed feedMenu" *ngIf="formsource == 'created'">

    <div class="items2 fuente">

      <div class="itemActive" [style.width.%]="itemActiveAncho"  [style.left.%]="traction"> </div>

      <div class="item item3 fuenteTitle" id="id1" (click)="general(); cancelar()">General</div>
      <div class="item item3 fuenteTitle" id="id2" (click)="billetera(); cancelar()" >Billeteras</div>
      <div class="item item3 fuenteTitle" id="id3" (click)="history(); cancelar()"  >Historial de Pago</div>
      <div class="item item3 fuenteTitle" id="id4" (click)="suscripcion(); cancelar()" >Suscripciones</div>

    </div>

  </div>

  <hr>

</div>



<div id="carguita" *ngIf="carguita == true">
  <mat-spinner id="rolee"></mat-spinner>
</div>




<div class="flexModule">


<!-- AQUÍ VAN LAS LISTAS DE CADA SECCIÓN -->


<!-- viusalización de información general usuario -->
        <div class="contForm" *ngIf="visualizar == 'general'">



          <div id="perfiLabels" *ngIf="infoPerfil == 'miPerfil' && perfilEdited == false" >

            <!-- <div id="editars"  matTooltip="Editar" (click)="perfilEdited = true">
              <mat-icon>edit</mat-icon>
            </div> -->

            <div class="infoGen fuenteTitle">
              <p> <mat-icon>mail_outline</mat-icon> <span class="etiquetaSpan">Mail: </span> {{user.email}}</p>
              <p> <mat-icon>card_membership</mat-icon> <span class="etiquetaSpan">Rol: </span> {{user.role}}</p>
              <p> <img src="../../../../assets/birth.png" height="18"><span class="etiquetaSpan">Cumple: </span> {{user.birth | amLocale:'es' | amDateFormat:'MMMM D - YYYY'}}</p>
            </div>

            <div class="nivelUser">
                <div class="nivelData">
                  <div class="contLvl">
                      <!-- {{user.level}} -->
                      10
                      <p><mat-icon>trending_up</mat-icon> Nivel</p>
                  </div>
                </div>
            </div>

          </div>






        <!-- EDITABLE INFORMACIÓN GENERAL DE USUARIO -->
            <form (ngSubmit)="userChange(f)" #f="ngForm" class="formu fuenteTitle" *ngIf="infoPerfil != 'miPerfil' || perfilEdited == true">
              <div class="inputsos" >
                  <div class="conteInp inp22" *ngIf="infoPerfil != 'miPerfil'">
                    <div  class="contMem" (click)="abrirAnadidor()" >

                      <div (click)="abrirAnadidor()" *ngIf="user.percentagePassed > 90"  class="fuente editMe degradadoBack ">
                        <p id="caducex">Membresía caduca en {{user.diasRestante}} días.</p> <mat-icon>mode_edit</mat-icon> Renovar Membresía
                      </div>

                      <p *ngIf="user.percentagePassed < 80" class="caducam fuente">Membresía caduca en {{caduca}} días.</p>
                      <p *ngIf="user.percentagePassed > 80" class="caducam  caducam2 fuente">{{caduca}} días, RENOVAR MEMBRESÍA</p>


                            <div class="progressMember">
                              <div class="progressedMember"  [style.width.%]="user.percentagePassed"
                                [style.background]="colorFondo"
                              >
                              </div>
                            </div>
                      </div>




                    <input
                     placeholder="Usuario Discord"
                     name="userName"
                     [(ngModel)]="user.userName"
                     [disabled]="true"
                     >

                     <!-- <mat-form-field >
                       <mat-select [(value)]="rol" name="role" [(ngModel)]="user.role" [placeholder]="user.role" >
                         <mat-option value="regular" >General</mat-option>
                         <mat-option value="vip" >Vip</mat-option>
                       </mat-select>
                     </mat-form-field> -->
                     <div class="infoGens">
                       <p> <span class="etiquetaSpan">Rol: </span> {{user.role}}</p>
                     </div>



                 </div>

                  <div class="conteInp inp22">
                    <div class="conteBirth">
                      <img src="../../../../assets/birth.png" width="16" height="16" class="imgBirth">
                      <input (click)="changeSave()" [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="user.birthday" name="birthday" id="birth">
                      <div class="pikers">
                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                      </div>
                    </div>

                    <input
                     placeholder="Nombre de usuario"
                     name="name"
                     [(ngModel)]="user.name"
                     (change)="changeSave()"
                     >
                     <input
                      placeholder="Email"
                      name="email"
                      [(ngModel)]="user.email"
                      (change)="changeSave()"
                      >

                  </div>

                     <!-- <div class="contInputPay">
                       <input
                        placeholder="Billetera"
                        name="address"
                        ngModel>
                     </div> -->

              </div>

              <div id="contSendUser" *ngIf="infoPerfil == 'miPerfil' || perfilEdited == true">
                <button id="enviarUsers" class="ctA fuente degradadoBack" type="submit" mat-raised-button>Actualizar Usuario</button>
              </div>

                <button id="enviarUsuario" type="submit" mat-raised-button >-.-</button>
          </form>
      </div>




<!-- viusalización de lista Suscripciones proyectos usuario -->
  <div *ngIf="visualizar == 'suscripcion'" class="tabla fuenteTitle">
    <!-- <table matSort (matSortChange)="sortData($event)"> -->
    <table>
    <tr>
      <th class="fuenteTitle">Suscripciones</th>
    </tr>

    <tr *ngFor="let subsc of suscripciones" class="icover">
      <td class="fuenteTitle">{{subsc.coinName}}</td>
    </tr>
  </table>

  </div>



  <!-- viusalización de lista historial payments -->
    <div *ngIf="visualizar == 'historial'" class="tabla fuenteTitle">
      <!-- <table matSort (matSortChange)="sortData($event)"> -->
      <table class="tablepayment">
      <!-- <tr class="cabezados">
        <th>Fecha de pago</th>
        <th>Wallet</th>
        <th></th>
      </tr> -->

      <tr *ngFor="let pay of payments" class="icover">
        <td  class="filita fuenteTitle"><div class="fromRed"><mat-icon *ngIf="pay.verified == true">done</mat-icon> <mat-icon class="noVerify" *ngIf="pay.verified == false" matTooltip="Click para confirmar pago">history</mat-icon> <p [class.noVerify]="pay.verified == false">{{pay.createdAt | amLocale:'es' | amDateFormat:'MMMM D - YYYY'}}</p> </div></td>

        <div class="filita" *ngIf="!pay.wallet">
          <td class="trxx">
            <div class="fromRed">
              <p class="fuenteTitle">Wallet eliminada</p>
            </div>
            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>TxId:</p><a href="https://blockchain.info/es/tx/{{pay.txId}}" target="_blank" class="txidl">{{pay.txId}}</a>
            </div>
          </td>
        </div>

        <div *ngIf="pay.wallet" class="filita unicoCabron fuenteTitle">
          <td class="trxx" *ngIf="pay.wallet.type == 'bitcoin'">
            <div class="fromRed">
              <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1.png" class="logo-sprite" width="16" height="16">
              <a href="https://blockchain.info/es/address/{{pay.wallet.address}}" target="_blank">{{pay.wallet.name}}</a>
            </div>

            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>TxId:</p><a href="https://blockchain.info/es/tx/{{pay.txId}}" target="_blank" class="txidl">{{pay.txId}}</a>
            </div>
          </td>

          <td class="trxx" *ngIf="pay.wallet.type == 'litecoin'">
            <div class="fromRed">
              <img src="../../../../assets/coins/litecoin.png" class="logo-sprite" width="16" height="16">
              <a href="http://explorer.litecoin.net/address/{{pay.wallet.address}}" target="_blank">{{pay.wallet.name}}</a>
            </div>

            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>TxId:</p><a href="http://explorer.litecoin.net/tx/{{pay.txId}}" target="_blank" class="txidl">{{pay.txId}}</a>
            </div>
          </td>


          <td class="trxx" *ngIf="pay.wallet.type == 'ethereum'">
            <div class="fromRed">
              <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1027.png" class="logo-sprite" width="16" height="16">
              <a href="https://etherscan.io/address/{{pay.wallet.address}}" target="_blank">{{pay.wallet.name}}</a>
            </div>

            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>TxId:</p><a href="https://etherscan.io/tx/{{pay.txId}}" target="_blank" class="txidl">{{pay.txId}}</a>
            </div>
          </td>
        </div>
        <td class="epaIcos" *ngIf="pay.verified == false" >
          <mat-icon class="ico iconshi">settings</mat-icon>
            <!-- <div class="epaIco" *ngIf="formsource == 'edited'">
              <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('exchange',exc.link)">delete</mat-icon>
            </div> -->
            <div class="epaIco">
              <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('historial', pay.txId, pay.id)">delete</mat-icon>
            </div>
       </td>
       <td class="epaIcos ajatu" *ngIf="pay.verified == true" >
       </td>
      </tr>
    </table>

    </div>




    <!-- viusalización de lista billeteras Wallets -->
      <div *ngIf="visualizar == 'billeteras'" class="tabla">
        <!-- <table matSort (matSortChange)="sortData($event)"> -->
        <table>
        <tr>
          <th class="fuenteTitle">Nombre Wallet</th>
        </tr>

        <tr *ngFor="let pay of billeteras" class="icover">
          <td class="filita">
            <div class="fromRed fuenteTitle">
              <mat-icon class="bank">account_balance_wallet</mat-icon>
              <p [class.noVerify]="pay.verified == false">{{pay.name}}</p>
            </div>
          </td>


        <div class="filita fuenteTitle" *ngIf="!pay.wallet">
          <td *ngIf="pay.type == 'bitcoin'"  class="trxx">
            <div class="fromRed">
              <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1.png" class="logo-sprite" width="16" height="16">
              <a href="https://blockchain.info/es/address/{{pay.address}}" target="_blank">{{pay.type}}</a>
            </div>

            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>Address:</p><a href="https://blockchain.info/es/address/{{pay.address}}" target="_blank" class="txidl">{{pay.address}}</a>
            </div>
          </td>


          <td *ngIf="pay.type == 'ethereum'" class="trxx">
            <div class="fromRed">
              <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1027.png" class="logo-sprite" width="16" height="16">
              <a href="https://etherscan.io/address/{{pay.address}}" target="_blank">{{pay.type}}</a>
            </div>

            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>Address:</p><a href="https://etherscan.io/address/{{pay.address}}" target="_blank" class="txidl">{{pay.address}}</a>
            </div>
          </td>

          <td *ngIf="pay.type == 'litecoin'" class="trxx">
            <div class="fromRed">
              <img src="../../../../assets/coins/litecoin.png" class="logo-sprite" width="16" height="16">
              <a href="http://explorer.litecoin.net/address/{{pay.address}}" target="_blank">{{pay.type}}</a>
            </div>

            <div class="txrow">
              <img src="../../../../assets/raiz.gif">
                <p>Address:</p><a href="http://explorer.litecoin.net/address/{{pay.address}}" target="_blank" class="txidl">{{pay.address}}</a>
            </div>
          </td>
        </div>

          <td class="epaIcos">
            <mat-icon class="ico iconshi">settings</mat-icon>
              <!-- <div class="epaIco" *ngIf="formsource == 'edited'">
                <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('exchange',exc.link)">delete</mat-icon>
              </div> -->
              <div class="epaIco">
              <!-- <div class="epaIco" *ngIf="formsource == 'created'"> -->
                <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('billetera', pay.address, pay.id)">delete</mat-icon>
              </div>
         </td>
        </tr>
      </table>

      </div>









<!-- ESTA ES LA NAVE CORREDIZA DONDE VIENEN LOS FORMULARIOS -->
  <div class="anadidorNave" [style.top.%]="open" >
    <div class="anadidor" >
      <!-- Aqui va todo el contenido de los formularios -->

<!-- FORMULARIO PARA CREAR PAGO PAYMENTS -->
        <div class="contForm" *ngIf="visualizar === 'historial'">




            <form (ngSubmit)="newPay(f)" #f="ngForm" class="formu">
              <div class="inputso">
                  <div class="conteInp">


                     <div class="walletPrede">
                         <mat-form-field>
                           <!-- <mat-select name="walletPred" [(ngModel)]="" placeholder="preterminada"  > -->
                           <mat-select name="walletPred" ngModel placeholder="preterminada"  >
                             <mat-option *ngFor="let bi of billeteras" [value]="bi.type" (click)="predeterminados(bi)">
                                 {{bi.name}}
                             </mat-option>
                           </mat-select>
                         </mat-form-field>
                     </div>

                     <div class="contInputPay">
                       <input
                        placeholder="Billetera"
                        name="address"
                        [(ngModel)]="walletPredet">

                        <mat-form-field>
                          <mat-select [(value)]="selected" name="type" [(ngModel)]="selected">
                            <mat-option value="ethereum">Ethereum</mat-option>
                            <mat-option value="bitcoin">Bitcoin</mat-option>
                            <mat-option value="litecoin">Litecoin</mat-option>
                          </mat-select>
                        </mat-form-field>
                     </div>
                     <input
                      placeholder="TxId Transacción"
                      name="txId"
                      ngModel>

                  </div>
              </div>
              <div class="comandos2">
                <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Crear Pago</button>
                <div class="ctA fuente cancelar" (click)="cancelar()">Cancelar</div>
              </div>
          </form>
      </div>



      <!-- FORMULARIO PARA CREAR BILLETERA WALLET -->
              <div class="contForm" *ngIf="visualizar == 'billeteras'">
                  <form (ngSubmit)="newWallet(f)" #f="ngForm" class="formu">
                    <div class="inputso">
                        <div class="conteInp">
                          <input
                           placeholder="Eliga un nombre para su nueva billetera"
                           name="name"
                           ngModel>

                           <div class="contInputPay">
                             <input
                              placeholder="Billetera"
                              name="address"
                              ngModel>

                              <mat-form-field>
                                <mat-select [(value)]="selected" name="type" [(ngModel)]="selected">
                                  <mat-option value="ethereum">Ethereum</mat-option>
                                  <mat-option value="bitcoin">Bitcoin</mat-option>
                                  <mat-option value="litecoin">Litecoin</mat-option>
                                </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                    </div>
                    <div class="comandos2">
                      <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Crear Wallet</button>
                      <div class="ctA fuente cancelar" (click)="cancelar()">Cancelar</div>
                    </div>
                </form>
            </div>


            <!-- FORMULARIO PARA ACTUALIZAR MEMBRESÍA -->
                    <div class="contForm" *ngIf="visualizar == 'general' && infoPerfil != 'miPerfil' ">
                        <form (ngSubmit)="membershipUpdate(f)" #f="ngForm" class="formu">
                          <div class="inputso">
                            <div id="insideInput">
                              <div class="conteInp insideInput">
                                  <mat-form-field>
                                    <mat-select [(value)]="selected" name="pays" ngModel placeholder="Relaciona el pago para verificarlo">
                                      <div *ngFor="let pay of user.payments">
                                        <mat-option *ngIf="pay.verified == false"  [value]="pay.txId" (click)="openRetractilPay=true; mostrarPago(pay); ">Realizado en: {{pay.createdAt | amLocale:'es' | amDateFormat:'MMMM D - YYYY'}}</mat-option>
                                      </div>
                                    </mat-select>
                                  </mat-form-field>


                                <div id="retractilPanel" [class.abrirRetractil]="openRetractilPay == true">

                                  <table>
                                    <tr>
                                      <td *ngIf="tipoWallet == 'ethereum'" style="padding-left:30px;">
                                        <div class="fromRed">
                                          <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1027.png" class="logo-sprite" width="16" height="16">
                                          <!-- <a href="https://blockchain.info/es/address/" target="_blank">nombre billetera</a> -->
                                          <a href="https://etherscan.io/address/{{walletAdress}}" target="_blank">{{walletName}}</a>
                                        </div>

                                        <div class="txrow">
                                          <img src="../../../../assets/raiz.gif">
                                          <p>TxId:</p><a href="https://etherscan.io/tx/{{WalletId}}" target="_blank" class="txidl2">{{WalletId}}</a>
                                            <!-- <p>TxId:</p><a href="https://blockchain.info/es/tx/f" target="_blank" class="txidl">asdasdasd</a> {{pay.txId}}-->
                                        </div>
                                      </td>
                                      <td *ngIf="tipoWallet == 'bitcoin'">
                                        <div class="fromRed">
                                          <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1.png" class="logo-sprite" width="16" height="16">
                                          <a href="https://blockchain.info/es/address/{{walletAdress}}" target="_blank">{{walletName}}</a>
                                        </div>

                                        <div class="txrow">
                                          <img src="../../../../assets/raiz.gif">
                                            <p>TxId:</p><a href="https://blockchain.info/es/tx/{{WalletId}}" target="_blank" class="txidl2">{{WalletId}}</a>
                                        </div>
                                      </td>

                                      <td *ngIf="tipoWallet == 'litecoin'">
                                        <div class="fromRed">
                                          <img src="../../../../assets/coins/litecoin.png" class="logo-sprite" width="16" height="16">
                                          <a href="http://explorer.litecoin.net/address/{{walletAdress}}" target="_blank">{{walletName}}</a>
                                        </div>

                                        <div class="txrow">
                                          <img src="../../../../assets/raiz.gif">
                                            <p>TxId:</p><a href="http://explorer.litecoin.net/tx/{{WalletId}}" target="_blank" class="txidl2">{{WalletId}}</a>
                                        </div>
                                      </td>
                                      <td>
                                        <mat-form-field >
                                          <mat-select [(value)]="payRole" name="role" ngModel placeholder="Elegir Rol">
                                            <mat-option value="vip" (click)="estadoMem = true" >Vip</mat-option>
                                            <mat-option value="otro" (click)="aumentarFecha()" >Otro...</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </td>
                                    </tr>
                                  </table>

                                </div>

                                 <div class="contInputPays" id="toScroll">
                                   <p class="fuente reno">Duración Membresía</p>
                                   <div class="conteBirth">
                                     <!-- <input [disabled]="true" [matDatepicker]="picker3" placeholder="Inicio membresía" [(ngModel)]="user.membership.startDate" name="startDateM" id="birth"> -->
                                     <input [disabled]="true" [matDatepicker]="picker3" placeholder="{{user.membership.startDate  | amLocale:'es' | amDateFormat:'MMMM D - YYYY'}}" ngModel name="startDateM" id="birth">
                                     <div class="pikers">
                                       <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                       <mat-datepicker #picker3></mat-datepicker>
                                     </div>
                                   </div>

                                   <div class="conteBirth" *ngIf="estadoMem==false">
                                      <!--  -->
                                    <input  [matDatepicker]="picker4" placeholder="Finaliza Membresía" ngModel name="endDateM" id="birth">
                                     <div class="pikers" >
                                       <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                       <mat-datepicker #picker4></mat-datepicker>
                                     </div>

                                   </div>

                                   <div class="conteBirth conteBirth2" *ngIf="estadoMem==true">
                                       <span class="oveer fuente">Termina</span>
                                       <p class="fuente">{{fechaAdd | amLocale:'es' | amDateFormat:'MMMM D - YYYY'}}</p>
                                   </div>

                                 </div>


                              </div>
                              </div>

                              <!--  -->
                          </div>
                          <div class="comandos2">
                            <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir(); ">Renovar Membresía</button>
                            <div class="ctA fuente cancelar" (click)="cancelar()">Cancelar</div>
                          </div>
                      </form>
                  </div>










                  <!-- <div class="comandos" *ngIf="visualizar != 'suscripcion' &&  usuarioWallet()" > -->
        <div class="comandos" *ngIf="visualizar != 'suscripcion' &&  visualizar2 != 'billeteras'" >
          <div (click)="abrirAnadidor()" *ngIf="visualizar != 'general' "><mat-icon class="openAnadidor">add</mat-icon>Nuev{{seccion}}</div>
        </div>
    </div>
  </div>


</div>
