<div class="sinDesplegar contenidoMH" id="contenidoMH" (mouseleave)="cerrar(); onClick();"

	[ngStyle]="{animation: (status=='active') ? 'desplegarse .3s forwards ' : 'plegars .2s forwards ease-in' }"
	>
	<!-- [ngClass]="(status=='active') ? token.clase : null" -->

	<div class="contenido proyectos" [ngStyle]="{animation: (status=='active') ? 'conteShow .3s forwards ease-in' : 'conteHide .2s forwards ease-in' }">

		<!-- <mat-radio-group name="target"  ngModel (change)="crear()"> -->
				<mat-radio-group [(ngModel)]="usuarios">
					<p id="userCute" class="fuente">Usuarios</p>

					<div class="itemV uno">
						<mat-radio-button [value]="'vip'" class="hegemonico" (click)="usuarios = 'vip';  sendlistView('vip')">VIP</mat-radio-button>
					</div>

					<div class="itemV uno">
						<mat-radio-button [value]="'general'" class="hegemonico" (click)="usuarios = 'general'; sendlistView('general')" >General</mat-radio-button>
					</div>
					<div class="itemV uno">
						<mat-radio-button [value]="'black'" class="hegemonico" (click)="usuarios = 'black';  sendlistView('black')" >Black List</mat-radio-button>
					</div>
					<div class="itemV uno">
						<mat-radio-button [value]="'admin'" class="hegemonico" (click)="usuarios = 'admin';  sendlistView('admin')">Admins</mat-radio-button>
					</div>
				</mat-radio-group>
	</div>
</div>
