.login{
  width: 100%;
height: 100%;
position: fixed;
z-index: 1111;
background-image: url("../../assets/bauth.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}

video{
  position: absolute;
  z-index: 1;
  width: 100%;
  /*height: 200px*/
}
.diButt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

.degradadoBack{
  color: yellow;
}
.oo{
  margin: 6px 0;
  text-align: center;
}

span{
  display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

button{
  /*margin-top: 15px;*/
}

.Back2{
background: #7289da;
color: white;
}

.init{
  text-align: center;
  margin: 0 !important;
}

form{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
  color: #0000008c;
}

.closei{
  color: #0000008c;
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.cont{
position: absolute;
width: 100%;
height: 100%;
/*background: red;*/
z-index: 3;
display: flex;
justify-content: center;
align-items: center;
}

.contLogin{
  position: relative;
  width: 360px;
  height: 400px;
  background: white;
  border-radius: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
