<div class="login fuente">
    <video src="../../assets/auth.mp4"  autoplay muted loop type="video/mp4"></video>
    <div class="cont">
      <div class="contLogin">
          <mat-icon class="closei" [routerLink]="['/']" >close</mat-icon>

          <h2 class="init"> Iniciar Sesión </h2>
          <form [formGroup]="signinForm" (ngSubmit)="onSubmit(a)" #a="ngForm">
          		<mat-form-field class="example-full-width">
              		<input matInput
              		 placeholder="Correo Electrónico"
              		 formControlName="email"
              		 id="email"
              		 >
            		</mat-form-field>

          		<mat-form-field class="example-full-width">
              		<input matInput
              		 type="password"
              		 placeholder="Contrraseña"
              		 formControlName="password"
              		 id="password"
              		 >

            		</mat-form-field>
<div class="diButt">
              <button  type="submit" mat-raised-button class="degradadoBack">Iniciar Sesión</button>
              <p class="oo">{{text}}</p>
            	<button (click)="loginDis()"  mat-raised-button class="Back2">Iniciar en <img src="../../assets/disc.png" width="20"> </button>
</div>
          </form>

      </div>
    </div>
</div>
