

<div class="formulario form fuente">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="disen">
          <div class="disen1">
              <div class="divi">
                <div class="title">Proyecto dirigido a usuario:</div>
                <hr>
              </div>

              <mat-radio-group name="target"  ngModel (change)="crear()">
                <mat-radio-button [value]="'vip'">Vip</mat-radio-button>
                <mat-radio-button [value]="'public'">Regular</mat-radio-button>
              </mat-radio-group>

           </div>

           <div class="disen1">
             <div class="divi">
               <div class="title">Calificación proyecto:</div>
               <hr>
             </div>

            <div class="starsForm" >
              <mat-icon (click)="starOn(1)"
               [ngStyle]="{'color': (stars >= 1) ? '#FFC107' : 'grey' }"
              >star</mat-icon>
              <mat-icon (click)="starOn(2)"
               [ngStyle]="{'color': (stars >= 2) ? '#FFC107' : 'grey' }"
              >star</mat-icon>
              <mat-icon (click)="starOn(3)"
               [ngStyle]="{'color': (stars >= 3) ? '#FFC107' : 'grey' }"
              >star</mat-icon>
              <mat-icon (click)="starOn(4)"
               [ngStyle]="{'color': (stars >= 4) ? '#FFC107' : 'grey' }"
              >star</mat-icon>
              <mat-icon (click)="starOn(5)"
               [ngStyle]="{'color': (stars >= 5) ? '#FFC107' : 'grey' }"
              >star</mat-icon>
            </div>

           </div>

      </div>
      <div class="groupIn">

              <div class="disen1">
                    <mat-form-field class="example-full-width">
                        <input
                         matInput
                         (change)="crear()"
                         placeholder="Titulo proyecto"
                         name="title"
                         ngModel>
                    </mat-form-field>
             </div>

              <div class="disen1">
                  <div class="divi">
                    <div class="title">Tipo de inversión:</div>
                    <hr>
                  </div>

                  <mat-radio-group name="type"  ngModel (change)="crear()">
                    <mat-radio-button [value]="'ico'">Ico</mat-radio-button>
                    <mat-radio-button [value]="'presale'">Pre - Venta</mat-radio-button>
                    <mat-radio-button [value]="'market'">En mercado</mat-radio-button>
                  </mat-radio-group>
               </div>
      </div>

      <div class="groupIn">
              <div class="disen1">
                    <mat-form-field class="example-full-width">
                        <input
                         matInput
                         (change)="crear()"
                         placeholder="Nombre moneda"
                         name="coinName"
                         ngModel>
                    </mat-form-field>
             </div>

             <div class="disen1">
                   <mat-form-field class="example-full-width">
                       <input
                        matInput
                        (change)="crear()"
                        placeholder="Simbolo moneda"
                        name="simbolCoin"
                        ngModel>
                   </mat-form-field>
            </div>
      </div>


      <div class="groupIn">
              <div class="disen1">
                    <mat-form-field class="example-full-width">
                        <input
                         matInput
                         (change)="crear()"
                         placeholder="Imagen Moneda"
                         name="imgCoin"
                         ngModel>
                    </mat-form-field>
             </div>

             <div class="disen1">
                   <mat-form-field class="example-full-width">
                       <input
                        matInput
                        (change)="crear()"
                        placeholder="ID CoinmarketCap"
                        name="coinmarketcapId"
                        type="number"
                        ngModel>
                   </mat-form-field>
            </div>
      </div>

      <div class="groupIn">
             <div class="disen1">
                   <mat-form-field class="example-full-width">
                       <input
                       type="number"
                        matInput
                        (change)="crear()"
                        placeholder="Precio de compra en dolares"
                        name="usdPrice"
                        ngModel>
                   </mat-form-field>
            </div>

            <div class="disen1">
                  <mat-form-field class="example-full-width">
                      <input
                      type="number"
                       matInput
                       (change)="crear()"
                       placeholder="Precio de compra en Ether"
                       name="ethPrice"
                       ngModel>
                  </mat-form-field>
           </div>
      </div>

      <div class="groupIn">
             <div class="disen1">
                   <mat-form-field class="example-full-width">
                       <input
                        type="number"
                        matInput
                        (change)="crear()"
                        placeholder="Cantidad de tokens recibidos por Ether"
                        name="amountPerEth"
                        ngModel>
                   </mat-form-field>
            </div>

            <div class="disen1">
                  <mat-form-field class="example-full-width">
                      <input
                       matInput
                       (change)="crear()"
                       type="number"
                       placeholder="Hard Cap"
                       name="hardCap"
                       ngModel>
                  </mat-form-field>
           </div>
      </div>

      <div class="groupIn">
             <div class="disen1">
                    <mat-form-field class="example-full-width">
                       <input
                       type="number"
                        matInput
                        (change)="crear()"
                        placeholder="Total Supply"
                        name="totalSupply"
                        ngModel>
                   </mat-form-field>
            </div>
            <div class="disen1" >
                  <mat-form-field class="example-full-width" >
                      <input
                      (change)="bloqstok()"
                      type="number"
                       matInput
                       (change)="crear()"
                       placeholder="Cantidad de token bloq"
                       name="tokenBloq"
                       ngModel>
                  </mat-form-field>
           </div>
      </div>

      <div class="groupIn"
      [ngStyle]="{'display': (bloqtoken >= 1) ? 'initial' : 'none' }"
       >
        <mat-form-field class="example-full-width">
           <textarea
            matInput
            placeholder="Mensaje sobre bloqueo de monedas"
            name="bloqMessage"
            ngModel>
            </textarea>
        </mat-form-field>
      </div>



      <div class="groupIn">
             <div class="disen1">
                    <mat-form-field class="example-full-width">
                       <input
                       type="number"
                        matInput
                        (change)="crear()"
                        placeholder="Bono %"
                        name="bono"
                        ngModel>
                   </mat-form-field>
            </div>
            <div class="disen1" >
                  <mat-form-field class="example-full-width" >
                      <input
                      type="text"
                       matInput
                       (change)="crear()"
                       placeholder="URL Web Site"
                       name="webSite"
                       ngModel>
                  </mat-form-field>
           </div>
      </div>

      <div class="groupIn">
             <div class="disen1">
                    <mat-form-field class="example-full-width">
                       <input
                       type="number"
                        matInput
                        (change)="crear()"
                        placeholder="Cantidad min de ether a contribuir"
                        name="minEth"
                        ngModel>
                   </mat-form-field>
            </div>
            <div class="disen1" >
                  <mat-form-field class="example-full-width" >
                      <input
                      type="number"
                       matInput
                       (change)="crear()"
                       placeholder="Cantidad max de ether a contribuir"
                       name="maxEth"
                       ngModel>
                  </mat-form-field>
           </div>
      </div>


      <div class="groupIn">
             <div class="disen1">
                    <mat-form-field class="example-full-width">
                       <input
                       type="text"
                        matInput
                        (change)="crear()"
                        placeholder="Link White Paper"
                        name="whitePaper"
                        ngModel>
                   </mat-form-field>
            </div>
            <div class="disen1" >
                  <mat-form-field class="example-full-width" >
                      <input
                      type="text"
                       matInput
                       (change)="crear()"
                       placeholder="Dirección de contrato"
                       name="contractAdress"
                       ngModel>
                  </mat-form-field>
           </div>
      </div>

      <div class="groupIn">
             <div class="disen1">

               <mat-form-field>
                 <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio ICO" ngModel name="startDate" (change)="crear()">
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>

            </div>
            <div class="disen1" >
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Fecha finalización ICO"  ngModel name="endDate" (change)="crear()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
           </div>
      </div>


    <div class="groupIn dosin">
      <div class="disen22">
        <addComponent [formsource]="'created'" (sendExchage)="sendExchange($event)" (sendSocialNetwork)="sendSocialNetwork($event)" (sendMultimedia)="sendMultimedia($event)"></addComponent>
      </div>
    </div>



<div class="groupIn" (click)="crear()">

      <mat-form-field class="example-full-width arribita">
         <textarea
          matInput
          [froalaEditor]

          placeholder="Descripción del proyecto"
          name="description"
          ngModel>
          </textarea>
      </mat-form-field>
</div>
<!--
<div class="groupIn">

      <mat-form-field class="example-full-width arribita">
         <textarea
          matInput
          placeholder="Descripción Análisis Equipo de Proyecto (Opcional)"
          name="team"
          ngModel>
          </textarea>
      </mat-form-field>
</div>

<div class="groupIn">

      <mat-form-field class="example-full-width arribita">
         <textarea
          matInput
          placeholder="Descripción Análisis Producto (Opcional)"
          name="product"
          ngModel>
          </textarea>
      </mat-form-field>
</div>

<div class="groupIn">

      <mat-form-field class="example-full-width arribita">
         <textarea
          matInput
          placeholder="Descripción Análisis Partners Proyecto (Opcional)"
          name="partner"
          ngModel>
          </textarea>
      </mat-form-field>
</div> -->

      <button class="ctA degradadoBack botonac"  type="submit"
      [ngStyle]="{'display': (crearVisible >= 3) ? 'initial' : 'none' }"
      >Crear Proyecto</button>
    </form>
</div>

<!--
export class Ad{
  constructor(
    public title?: string,
    public releaseType?: string,
    public target?: string,
    public createdAt?: Date,
      public description?: string,
      public links?: Multimedia[],
    public type?: string
    ){}
  }
 -->
