

p{
  margin: 0;
}

.formulario{
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #c1c1c154;
  padding-top: 30px;
  align-items: center;
}

.title{
  position: absolute;
      left: 0;
      top: -10px;
      background: white;
      padding: 0 10px 0 0;
}

.disen{
  width: 100%;
  /*padding: 0 10px;*/
  margin: 15px 0 30px 0;
  display: flex;
}

.disen input{
  width: 100% !important;
}

.mat-form-field{
  width: 100%;
}

Form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-radio-button{
  margin:0 6px;
}

.divi{
  width: 100%;
  position: relative;
  margin: 0 0 20px 0;
}
.divi div{
  color: #ff4081;
}

.divi hr{
  border: .6px solid #ff4081;
}

textarea{
  height: 200px;
}

.disen1{
  width: calc(50% - 30px);
  margin: 0 15px;
}

.disen2{
width: 100%;
margin-top: 20px;
}
.disen22{
width: 100%;
margin-top: 40px;
}

.starsForm{
  display: flex;
}

.starsForm mat-icon{
  font-size: 25px;
  cursor: pointer;
}

.starsForm mat-icon:hover{
  color: #FFC107;
}

.groupIn{
  display: flex;
  width: 100%;
  height: auto;
}

.poolAd{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.poolAd p{
  margin: 0 10px !important;
}

.flexModule{
  /*width: calc(100% - 20px);*/
  width: 100%;
  height: 100px;
  border: 1px solid #80808040;
}


.dosin{
  margin-top: 20px;
}



.arribita{
  margin-top: 15px;
}

.itemActive{
  position: absolute;
  padding: 2px;
  height: 90%;
  width: 20%;
  cursor: pointer;
  transition: .3s;

border-bottom: 2px solid transparent;
border-image: linear-gradient(to right, #d800ff , #7a00ff);
border-image-slice: 1;
}


.item{
  width: 20%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: linear-gradient(to bottom right, #d800ff , #7a00ff);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;

  /*background: yellow;*/
}

.items{
  width: 420px;
  height: inherit;
  /*background: black;*/
  display: flex;
  position: relative;
  /*margin-left: 50px;*/
}

.menuFeed{
  /*width: 100%;*/
  top: -45px;
  height: 45px;
  background: white;
  display: flex;
  position: absolute;

/*border-bottom: .3px solid black;*/
}


.titulitopa{
  margin: 30px 0 50px 0;
  font-weight: bold;
}

.botonac{
  width: 200px !important;
  height: 50px;
      border-style: none;
}
