<h2 mat-dialog-title>Eliminar Membresía</h2>
<mat-dialog-content>
  <p class="fuenteTitle">Estas a punto de quitar la membresía a este usuario y enviarlo a general, asegurate de quitar su rol en discord ¿Quieres continuar?. </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" >Eliminar</button>
</mat-dialog-actions>
