<h2 mat-dialog-title>Eliminar Elemento</h2>
<mat-dialog-content>
  <p class="fuenteTitle">¿Estas seguro que deseas eliminar este elemento?, esta acción es irreversible. </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" >Eliminar</button>
</mat-dialog-actions>
