<h2 mat-dialog-title>Eliminar Membresía</h2>
<mat-dialog-content>
  <p class="fuenteTitle">Estas a punto de eliminar a este usuario de forma permanente. </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" >Eliminar</button>
</mat-dialog-actions>
