#sliderMom{
  width: 100%;
  height: 100%;
  /*background: #00000075;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
overflow-x: hidden;
}


.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

#screen{
  /*width: 200%;*/
  height: 100%;
  position: absolute;
  display: flex;
  /*overflow-x: hidden;*/
  overflow-y: hidden;
  left: 0;
  transition: 1s;
}

.sections{
  width: 100%;
  height: 100%;
  background: #00000075;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections div{
  color: white;
}

.imagen{
  width: 100%;
  height: 100%;
  background: black;
}

img{
  width: 100%;
  height: 100%;
}


iframe{
  width: 100%;
  height: 100%;
}
