<div id="sliderMom">
  <div id="screen"
  [style.left.%]="transition"
  [style.width.%]="ancho"
  >
    <section class="sections"  *ngFor="let multi of sliderData" >
      <!-- <div>{{multi.link}}</div> -->
      <img *ngIf="multi.name == 'Imagen'" src={{multi.link}} alt="">
      <!-- <div *ngIf="multi.name == 'Imagen'" class="imagen">{{multi.name}} Fucking Imagen</div> -->
      <!-- <div *ngIf="multi.name == 'Video'" class="video">{{multi.name}} Fucking Video</div> -->

      <!-- <iframe *ngIf="multi.name == 'Video'"   [src]='itemData' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

      <iframe *ngIf="multi.name == 'Video'" [src]="multi.link | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <!-- <div *ngIf="multi.name == 'Video'" >{{multi.link}}</div> -->
    </section>
    <!-- <section class="sections"></section> -->

  </div>

  <div id="btn-prev" class="btn-prev"
  (click)="anterior()"
  *ngIf="position>0"
  >&#60;</div>
  <div id="btn-next" class="btn-next"
   (click)="siguiente()"
   *ngIf="position<cantidad"
   >&#62;</div>

</div>
