<div style="margin:0;padding:0;background-color:white;">
  <table style="background-color:white;width:100%;height:100%; ">
    <tbody>
      <tr>
        <td style="border-top:4px solid white;padding-left:7px;padding-right:7px">
          <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="m_5960861643010041369devicewidth" style="margin:0 auto">
            <tbody>
              <tr>
                <td colspan="3">
                  <table class="m_5960861643010041369devicewidth" width="600" style="background-color:white" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td height="20" style="background-color:white"></td>
                      </tr>
                      <tr>
                        <td style="background-color:white;width:100%" align="center"> <a  style="color:white; text-decoration:none"
                          target="_blank" data-saferedirecturl="https://preview.ibb.co/gLZbGd/titles.jpg">
                          <img class="m_5960861643010041369logo" src="https://preview.ibb.co/gLZbGd/titles.jpg" border="0" style="display:block;border:none;outline:none;text-decoration:none;" width="350" height="80"> </a>                                                    </td>
                      </tr>
                      <tr>
                        <td height="20" style="background-color:white"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF">
                  <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="width:100%">
                    <tbody>
                      <tr>
                        <td>
                          <hr style="color:#dedede;background:#dedede;border-color:#dedede;border:0;height:1px">
                        </td>
                      </tr>
                      <tr>
                        <td height="20">
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight:100;font-family:Open Sans,sans-serif;font-size:20px;color:#273f59;text-align:left;line-height:32px; font-weight:bold;">Descripción: ej: La venta publica de "Nombre_proyecto" inicia en "X" horas, faltando 1 hora te     enviaremos otro recordatorio para que no te quedes fuera.</td>
                      </tr>
                      <tr>
                        <td height="30"></td>
                      </tr>
                      <!-- <tr>
                        <td style="text-align: center;">
                          <img src="https://ci3.googleusercontent.com/proxy/QRAOnJZUTrDT1vzzlJ9wLLsQGlv7E-IerlkaHmknBx_D6GWy7P9i6-ngjQkNhfvtZaG6_bx0DYIAr6ORSLvs6RuIHtGS7vRzt9muYqdGe8_zdJ7m9LGMlRqrFu4ameePL5tDKMZHBg=s0-d-e1-ft#https://fintonic-static-files-cdn.s3.amazonaws.com/newsletters/MGM-20-03-2018.gif"
                            width="50%">
                        </td>
                      </tr> -->
                      <tr>
                      </tr>
                      <tr>

                      </tr>
                      <tr>
                        <td height="30"></td>
                      </tr>
                      <tr>
                        <td style="font-weight:100;font-family:Open Sans,sans-serif;font-size:18px;color:#273f59;text-align:left;line-height:24px; font-family: 'Raleway', sans-serif;  font-weight:normal;">Contenido si es que lo tiene, ej: Descripción de anuncio, Metricas, Novedad, Anuncio etc...</td>
                      </tr>

                      <tr>
                        <td height="30"></td>
                      </tr>
                      <tr>
                        <td>
                          <hr style="color:#dedede;background:#dedede;border-color:#dedede;border:0;height:1px">
                        </td>
                      </tr>
                      <tr>
                        <td height="30"></td>
                      </tr>
                      <tr>
                        <td style="font-weight:100;font-family:Open Sans,sans-serif;font-size:18px;color:#273f59;text-align:center;line-height:24px; font-family: 'Raleway', sans-serif;  font-weight:normal;">¡Copy llamada a la acción!</td>
                      </tr>
                      <tr>
                        <td height="30"></td>
                      </tr>
                      <tr>
                        <td>
                                <tr>
                                  <td align="center"><a href="#"
                                    style="border-radius:4px; width:200px;font-family:Open Sans,sans-serif;font-size:16px;color:#ffffff;text-decoration:none;text-align:center;display:block;height:50px;line-height:54px; background: linear-gradient(to bottom right, #62349E, #9527AE);" target="_blank"
                                    >¡Call to Action!</a>
                                  </td>
                                </tr>
                        </td>
                      </tr>
                      <tr>
                        <td height="35"></td>
                      </tr>

                      <tr>
                        <td>
                          <hr style="color:#dedede;background:#dedede;border-color:#dedede;border:0;height:1px">
                        </td>
                      </tr>
                      <tr>
                        <td height="35"></td>
                      </tr>
                      <tr>
                        <td height="35"></td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="background: linear-gradient(to bottom right, #242757, #62349E);width:100%; height:230px;">
    <table style="color:white; width:100%; height:100%; padding: 0 0px 0 0px;">
      <tr>
        <td style="width:50%;">
          <div style="text-align:left; padding-left:40px;">
            <img src="https://image.ibb.co/bHArGd/dcoti.png" width="150" style="margin-bottom:20px;">
            <div style="display: flex; justify-content: left;">
              <a href="https://www.facebook.com/DineroConOpciones/" target="_blank"> <img src="https://image.ibb.co/fNX5bd/facebook.png" width="34" height="34" style="margin:0 6px 0 6px;"></a>
              <a href="https://www.instagram.com/dineroconopciones/" target="_blank"> <img src="https://image.ibb.co/ejXSpy/instagram.png" width="34" height="34" style="margin:0 6px 0 6px;"></a>
              <a href="https://twitter.com/Dinero2017" target="_blank"><img src="https://image.ibb.co/cqMbhJ/twitter.png" width="34" height="34" style="margin:0 6px 0 6px;"></a>
              <a href="https://www.youtube.com/user/xTonyRockzx" target="_blank"><img src="https://image.ibb.co/jBwnpy/youtube.png" width="34" height="34" style="margin:0 6px 0 6px;"></a>
            </div>
          </div>
        </td>
        <td style="width:50%; ">
          <div style="padding-right:40px; padding-bottom:30px;">
            <p style="text-align: right; font-size:20px; font-family: 'Raleway', sans-serif;  font-weight:normal; margin-top:34px; margin-bottom:9px;">Blog</p>
            <p style="margin:0 !important; text-align:right; font-family: 'Raleway', sans-serif;  font-weight:normal;"><a href="https://www.dineroconopciones.com/" style="color: white;text-decoration: none;" target="_blank">www.dineroconopciones.com</a></p>
            <p style=" text-align:right; font-size:20px; font-family: 'Raleway', sans-serif;  font-weight:normal; margin-top:34px; margin-bottom:9px;">WebApp</p>
            <p style="margin:0 !important; text-align:right; font-family: 'Raleway', sans-serif;  font-weight:normal;"> <a href="https://www.dcoweb.app/" style="color: white;text-decoration: none;" target="_blank"> www.dcoweb.app</a></p>
          </div>
        </td>
      </tr>
    </table>
  </div>


</div>
