

p{
  margin: 0;
}
.formulario{
  background: white;
  width: 100% !important;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #c1c1c154;
  align-items: center;
  padding-top: 30px;
}


.cdk-overlay-container {
    position: fixed;
    z-index: 9999999999999999;
}

.ssdw{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ctA{
  border-style: none;
  height: 50px;
  width: 180px;
}
.title{
  position: absolute;
      left: 0;
      top: -10px;
      background: white;
      padding: 0 10px 0 0;
}

.disen{
  width: 100%;
  /*padding: 0 10px;*/
  margin: 15px 0 30px 0;
}

Form{
  width: 70%;
  display: flex;
  flex-direction: column;
}

mat-radio-button{
  margin:0 6px;
}

.divi{
  width: 100%;
  position: relative;
  margin: 0 0 20px 0;
}


textarea{
  height: 200px;
}



.titulitopa{
  margin: 30px 0 50px 0;
  font-weight: bold !important;
}
