<div class="formulario form fuente">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="disen">

        <div class="divi">
          <!-- <div class="title">Anuncio dirigido a usuario: {{release}}</div> -->
          <hr>
        </div>

        <mat-radio-group name="user"  ngModel>
          <mat-radio-button [value]="'vip'">Vip</mat-radio-button>
          <mat-radio-button [value]="'public'">Regular</mat-radio-button>
        </mat-radio-group>

      </div>

        <mat-form-field class="example-full-width">
            <input
             matInput
             placeholder="Titulo Anuncio"
             name="title"
             ngModel>
        </mat-form-field>

      <mat-form-field class="example-full-width">
         <textarea
          matInput
          placeholder="Descripción"
          name="description"
          ngModel>
          </textarea>
      </mat-form-field>

      <div class="ssdw"><button type="submit" class="ctA degradadoBack">Crear Anuncio</button></div>

    </form>
</div>

<!--
export class Ad{
  constructor(
    public title?: string,
    public releaseType?: string,
    public target?: string,
    public createdAt?: Date,
      public description?: string,
      public links?: Multimedia[],
    public type?: string
    ){}
  }
 -->
