
@media screen and (max-width:600px){

 #contenidoMH, .sinDesplegar {
   left: 0px !important;
 }

 .coinAd{
   flex-wrap: wrap;
 }

.coinPrice{
  width: 60% !important;
}

}

#descProject img{
  width: 100% !important;
}

.contEndDate{
  width: 100%;
  height: 100px;
  /*background: yellow;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.finnn{
  font-size: 35px;
  margin: 0 !important;
}
.itemDate{
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemDate p{
  font-size: 37px;
  margin: 0 !important;
}


.itemDate span{
  font-size: 12px;
  margin: 0 !important;
}





.conteFormulario{

}

.modeloProyecto{
  padding: 65px 15px 15px 15px;
  width: calc(100% - 29%);
}
.conteFormu{
  width: 100%;
  /*height: 100%;*/
  position: relative;

}
.news, .video{
  width: 50%;
  height: calc(100% - 75px);
  /*background: white;*/
  padding: 55px 10px 20px 10px;
}
.titucoin{
  display: flex;
  margin-bottom: 6px;
}



.ssp{
  display: flex;
  flex-direction: column;
}

.textSb{
  color: white;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
}
.textSb i{
  font-weight: bold;
  font-size: 20px;
}
.CMlikes{
  width: 100%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteLikes{
  /*background: red;*/
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.dislike, .like{
  display: flex;
  /*color: #8f8f8f;*/
  /*color: red;*/
  cursor: pointer;
}
.imgCoin {
  width: 32px !important;
  height: 32px !important;
}
.abrirAlternoRes{
    right: 0 !important;
}
.tasaUsd{
  font-size: 22px !important;
}

.tituloContenedor{
  width: 100%;
  display: flex;
}
.dislike p, .like p{
  margin: 0 !important;
  display: flex;
  align-items: center;
  margin-right: 15px !important;
  margin-left: 4px !important;
  color: #8f8f8f;
  font-size: 12px;
}
.dislike p{
  margin-right: 0!important;
}

.progresLikes{
  width: 100%;
  height: 3px;
  background: #e1e1e1;
  margin-top: 5px;
}
.likeDislike{
  display: flex;
  justify-content: center;
}
.video{
  display: flex;
justify-content: center;
align-items: center;
}
.infoPrincipal{
  width: calc(100% - 30px);
  height: 320px;
  /*background:white;*/
  display: flex;
  margin-top: 30px;
      padding-left: 5px;
      flex-wrap: wrap;
}
.stitulo, .stitulo2{
  margin: 0;
}
.stitulo{
  font-size: 25px !important;
}
.stitulo2{
  font-size: 10px;
  color: #b2b2b2;
  margin-top: 7px;
margin-left: 5px;
}

.titulo, .titulo2{
  height: 100%;
  /*width: 100%;*/
  display: flex;
}
.titulo{
  width: 30%;
}
.titulo2{
  /*background: green;*/
  width: 70%;
}
.contenedorPruebas{
  width: 100%;
  display: flex;
}

.infoCoin{

}

.logoSocial{
  margin: 0 3px;
}
.titulo2{
  /*background: yellow;*/
  display: flex;
}
.contenidoDesc{
  width: calc(100% - 30px);
  margin-top: 55px;
  /*background: black*/

}

.titleDesc{
  margin-top: 100px;
  /*text-align: center;*/
  padding: 0 45px;
}

.links{
  height: 43%;
  width: 100%;
  /*background: yellow;*/
}
.contract{
  width: 100%;
  height: 100px;
  background: #10171b;
  color: yellow;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #35465196;
  border-right: 1px solid #35465196;
  border-top: 1px solid #35465196;
}
.contract p{
  margin-bottom: 4px !important;
}
.contracText{
  font-size: 12px;
  margin: 0 !important;
}

.subAlterno{
  transition: .3s;
  width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    transform: translateX(930px);
  z-index: 99;
  background: #2d3942;
}
.infoUser{
  height: 390px !important;
}
.faqbutton{
  cursor: pointer;
  display: flex;
align-items: center;
justify-content: center;
font-size: 14px !important;
margin: 5px 10px 0 0 !important;
 }
 .warningPool{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin:10px 0 !important;
   animation: warning 5s infinite;
   cursor:pointer;
   position: relative;
 }


 @keyframes warning{

   0%{
     color: yellow;
   }
   50%{
      color: red;
    }
    100%{
       color: yellow;
     }

 }
 .noEx{
   color: #607d8b30;
 }
.pooldet{
  top: 0 !important;
}
.poolGuide{
  display: flex;
  display: flex;
  justify-content: center;
  font-size: 12px !important;
}
.poolGuide p {
  margin: 0 !important;
  display: flex;
  align-items: center;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.countDown{
  font-size: 45px;
  margin: 0 !important;
}
.faqPool{
  width: 100%;
  height: 180px !important;
}

.conteDats{
  display: flex;
  width: 100%;
  height: 200px;
  background: #10171b;
  color: yellow;
  border: 1px solid #35465196;
}
.cD2{
  height: 150px !important;
}
.bonos, .purchase{
  width: 50%;
  height: 100%;
}

.bonos{
  flex-direction: column;
}
.ctaCont{
  position: absolute;
  /*background: red;*/
  bottom: 0;
  height: 70px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
width: calc(100% - 20px);
}

.calcular{
  height: 110px;
  /*background: white;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstPool{
  font-size: 12px !important;
  color: white;
}
.calculadora{
  width: 90%;
  display: flex;
  height: auto;
}
.titleCalc{
  color: yellow;
  text-align: center;
}
.contEth{
  width: 50%;
  position: relative;
}
.placeH{
  position: absolute;
  left: 0;
  height: 100%;
  width: 40px;
  border-radius: 4px;
  z-index: 10;
  /*background: black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.resulSymbol{
  font-size: 16px;
  padding-left: 7px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result{
  width: 50%;
  height: 37px;
  background: #10171b;
  display: flex;
  border-radius: 4px;
  color: #A6D759;
}
.mountEt{
  background: white !important;
  border-radius: 3px;
  width: 68%;
  height: 35px;
  padding-left: 40px !important;
  margin-top: 1px;
  border-style: none;
}

.ctA{
  cursor: pointer;
  width: 60%;
  height: 55px;
  border-radius: 4px;
  background: rgba(98,52,158,1);
  color: #FFFF00;
  display: flex;
justify-content: center;
align-items: center;
background: -moz-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(98,52,158,1)), color-stop(8%, rgba(98,52,158,1)), color-stop(100%, rgba(151,38,174,1)));
background: -webkit-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
background: -o-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
background: linear-gradient(135deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62349e', endColorstr='#9726ae', GradientType=1 );
}
.min, .max{
height: 50%;
display: flex;
flex-direction: column;
}
.aporte{
  font-size: 11px;
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
}
.apo2{
  font-size: 75px !important;
  color: #A6D759;
}
.cifra{
  font-size: 30px;
  margin: 0 !important;
}
.min{
  border-bottom: 1px solid #35465196;
}
.min, .max, .bonos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.purchase{
  /*background: yellow;*/
  /*height: 60px;*/
  display: flex;
  flex-direction: column;
  border-left: 1px solid #35465196;

}
.contenidoDesc p{
  padding: 0 45px;
  text-align: left;
  font-size: 14px;
}
.lol p{
  margin: 0 !important;
  color: #0000004f;
    font-size: 14px;
}
.lol{
  margin-top: 10px !important;
  font-size: 15px;
}
.infoCoin{
  width: 33%;
  height: 35px;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  justify-content: center;
  /*background: red;*/
}
.ol{
  font-size: 15px !important;
}
.negrita{
  font-weight: bold;
}
.dataCoin{
  /*background: yellow;*/
  display: flex;
  flex-direction: column;
}

.contDataCoin, .contDataCoin2{
  width: 100%;
  display: flex;
}

.mat-menu-panel {

    margin-left: 70px !important;
}

.itemLink{
  width: 100%;
  display: flex;
      margin-bottom: 5px;
      cursor: pointer;
      position: relative;
}
.imgE{
  margin-right: 5px;
}
.leftI, .leftI2{
  margin-left: 5px !important;
}
.leftI2{
  margin-right: 5px !important;
}
a:link { text-decoration:none; }

.itemLink a{
  margin: 0;
  display: flex;
  align-items: center;
}

.usdPrice{
  font-size: 26px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pricEth{
  margin: 0 5px 0 5px !important;
}

.prueba{
  height: 100%;
  width: 70%;
}


.p2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.likecitos2{
  width: 50% !important;
}

.coinPrice, .socials{
  height: 100%;
  width: 35%;
}

.redes{
  font-size: 14px !important;
}
.socials2{
  width: 100% !important;
  display: flex;
  justify-content: left;
  display: none;
}

.socials{
  /*background: yellow;*/
  display: flex;
  width: 65% !important;
  justify-content: flex-end;
}
.coinPrice{
  /*background: red;*/
  display: flex;
  flex-direction: column;
}
.coinAd, .coinEth{
  width: 100%;
}

.coinAd{
  display: flex;
  position: relative;
}
.coinAd h3, .coinAd p{
  margin: 0 !important;
}
.coinAd h3{
  font-size: 30px;
}
.coinAd p{
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.coinAd mat-icon{
  font-size: 18px;
  display: flex;
justify-content: center;
align-items: flex-end;

}
.coinEth{
  margin: 0 ;
  /*background: black;*/
  display: flex;
  flex-wrap: wrap;
}
.coinEth p{
  margin: 0;
  font-size: 14px;
}
.tasaEth{
  font-size: 16px !important;
}
.news{
  background: #0000006e;
  padding-right: 0 !important;
  padding-left:0 !important;
}
.conteNews{
  width: 100%;
  height: 455px;
  position: fixed;
  display: flex;
  top: 0px;
  background: rgba(150,38,174,1);
background: -moz-linear-gradient(-45deg, rgba(150,38,174,1) 0%, rgba(73,37,114,1) 66%, rgba(73,37,114,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(150,38,174,1)), color-stop(66%, rgba(73,37,114,1)), color-stop(100%, rgba(73,37,114,1)));
background: -webkit-linear-gradient(-45deg, rgba(150,38,174,1) 0%, rgba(73,37,114,1) 66%, rgba(73,37,114,1) 100%);
background: -o-linear-gradient(-45deg, rgba(150,38,174,1) 0%, rgba(73,37,114,1) 66%, rgba(73,37,114,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(150,38,174,1) 0%, rgba(73,37,114,1) 66%, rgba(73,37,114,1) 100%);
background: linear-gradient(135deg, rgba(150,38,174,1) 0%, rgba(73,37,114,1) 66%, rgba(73,37,114,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9626ae', endColorstr='#492572', GradientType=1 );
}
.barritaPanel{
  width: 100%;
  height: 55px;
  position: relative;
  background: #354651;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  /*top: */
}

.poolPic{
  margin-right: 9px;
}
.fechaCreated{
  width: auto;
  height: auto;
  font-size: 11px;
  color: #c9c9c9;
  margin-top: 30px;
}
p{
  /*margin: 0;*/
}

.dataInvest{
  color: yellow;
  font-size: 18px;
}

.formulario{
  width: 50%;
}

.madre{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 400px;
  position: relative;
  background: #f2f4f8;
}
.panelData{
  width: calc(100% - 20px);
  height: calc(100% - 70px);
  /*background: black;*/
  margin: 10px;
}
.datP{
  /*background: #354651 !important;*/
}
.panelFix{
  right: 0;
  top: 0px;
  height: 590px !important;
  z-index: 55;
  position: absolute;
  width: 27% !important;
  transition: .3s;
  background: #26333A;
  height: 100% !important;
}
.fiz2{
  position: absolute !important;
  /*right: -60px;*/
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 55;
  -webkit-transition: .3s;
  transition: .3s;
  /*background: #26333A;*/

  /*background: #26333a;*/

}

.panelBack{

  background: rgba(35,47,53,1);
background: -moz-linear-gradient(top, rgba(35,47,53,1) 0%, rgba(48,65,73,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,47,53,1)), color-stop(100%, rgba(48,65,73,1)));
background: -webkit-linear-gradient(top, rgba(35,47,53,1) 0%, rgba(48,65,73,1) 100%);
background: -o-linear-gradient(top, rgba(35,47,53,1) 0%, rgba(48,65,73,1) 100%);
background: -ms-linear-gradient(top, rgba(35,47,53,1) 0%, rgba(48,65,73,1) 100%);
background: linear-gradient(to bottom, rgba(35,47,53,1) 0%, rgba(48,65,73,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232f35', endColorstr='#304149', GradientType=0 );
}

.subscribe{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.subscribe p{
  font-size: 12px;
}

.izqInfo{
  position: absolute;
  transition: .3s;
  top: 80px;
}
.izqInfo{
  left: 0;
  padding-left: 15px;
}
.derInfo{
  position: absolute;
  border-radius: 3px;
  right: 0;
  width: 100px;
  margin-right: 15px;
  height: 85%;
  background: linear-gradient(to bottom right, #6ebe44, #acce35);


}
.menuSec{
  transition: .3s;
  width: calc(100% - 27%);
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  height: 60px;
  z-index: 55;
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.01);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.01);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.01);
}

body{
  overflow-y:visible !important;
}

.newsFeed{
  width: 100%;
  height: calc(100% - 70px);
  /*background: black;*/
}

.newsFeed{
  position: relative;
  /*z-index: 2;*/
  opacity: 1;
  transition: .1s;
  /*height: 250px;*/
  /*height: 10%;*/
  /*padding: 18px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.itemMat[_ngcontent-c11] {
    border-radius: 2px;
    transition: .3s;
}
.actuali{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: yellow;
  /*justify-content: center;*/
}
.text{
  color: yellow;
}

.info{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.iconn{
  margin:0 5px;
}

mat-expansion-panel{
  border-radius: 2px;
}
mat-accordion{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.itemMat{
  margin-left: 10px;
}
mat-expansion-panel{
  margin-top:15px;
}
mat-expansion-panel-header{
  /*margin-top:15px;*/
}
.contItemsu{
  width: 100%;
}

.itemUser2{
  word-wrap: break-word;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

.itemUser2 img{
  width: 100% !important;
}

p > img{
  width: 10px !important;
}

.itemUser2 img *{
  width: 100% !important;
}

.newsFeed::-webkit-scrollbar {
  width: 7px;
}
.newsFeed::-webkit-scrollbar-thumb {
  background: #475A68;
}

.cprogreso{
		width: 100%;
		height: 36%;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

  .cprogreso{
  	margin-bottom: 15px;
  }

  .contfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
	}

  .cardColorElement{
		color: #931DAB;

	}

  .meta{
    color: #931DAB;
    font-size: 11px !important;
  }
  .alcanzado, .tasa, .meta{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  .contprogreso{
      width: 75%;
      height: 100%;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .espera{
    background: #828282eb !important;
    color: #bababa !important;
    cursor: wait;
  }
  .live{
		width: auto;
		text-align: center;
		color: red;
		border: 1px solid red;
		padding: 2px 3px;
		border-radius: 4px;
		font-size: 11px;
	}
  .cprogreso{
    width: 100%;
    height: 36%;
    display: flex;
      align-items: center;
      justify-content: center;
  }

  .progreso{

    width: 100%;
    height: 10px;
    background: #DDDDDD;
    border-radius: 3px;
    margin: 7px 0;
  }

  .cprogreso{
  	margin-bottom: 15px;
  }

  .contprogreso{
      width: 75%;
      height: 100%;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
.pp1{
  display: flex !important;
flex-direction: column !important;
justify-content: space-between !important;
    /*height: 190px;*/
}
  .progresado{
    transition: .3s;
    border-radius: 3px;
    width: 0%;
    height: inherit;
    background: rgba(153,38,174,1);
background: -moz-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(153,38,174,1)), color-stop(24%, rgba(153,38,174,1)), color-stop(100%, rgba(88,43,138,1)));
background: -webkit-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -o-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: -ms-linear-gradient(left, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
background: linear-gradient(to right, rgba(153,38,174,1) 0%, rgba(153,38,174,1) 24%, rgba(88,43,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9926ae', endColorstr='#582b8a', GradientType=1 );
  }

  .tasa{
		color: #A5D650;
		font-size: 12px !important;
	}

  .alcanzado, .tasa, .meta{
		font-size: 14px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
	}

  .cardColorElement{
    color: #931DAB;

  }


      .coloreado{
        background: red !important;
      }




.LIKE:hover, .disLIKE:hover{
  transition: .2s;
  cursor: pointer;
  color: #444444 !important;
}


.progresados{
  transition: .3s;
  height: 100%;
  width: 50%;
  background: #9926ae;
}


app-news{
  position: absolute;
  top: 50px;
  opacity: 0.2;
  z-index: 999;
}





/*Slide styles -------------------------------------------------------------------------------------------------------------------*/




/** {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background: #EFC076;
}*/

.contenedor-slider {
  margin: auto;
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  height: 320px;
background: black;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
}
