<div class="loader" *ngIf="loading"></div>

<div *ngIf="!loading" class="conteFormu" (click)="cerrar()">


<div class="conteNews">


  <div class="news">

    <div class="actuali fuenteTitle" *ngIf="project.news.length>0">
      <i class="material-icons iconn" >error_outline</i><p>Novedades del proyecto</p>
    </div>

    <div class="newsFeed">

           <mat-accordion *ngIf="project.news.length>0">

            <mat-expansion-panel *ngFor="let new of project.news" class="itemMat" >

              <mat-expansion-panel-header>
                <mat-panel-title class="contItemsu fuenteTitle">
                  {{new.title}}
                </mat-panel-title>
              </mat-expansion-panel-header>

          <div class="contItemsu">
            <!-- <p class="itemUser2 fuenteTitle">{{new.description}}</p> -->
            <!-- <p  class="itemUser2 fuenteTitle"></p> -->
            <p [innerHTML]="new.description" class="itemUser2 fuenteTitle"></p>

          </div>

            </mat-expansion-panel>

          </mat-accordion>
          <p *ngIf="project.news.length === 0" class="fuente text fuenteTitle">No hay noticias</p>

    </div>

  </div>
  <div class="video">
    <app-slide [sliderData]="project.multimedia"></app-slide>
    <!-- <div id="contenedor-slider" class="contenedor-slider">
       <div id="slider" class="slider">
         <section *ngFor="let multi of project.multimedia" class="slider__section"><img src="{{multi.link}}" class="slider__img"></section>

      </div>
      <div id="btn-prev" class="btn-prev">&#60;</div>
      <div id="btn-next" class="btn-next">&#62;</div>
   </div> -->
  </div>

</div>

  <div class="madre" id="Madre">

  <div class="menuSec" id="menuSec">
    <div class="info fuente">

          <p (click)="this.feedService.mostrarModal();" class="fuenteTitle">Información {{project.type}}</p>

          <div class="derInfo">
            <div class="subscribe fuenteTitle" (click)="subscribir();">
                <p class="textSb"  *ngIf="suscrito == false">Suscribirme</p>
                <p class="textSb"  *ngIf="suscrito == true"> <i class="material-icons">done</i>Suscrito</p>
            </div>
          </div>

          <div class="izqInfo infoDes">
            <div *ngIf="estadoControlMenu != 'detalleAdmin'" class="subscribe fuenteTitle" [routerLink]="['/']" (click)="this.feedService.escondeScroll(true);">
                <i class="material-icons">keyboard_arrow_left</i><p>Volver</p>
            </div>
            <div *ngIf="estadoControlMenu == 'detalleAdmin'" class="subscribe fuenteTitle" [routerLink]="['/admin']" (click)="this.feedService.escondeScroll(true);">
                <i class="material-icons">keyboard_arrow_left</i><p>Volver</p>
            </div>
          </div>
    </div>
  </div>

  <div class="modeloProyecto conteFormulario">
    <div class="fechaCreated fuenteTitle">Este proyecto fue publicado por el equipo de dinero con opciones en {{project.createdAt | amLocale:'es' | amDateFormat:'MMMM D - YYYY, h:mm a'}}</div>
    <div class="infoPrincipal">
      <div class="tituloContenedor">
        <div class="titulo fuenteTitle ssp">
          <div class="titucoin">
            <!-- <img class="imgCoin" [src]="project.image" *ngIf="project.image != undefined" > -->
            <div *ngIf="project.image.length > 0">	<img *ngIf="project.image != undefined" class="imgCoin" [src]="project.image"></div>
            <h3 class="stitulo">{{project.coinName}}</h3><p class="stitulo2">({{project.simbol}})</p>
          </div>
          <app-stars [stars]="project.stars" [cant]="17"></app-stars>
        </div>
        <div class="titulo2 ">
          <div class="coinPrice" *ngIf="dataCMC.id != undefined && project.type == 'market' ">
            <div class="coinAd">
              <p class="fuenteNumber usdPrice">${{dataCMC.quotes.USD.price}}</p>
              <p class="fuenteTitle">USD</p>
              <p  class="fuenteNumber tasaUsd" *ngIf="dataCMC.quotes.USD.percent_change_24h"
                [ngStyle]="{'color': (dataCMC.quotes.USD.percent_change_24h < 0) ? 'red' : 'green' }"
              >({{dataCMC.quotes.USD.percent_change_24h}}%)</p>

            </div>
            <div class="coinEth" ><p class="fuenteNumber pricEth">{{dataCMC.quotes.ETH.price}}</p><p class="fuenteTitle"> ETH </p><p class="fuenteNumber tasaEth" [ngStyle]="{'color': (dataCMC.quotes.ETH.percent_change_24h < 0) ? 'red' : '#009e73' }" *ngIf="dataCMC.quotes.ETH.percent_change_24h">({{dataCMC.quotes.ETH.percent_change_24h}})%</p> </div>
          </div>

          <div class="coinPrice" *ngIf="dataCMC.id == undefined">
          <!-- <div class="coinPrice" > -->
            <div class="coinAd">
              <p class="fuenteNumber usdPrice">${{project.usdPrice}}</p>
              <p class="fuenteTitle">USD</p>

            </div>
            <div class="coinEth"><p class="fuenteNumber pricEth">{{project.ethPrice}}</p><p class="fuenteTitle"> ETH </p></div>
          </div>
          <div class="socials">
            <a *ngFor="let social of project.socialNetworks" href="{{social.link}}" target="_blank">
              <img src='../../assets/social/{{social.name}}.png' width="25" height="25" class="logoSocial">
            </a>
          </div>
        </div>
      </div>
      <div class="socials2">
        <!-- <p class="fuente redes">Redes :</p> -->
        <a *ngFor="let social of project.socialNetworks" href="{{social.link}}" target="_blank">
          <img src='../../assets/social/{{social.name}}.png' width="25" height="25" class="logoSocial">
        </a>
      </div>

      <!--  Contenedor Pruebas-->
      <div class="contenedorPruebas">

      <div class="prueba p2">
        <div class="links fuenteTitle links2">
          <div class="itemLink" ><i class="material-icons" >link</i> <a href="{{project.webSite}}" target="_blank" class="leftI" >Website</a></div>
          <div class="itemLink" ><i class="material-icons" >bookmark_border</i> <a href="{{project.whitePaper}}" target="_blank" class="leftI" >White paper</a></div>

            <mat-menu #menu="matMenu" >

              <div *ngIf="project.exchanges.length>0">
              <button mat-menu-item *ngFor="let ex of project.exchanges">
                <a class="fuenteTitle" target="_blank" [href]="ex.link"><mat-icon>rotate_90_degrees_ccw</mat-icon>{{ex.name}}</a>
              </button>
            </div>

            <div *ngIf="project.exchanges.length===0"></div>

            </mat-menu>

          <div class="itemLink">
            <app-modalh *ngIf="mostrar == 'noExc'" [status]="status" [token]="Msg[0]"></app-modalh>

            <img src="../../assets/exchange.png" width="20" height="20" class="imgE">

             <a target="_blank" class="leftI2" *ngIf="project.exchanges.length>0"   [matMenuTriggerFor]="menu">
               Exchange
             </a>

             <a target="_blank" class="leftI2 noEx" *ngIf="project.exchanges.length==0" >
               Exchange
             </a>

             <i class="material-icons noEx" *ngIf="project.exchanges.length===0" (mouseenter)="toggleModalHover('noExc')" >
               error_outline
             </i>
           </div>
        </div>
        <div class="CMlikes likecitos2">
          <div class="conteLikes">
            <div class="likeDislike">
              <div class="like fuente">
                <i (click)="like();" class="material-icons like" [ngStyle]="{color: (likes==true) ? '#444444 !important' : '#8f8f8f' }">thumb_up</i>
                <p class="likeText">{{project.likes}}</p>
              </div>
              <div class="dislike fuente">
                <i (click)="disLike()" class="material-icons dislike" [ngStyle]="{color: (disLikes==true) ? '#444444 !important' : '#8f8f8f' }">thumb_down</i>
                <p class="dislikeText">{{project.dislikes}}</p>
              </div>
            </div>
            <div class="progresLikes">
              <div class="progresados"  [style.width.%]="barLikesProgress">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="prueba pp1">


        <!-- <div class="links dataCoin" *ngIf="project.type != 'market'"> -->
        <div class="links dataCoin" *ngIf="dataCMC.id == undefined">
          <mat-divider></mat-divider>

          <div class="contDataCoin">
             <div class="infoCoin fuente negrita">Hard Cap</div>
             <div class="infoCoin fuente negrita">Total Suppy</div>
             <div class="infoCoin fuente negrita">Tokens Bloq</div>
          </div>
          <mat-divider></mat-divider>

         <div class="contDataCoin2">
           <div class="infoCoin fuenteNumber ol">{{hardCap}}</div>
           <div class="infoCoin fuenteNumber ol">{{totalSupply}}  ({{project.simbol}})</div>
           <div class="infoCoin fuenteNumber ol">{{tokenBloq}}</div>
         </div>
        </div>


        <div class="links dataCoin" *ngIf="dataCMC.id != undefined && project.type == 'market' ">
          <mat-divider></mat-divider>

          <div class="contDataCoin">
            <div class="infoCoin fuente negrita">MarketCap</div>
            <div class="infoCoin fuente negrita">Volumen 24h</div>
             <div class="infoCoin fuente negrita coin2">Circulating Supply</div>
          </div>
          <mat-divider></mat-divider>

         <div class="contDataCoin2">
           <div class="infoCoin fuente ol lol">${{marketCap}} USD<p>{{dataCMC.quotes.ETH.market_cap}} ETH</p></div>
           <div class="infoCoin fuente ol lol" *ngIf="dataCMC.quotes.ETH.volume_24h">${{volumen24}} USD<p>{{dataCMC.quotes.ETH.volume_24h.toFixed(0)}} ETH</p></div>
           <div class="infoCoin fuente ol lol coin2">{{circulatinS}} ({{project.simbol}})</div>
         </div>
        </div>

        <div class="CMlikes" *ngIf="project.type != 'market'">
          <div class="cprogreso">
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer</i>
							<span class="meta">{{project.startDate | amLocale:'es' |  amLocal |  amDateFormat:'MMMM D'}}</span>
						</div>

						<div class="contprogreso">
              <div class="live fuenteTitle" *ngIf="project.passedDays==project.totalDays" >Finalizado</div>
							<div class="live fuenteTitle" *ngIf="project.passedDays<project.totalDays" >en vivo</div>

							<div class="progreso">
								<div class="progresado"   [ngStyle]="{'width': (project.passedDays>project.totalDays) ? '100%' : project.percentagePassed+'%' }"></div>
							</div>

							<div class="tasa cardColorElement fuenteTitle" title="50 Millones (17 k Dolares)" uk-tooltip="pos: bottom">
								{{project.passedDays}} / <span class="alcanzado fuenteTitle"> {{project.totalDays}} Días</span>
							</div>

						</div>

						<div class="contfinal">
							<i class="material-icons cardColorElement">timer_off</i>
							<span class="meta fuenteTitle">{{project.endDate | amLocale:'es' | amDateFormat:'MMMM D'}}</span>
						</div>

					 </div>

        </div>
      </div>
    </div>

</div>
<!-- Fin contenedor Pruebas -->


  <div class="contenidoDesc fuente">
    <h4 class="titleDesc">Descripción</h4>
    <p id="descProject" [innerHTML]="project.description" class="fuente"></p>
  </div>

  </div>



  <div class="panelFix fuente panelBack" id="panelFix" [class.abrirAlternoRes]="alternoResponsive == 'abrir'">
      <div class="barritaPanel">
          <p class="dataInvest ">DATOS INVERSIÓN</p>
      </div>
      <div class="panelData">
        <div class="contract">
          <p>Contrato:</p>
          <p class="contracText">{{project.contractAdress}}</p>
        </div>
        <div class="conteDats">
            <div class="bonos">
              <p class="aporte ">BONO</p>
              <p class="cifra apo2">{{project.bono}}%</p>
            </div>
            <div class="purchase">
              <div class="min"><p class="aporte">APORTE MIN</p> <p class="cifra">{{project.minEth}} Eth</p></div>
              <div class="max"><p class="aporte">APORTE MAX</p> <p class="cifra">{{project.maxEth}} Eth</p></div>
            </div>
        </div>
        <div class="ctaCont" [routerLink]="['/detail']" (click)="this.feedService.escondeScroll(false);">
          <div class="ctA fuente" >INVERTIR</div>
        </div>
        <!-- <p>Hay pool? {{project.pool}}</p> -->
        <div class="calcular">
          <p class="titleCalc"> Calcular inversión </p>
          <div class="calculadora">
               <div class="contEth">
                 <div class="placeH">ETH</div>
               <input matInput placeholder="Ether Mount" value="1" class="mountEt"  #box>
               </div>

               <div class="result">
                 <p class="resulSymbol">{{project.simbol}}</p>
                <p class="resulSymbol">{{box.value*project.amountPerEth}}</p>
               </div>
          </div>
        </div>
      </div>

      <!-- <div *ngIf="project.hasPool == true" class="fiz2 fuente panelBack" id="panelFix"> -->
      <div *ngIf="project.pool && role != 'user'" class="fiz2 fuente panelBack" id="panelFix">
          <div class="barritaPanel">
              <img src="../../assets/poool.png" width="35" height="24.3" class="poolPic" >
              <p class="dataInvest" *ngIf="endPool">MARATHON CERRADA</p>
              <p class="dataInvest" *ngIf="!endPool">MARATHON ABIERTA</p>
          </div>
          <div class="panelData datP ">
            <div class="contract faqPool">
              <p>Termina en:</p>
              <!-- <p class="contracText countDown" id="demo"></p> -->
              <div class="contEndDate" *ngIf="estadoPool">
                  <div class="itemDate">
                    <p>{{dias}}</p>
                    <span class="fuenteTitle">Días</span>
                  </div>
                  <div class="itemDate">
                    <p>{{horas}}</p>
                    <span class="fuenteTitle">Horas</span>
                  </div>
                  <div class="itemDate">
                    <p>{{minutos}}</p>
                    <span class="fuenteTitle">Minutos</span>
                  </div>
                  <!-- <div class="itemDate">
                    <p>{{segundos}}</p>
                    <span>Segundos</span>
                  </div> -->
              </div>

              <div class="contEndDate" *ngIf="!estadoPool">
                <p class="finnn fuenteTitle">FINALIZADA</p>
              </div>

              <!-- <div class="poolGuide">
                <p class="firstPool">¿Primera vez? aprende a </p><p>invertir en piscinas</p><i class="material-icons">arrow_forward</i>
              </div> -->

              <div class="warningPool" >
                      <p (click)="this.feedService.toggleAlterno();" class="faqbutton fuenteTitle">Preguntas Frecuentes </p>
                <app-modalh *ngIf="mostrar == 'warning'" [status]="status" [token]="Msg[1]"></app-modalh>

                 <mat-icon (mouseenter)="toggleModalHover('warning')" >error_outline</mat-icon></div>
            </div>
            <div class="conteDats cD2">
                <div class="bonos">
                  <p class="aporte fuenteTitle">BONO</p>
                  <p class="cifra apo2 fuenteNumber">{{project.pool.bono}}%</p>
                </div>
                <div class="purchase">
                  <div class="min"><p class="aporte fuenteTitle">APORTE MIN</p> <p class="cifra fuenteNumber">{{project.pool.minEth}} Eth</p></div>
                  <div class="max"><p class="aporte fuenteTitle">APORTE MAX</p> <p class="cifra fuenteNumber">{{project.pool.maxEth}} Eth</p></div>
                </div>
            </div>

            <!-- <p>Hay pool? {{project.pool}}</p> -->
            <div class="calcular">
              <p class="titleCalc fuenteTitle"> calcular inversión </p>
              <div class="calculadora">
                   <div class="contEth">
                     <div class="placeH fuenteTitle">ETH</div>
                   <input matInput placeholder="Ether Mount" value="1" class="mountEt fuenteNumber"  #box2>
                   </div>

                   <div class="result">
                     <p class="resulSymbol fuenteTitle">{{project.simbol}}</p>
                     <!-- <p class="resulSymbol">{{cantidadTokens}}</p> -->
                    <p class="resulSymbol fuenteNumber">{{box2.value*project.amountPerEth}}</p>
                   </div>
              </div>
            </div>
            <!-- <div class="faqPool"></div> -->
            <div class="ctaCont"  (click)="this.feedService.escondeScroll(false);">
              <a class="ctA fuente espera" *ngIf="endPool"   >En espera...</a>
              <a class="ctA fuente" *ngIf="!endPool"  href="https://{{project.pool.link}}" target="_blank">Contribuir ETH</a>
              <a class="ctA fuente" *ngIf="project.pool.reclaim">Contribuir ETH</a>

            </div>
          </div>
      </div>

      <div class="subAlterno">
        <!-- <app-user-form  [loading]="loading"></app-user-form> -->
        <app-faq [faqP]="faqP"></app-faq>

      </div>
  </div>
</div>

  <!-- <app-modal [NModal]="modals" [Datas]="data"></app-modal> -->


</div>
