
@media screen and (max-width:650px){
	.feedMenu{
    width: 100% !important;
  }
}

 #descNew{
	/*display: none;*/
 }
.flexModule{
  height: 200px;
  /*border: 1px solid #e4e7eeeb;*/
  position: relative;
  transition: .3s;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px !important;
  padding-left: 5px !important;
      width: calc(100% - 10px) !important;
  /*border-bottom: 1px solid #e4e7eeeb;*/
}
.imgBirth{
  position: absolute;
  right: -10px;
  top: 10px;
}


.tablepayment tbody{
    width: 100% !important;
    display: flex;
    flex-direction: column-reverse !important;
    width: 100%;
}

.filita, td{
  /*min-width: 300px !important;*/
  width: 45% !important;
}

.nivelc{
  font-size: 22px !important;
}


#perfiLabels{
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  /*border: .5px solid #d000ff;*/
  border-radius: 4px;
  position: relative;
}

#editars mat-icon{
  position: absolute;
  top: -9px;
  right: -7px;
  color: #7a00ff;
  transition: .2s;
  cursor: pointer;
  /*font-size: 20px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

}

#contSendUser{
  width: 100%;
  display: flex;
  justify-content: center;
}

#enviarUsers{
  width: 250px !important;
  color: yellow;
}

.etiquetaSpan{
  font-size: 13px;
}

.infoGen p{
  font-size: 14px;
  color: grey;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

.nivelUser p{
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #7a00ff !important;
  margin-top: 0 !important;
  margin-left: 15px;
}

.nivelUser p>mat-icon{
  margin: 0 10px 0 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #7a00ff;
}

#roleUs{
  width: 100%;
  height: 35px;
}
.infoGens{
  width: 100%;
  height: 45px;
}
.infoGens p{
  padding-left: 15px;
}
.nivelData{
  width: 140px;
  height: 100%;
  border: 3px solid #7a00ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  color: #7a00ff;
}
.contLvl{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contlvl p{
color: #7a00ff !important;
}
.contLvl p{
  margin: 0 !important;
}


.infoGen p>mat-icon{
  margin: 0 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #7a00ff;
}

.infoGen p>span{
  color: #7a00ff;
  margin-right: 10px;
}

.infoGen p>img{
  margin: 0 10px;
}



.infoGen, .nivelUser{
  width: calc(50% - 40px);
  height: calc(100% - 40px);
  padding: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nivelUser{
  /*align-items: center;*/
  width: calc(50% - 90px) !important;
  padding: 20px 0 20px 90px !important;
  align-items: self-end !important;
}

.filita, .epaIco{
  border-top: 1px solid #e1e5ec9c;
  border-bottom: 1px solid #e1e5ec9c;
  height: 55.33px !important;
  padding: 0 !important;
  display: flex;
    align-items: center;
    padding-left: 15px !important;
}

.ajatu{
  border-top: 1px solid #e1e5ec9c;
  border-bottom: 1px solid #e1e5ec9c;
}

.trxx{
  /*width: 100% !important;*/
  width: auto !important;
}

#carguita{
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  z-index: 99;
  background: #ffffffc2;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  /*align-items: flex-start;*/
}
#enviarUsuario{
  display: none;
}
.progressMember{
  width: 90%;
  height: 7px;
  background: #80808026;
  border-radius: 3px;
  margin-bottom: 22px;
}
.contMem{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    position: relative;
    flex-direction: column;
}
.contMem:hover .editMe{
  top: 0;
}
.editMe{
  width: 100%;
  height: 100%;
  /*background: #000000c9;*/
  /*background: linear-gradient(to top, black , #000000c9);*/
  position: absolute;
  transition: .1s;
  top: 0px;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  /*position: relative;*/
}
#caducex{
  position: absolute;
top: -25px;
font-size: 11px;
color: grey !important;
left: 0;
}


.editMe mat-icon{
  font-size: 16px;
  /*margin-right: 5px;*/
  display: flex;
  justify-content: center;
  align-items: center;

}


.caducam {
  font-size: 12px;
  margin-top: 0 !important;
  color: #80808070 !important;
}
.desacti{
  display: none;
}
#rolings{
  margin-left: 10px;
  width: 30%;
}
.psiome{
  width: 68%;
}
.progressedMember{
  height: 100%;
  /*background: red;*/
}

.inp22{
  align-items: center !important;
  position: relative;
  justify-content: center !important;
}


.txidl, .txidl2{
    display: block;
     margin-left: 2px;
     max-width: 150px;
     overflow: hidden;
     padding-left: 0;
     text-overflow: ellipsis;
     white-space: nowrap;
     font-size: 12px;
}
.txidl2{
  max-width: 110px !important;
}

.txrow{
  display: flex;
}
.txrow img{
  margin-right: 5px;
}

.txrow p{
  margin: 0 5px 0 0 !important;
  color: grey !important;
  font-size: 11px;
}

.fromRed{
  margin-bottom: 3px;
  display: flex;
  color: #acdb91 !important;
}

.fromRed p{
  color: red;
}

.flexModule p{
  /*color: #c4cad8eb;*/
    color: grey !important;
}

.contInputPay, .contInputPays{
  display: flex;
  position: relative;
}
.caducam2{
  color: red !important;
}
.contInputPays{
  margin-top: 50px;
  margin-bottom: 20px;

}
.contInputPays p{
  position: absolute;
  top: -50px;
  left: 0;
}


.walletPrede{
    width: 100% !important;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.bank{
  color: grey;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-sprite{
  margin-right: 8px;
margin-top: 4px;
float: left;
}
.fromRed p{
  margin: 0 0 0 7px !important;
  color: grey;
  line-height: 24px;
}

.noVerify{
  color: red !important;
}

#crearPool{
  display: none;
}

.piker, .piker2, .pikers{
  width: 100%;
  position: absolute;
  bottom: 90px;
  left: 15px
}

#birth{
  padding-left: 35px !important;
  width: 134px !important;
  margin-top: 0 !important;
}

.piker2{
    bottom: 8px !important;
}

.pikers{
      bottom: 5px !important;
      width: 30px !important;
}

.conteBirth{
  position: relative;
}
.contDate{
  position: relative;
}
.contDate input{
  padding:0 0 0 40px !important;
  /*width: calc(100% - 40px) !important;*/
}

.fech{
  padding-left: 60px !important;
  width: calc(100% - 70px)
}


.anadidorNave{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  transition: .3s;
  /*z-index: 10;*/
  background: white;
}


.anadidor{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .flexModule p{
    color: #c4cad8eb ;
  }

.comandos{
position: absolute;
bottom: -40px;
height: 34px;
/*background: white;*/
width: calc(100% - 40px);
/*border-bottom: 1px solid #e4e7eeeb;*/
display: flex;
justify-content: flex-end;
align-items: center;
padding: 0 20px;
  }

.comandos2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.comandos2 button{
  margin: 0 15px;
}

.cancelar{
  color: grey;
}
  .comandos div{
    font-size: 14px;
  }

  .comandos div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4cad8eb;
    cursor: pointer;
    transition: .3s;
  }

  .comandos div:hover{
color: red;
  }

  .comandos div:hover  mat-icon{
    color: red;
  }

  mat-icon{
    transition: .3s;
  }

  .ctA{
    width: 100px;
  }


.openAnadidor{
  cursor: pointer;
  font-size: 25px;
  font-weight: normal;
  color: #c4cad8eb;
}


/*.divi div{
  color: #ff4081;
}*/

.divi hr{
  /*border: .6px solid #ff4081;*/
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #d800ff , #7a00ff);
  border-image-slice: 1;
}


.divi{
  width: 100%;
  position: relative;
    /*margin: 0 0 20px 0;*/
}



.itemActive{
  position: absolute;
  padding: 2px;
  height: 90%;
  cursor: pointer;
  transition: .3s;

border-bottom: 2px solid transparent;
border-image: linear-gradient(to right, #d800ff , #7a00ff);
border-image-slice: 1;
}



.item{
  width: 20%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: linear-gradient(to bottom right, #d800ff , #7a00ff);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.item2{
  width: 33% !important;
}

.item3{
  width: 25% !important;
}

.items{
  width: 400px;
  height: inherit;
  /*background: black;*/
  display: flex;
  position: relative;
  /*margin-left: 50px;*/
}
.items2{
  width: 500px;
  height: inherit;
  /*background: black;*/
  display: flex;
  position: relative;
  /*margin-left: 50px;*/
}

.menuFeed{
  /*width: 100%;*/
  top: -45px;
  height: 45px;
  background: white;
  display: flex;
  position: absolute;

/*border-bottom: .3px solid black;*/
}


.contForm{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.contForm form{
  display: flex;
  flex-direction: column;
}
.formu{
  width: 100%;
  height: 100%;
  position: relative;
}


.enviar{
  width: auto !important;
  color: yellow;
}
.inputso{
  overflow-y: scroll;
}
#retractilPanel{
  width: 100%;
  height: 0 ;
  transition: .25s;
  overflow: hidden;
}
.abrirRetractil{
  height: 67px !important;
}
#insideInput{
  /*width: 100%;*/
  height: 245px;
  width: 400px;
}
.reno{
  font-size: 12px;
  margin-bottom: 0 !important;
}
.conteBirth2 p{
  margin-top: 55px !important;
  width: 150px;
  color: red !important;
}
.oveer{
  position: absolute;
  font-size: 12px;
  top: -13px;
}

.inputso, .inputsos{
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  justify-content: center;
}

.inputsos{
  margin: 0 !important;
}
.conteInp2{
  justify-content: center !important;
  align-items: center;
}

.conteInp input, .conteInp textarea{
  height: 32px;
  border-radius: 3px;
      border-style: none;
      border: 1px solid #e4e7eeeb;
      padding: 0 10px;
      margin: 10px 15px;
}
.conteInp textarea {
  height: 80% !important;
  padding-top: 10px;
  width: 500px;
}
.conteInp{
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.levels{
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
}

.levels p{
  font-size: 16px !important;
}
.tabla{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tabla::-webkit-scrollbar {
  width: 7px;
}
.tabla::-webkit-scrollbar-thumb {
  background: #F2EEF2;
}

.tabla tr{
  width: 100%;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    /*border-top: 1px solid #e1e5ec9c;*/
    /*border-bottom: 1px solid #e1e5ec9c;*/
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #F4F0F4;*/
    background: linear-gradient(to right, #F4F0F4,white);
}


tbody{
  width: 100% !important;
}

.ico{
  font-size: 22px;
  color: #5656562b;
  cursor: pointer;
}

.cabezados{
  position: absolute;
  top: 0;
}
.cabezados th{
  width: 45%;
}

table{
  position: relative;
}

.epaIco{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  width: 95%;
justify-content: center;
}

.epaIcos{
  position: relative;
  text-align: center;
  width: calc(10% - 16px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconshi{
  transition: .05s;
}
.conde{
  transition: .1s;
  opacity: 0;
}

.conde:hover{
  color: #c3c3c3;
}
.icover:hover .epaIcos > mat-icon{
  opacity: 0;
}
.icover:hover .conde{
  opacity: 1;
}

.icover{
  display: flex;
  width: 100% !important;
}
.tituList{
  width: 90% !important;
  height: calc(100% - 16px) !important;
  border-top: 1px solid #e1e5ec9c;
border-bottom: 1px solid #e1e5ec9c;
display: flex;
align-items: center;
}
.icoDel{
  width: 10%!important ;
  height: calc(100% - 16px) !important;
  border-top: 1px solid #e1e5ec9c;
  border-bottom: 1px solid #e1e5ec9c;
  /*border: none !important;*/
}
.icoverList{
  height: 50px !important;
}
.epaico2{
  border: none !important;
  height: 100% !important;
}

.toca{
  width: 250px;
  overflow-y: hidden;
}
