<div class="divi">

<!-- ESTE MENU SOLO SE MOSTRARA CUANDO SEA UN FORMULARIO DE EDICIÓN DE PROYECTO -->
  <div class="menuFeed" *ngIf="formsource == 'edited'">

    <div class="items fuente">

      <div class="itemActive " [style.width.%]="itemActiveAncho"  [style.left.%]="traction"> </div>

      <div class="item" (click)="noticia()" >Noticias</div>
      <div class="item" (click)="rrss()" >RRSS</div>
      <div class="item" (click)="exchange()"  >Exchanges</div>
      <div class="item" (click)="multimedia()" >Multimedia</div>
      <div class="item" (click)="pool()" >Pool</div>
    </div>
  </div>



<!-- ESTE MENU SOLO SE MOSTRARA CUANDO SEA UN FORMULARIO DE CREACIÓN DE PROYECTO -->
  <div class="menuFeed" *ngIf="formsource == 'created'">

    <div class="items fuente">

      <div class="itemActive" [style.width.%]="itemActiveAncho"  [style.left.%]="traction"> </div>

      <div class="item item2" (click)="rrss()" >RRSS</div>
      <div class="item item2" (click)="exchange()"  >Exchanges</div>
      <div class="item item2" (click)="multimedia()" >Multimedia</div>

    </div>

  </div>

  <hr>

</div>







<div class="flexModule">


<!-- AQUÍ VAN LAS LISTAS DE CADA SECCIÓN -->


<!-- viusalización de lista Redes sociales -->
  <div *ngIf="visualizar == 'rrss'" class="tabla">
    <!-- <table matSort (matSortChange)="sortData($event)"> -->
    <table>
    <tr>
      <th>Red Social</th>
    </tr>

    <tr *ngFor="let red of redeSociales" class="icover icoverList">
      <td class="tituList">{{red.name}}</td>
      <td class="epaIcos icoDel">
          <mat-icon class="ico iconshi">settings</mat-icon>
          <!-- <div class="epaIco" *ngIf="formsource == 'edited'">
            <mat-icon matTooltip="Eliminar" class="ico conde">delete</mat-icon>
          </div> -->
          <div class="epaIco epaico2">
          <!-- <div class="epaIco" *ngIf="formsource == 'created'"> -->
            <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('social',red.link)">delete</mat-icon>
          </div>
      </td>
    </tr>
  </table>

  </div>



  <!-- viusalización de lista exchanges -->
    <div *ngIf="visualizar == 'exchange'" class="tabla">
      <!-- <table matSort (matSortChange)="sortData($event)"> -->
      <table>
      <tr>
        <th>Exchange</th>
      </tr>

      <tr *ngFor="let exc of exchanges" class="icover icoverList">
        <td class="tituList">{{exc.name}}</td>
        <td class="epaIcos icoDel">
          <mat-icon class="ico iconshi">settings</mat-icon>
            <!-- <div class="epaIco" *ngIf="formsource == 'edited'">
              <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('exchange',exc.link)">delete</mat-icon>
            </div> -->
            <div class="epaIco epaico2">
            <!-- <div class="epaIco" *ngIf="formsource == 'created'"> -->
              <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('exchange',exc.link)">delete</mat-icon>
            </div>
       </td>
      </tr>
    </table>

    </div>






    <!-- viusalización de lista Multimedia -->
      <div *ngIf="visualizar == 'multimedia'" class="tabla">
        <!-- <table matSort (matSortChange)="sortData($event)"> -->
        <table>
        <tr>
          <th>Media</th>
        </tr>

        <tr *ngFor="let multi of multimedias" class="icover icoverList">
          <td class="tituList">{{multi.name}}</td>
          <td class="epaIcos icoDel">
            <mat-icon class="ico iconshi">settings</mat-icon>
              <!-- <div class="epaIco" *ngIf="formsource == 'edited'">
                <mat-icon matTooltip="Eliminar" class="ico conde">delete</mat-icon>
              </div> -->
              <div class="epaIco epaico2">
              <!-- <div class="epaIco" *ngIf="formsource == 'created'"> -->
                <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('media',multi.link)">delete</mat-icon>
              </div>
         </td>
        </tr>
      </table>

      </div>





      <!-- viusalización de lista Noticias -->
        <div *ngIf="visualizar == 'noticia'" class="tabla">
          <!-- <table matSort (matSortChange)="sortData($event)"> -->
          <table>
          <tr>
            <th>Titulo Noticia</th>
          </tr>

          <tr *ngFor="let new of news" class="icover icoverList">
            <td class="tituList">{{new.title}}</td>
            <td class="epaIcos icoDel">
              <mat-icon class="ico iconshi">settings</mat-icon>

                <div class="epaIco epaico2" *ngIf="formsource == 'edited'">
                  <mat-icon matTooltip="Eliminar" class="ico conde" (click)="eliminarItem('noticia',new.id)">delete</mat-icon>
                </div>
           </td>
          </tr>
        </table>

        </div>










        <!-- viusalización de Piscina -->
        <div class="contForm" *ngIf="visualizar == 'piscina'">
            <form (ngSubmit)="newPool(f)" #f="ngForm" class="formu">
              <div class="inputso">
                  <div class="conteInp">

                     <input
                      placeholder="minEth"
                      type="number"
                      name="minEth"
                      (change)="crearPiscina()"
                      [(ngModel)]="piscinActual.minEth"
                      >

                      <input
                       placeholder="maxEth"
                       type="number"
                       name="maxEth"
                       (change)="crearPiscina()"
                       [(ngModel)]="piscinActual.maxEth"
                       >


                  </div>

                  <div class="conteInp">
                    <input
                     placeholder="Link(opcional)"
                     name="link"
                       [(ngModel)]="piscinActual.link"
                     >

                     <input
                      placeholder="Bono"
                      type="number"
                      name="bono"
                      (change)="crearPiscina()"
                      [(ngModel)]="piscinActual.bono"
                      >

                      <div class="contDate">
                          <input [matDatepicker]="picker" placeholder="Fecha de Finalización Piscina" [(ngModel)]="piscinActual.endDate" name="endDate" (change)="crearPiscina()" >
                          <div class="piker2">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </div>
                      </div>
                      <!-- <input matInput [matDatepicker]="picker2" placeholder="Fecha finalización ICO"  ngModel name="endDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker> -->
                  </div>

                  <div class="conteInp">
                    <textarea
                    placeholder="Aviso piscina"
                    name="warning"
                    (change)="crearPiscina()"
                     [(ngModel)]="piscinActual.warning"
                    >
                    </textarea>
                  </div>
              </div>

              <div class="comandos2">
                <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()" id="crearPool">Crear Piscina</button>
              </div>
          </form>
      </div>











<!-- ESTA ES LA NAVE CORREDIZA DONDE VIENEN LOS FORMULARIOS -->
  <div class="anadidorNave" [style.top.%]="open">
    <div class="anadidor" >
      <!-- Aqui va todo el contenido de los formularios -->



<!-- FORMULARIO PARA CREAR NOTICIA -->
        <div class="contForm" *ngIf="visualizar == 'noticia'" [ngStyle]="{'display': (verlo==true) ? 'initial' : 'none' }">
            <form (ngSubmit)="newNotice(f)" #f="ngForm" class="formu">

              <div class="inputso">
                  <div class="conteInp">
                    <input
                     placeholder="Titulo Noticia"
                     name="title"
                     ngModel>
                     <input
                      placeholder="Link(opcional)"
                      name="link"
                      ngModel>
                  </div>
                  <div class="conteInp dios" id="descNew">
                    <textarea
                    [froalaEditor]
                    placeholder="Descripción Noticia"
                    name="description"
                    ngModel>
                    </textarea>
                  </div>
              </div>
              <div class="comandos2">
                <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Crear Noticia</button>
                <div class="ctA fuente cancelar" (click)="cancelar()">Cancelar</div>
              </div>
          </form>
      </div>



      <!-- FORMULARIO PARA CREAR PISCINA -->
              <!-- <div class="contForm" *ngIf="visualizar == 'piscina'">
                  <form (ngSubmit)="newPool(f)" #f="ngForm" class="formu">
                    <div class="inputso">
                        <div class="conteInp">

                           <input
                            placeholder="minEth"
                            type="number"
                            name="minEth"
                            ngModel>
                            <input
                             placeholder="maxEth"
                             type="number"
                             name="maxEth"
                             ngModel>


                        </div>

                        <div class="conteInp">
                          <input
                           placeholder="Link(opcional)"
                           name="link"
                           ngModel>
                           <input
                            placeholder="Bono"
                            type="number"
                            name="bono"
                            ngModel>

                            <input matInput [matDatepicker]="picker" placeholder="Fecha de Finalización Piscina" ngModel name="endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>


                        </div>

                        <div class="conteInp">
                          <textarea
                          placeholder="Aviso piscina"
                          name="warning"
                          ngModel>
                          </textarea>
                        </div>
                    </div>

                    <div class="comandos2">
                      <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Crear Piscina</button>
                      <div class="ctA fuente cancelar" (click)="cancelar()">Cancelar</div>
                    </div>
                </form>
            </div> -->








      <!-- FORMULARIO PARA CREAR EXCHANGES -->
              <div class="contForm" *ngIf="visualizar == 'exchange'">
                  <form (ngSubmit)="newExchange(f)" #f="ngForm" class="formu">

                    <div class="inputso">
                        <div class="conteInp conteInp2">
                           <input
                            placeholder="Link(opcional)"
                            name="link"
                            ngModel>

                            <!-- <input type="text" placeholder="Exchange" name="nombre" ngModel > -->
                              <input type="text" placeholder="Exchange"  [matAutocomplete]="auto"   name="nombre" ngModel >
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let exchan of exchan" [value]="exchan">
                                  {{ exchan }}
                                </mat-option>
                              </mat-autocomplete>
                        </div>

                    </div>
                    <div class="comandos2">
                      <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Añadir Exchange</button>
                      <div class="ctA fuente cancelar" mat-raised-button (click)="cancelar()">Cancelar</div>
                    </div>
                </form>
            </div>



            <!-- FORMULARIO PARA CREAR RRSS -->
                    <div class="contForm" *ngIf="visualizar == 'rrss'">
                        <form (ngSubmit)="newSocial(f)" #f="ngForm" class="formu">

                          <div class="inputso">
                              <div class="conteInp conteInp2">
                                 <input
                                  placeholder="Link*"
                                  name="link"
                                  ngModel>

                                  <!-- <input type="text" placeholder="Exchange" name="nombre" ngModel > -->
                                    <input type="text" placeholder="Red Social"  [matAutocomplete]="autoSo"   name="socialname" ngModel >
                                    <mat-autocomplete #autoSo="matAutocomplete">
                                      <mat-option *ngFor="let socials of socials" [value]="socials">
                                        {{ socials }}
                                      </mat-option>
                                    </mat-autocomplete>
                              </div>

                          </div>
                          <div class="comandos2">
                            <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Añadir Red Social</button>
                            <div class="ctA fuente cancelar" mat-raised-button (click)="cancelar()">Cancelar</div>
                          </div>
                      </form>
                  </div>



                  <!-- FORMULARIO PARA CREAR MULTIMEDIA -->
                  <div class="contForm" *ngIf="visualizar == 'multimedia'">
                      <form (ngSubmit)="newMultimedia(f)" #f="ngForm" class="formu">

                        <div class="inputso">
                            <div class="conteInp conteInp2">
                               <input
                                placeholder="Link*"
                                name="link"
                                ngModel>

                                  <input type="text" placeholder="Multimedia"  [matAutocomplete]="autoMu"   name="multiName" ngModel >
                                  <mat-autocomplete #autoMu="matAutocomplete">
                                    <mat-option *ngFor="let medias of medias" [value]="medias">
                                      {{ medias }}
                                    </mat-option>
                                  </mat-autocomplete>
                            </div>

                        </div>
                        <div class="comandos2">
                          <button class="ctA fuente degradadoBack enviar" type="submit" mat-raised-button (click)="anadir()">Añadir Multimedia</button>
                          <div class="ctA fuente cancelar" mat-raised-button (click)="cancelar()">Cancelar</div>
                        </div>
                    </form>
                </div>















        <div class="comandos" *ngIf="visualizar != 'piscina'" >
          <div (click)="abrirAnadidor()"><mat-icon class="openAnadidor">add</mat-icon>Nuev{{seccion}}</div>
        </div>
    </div>
  </div>

</div>
