
.star mat-icon{
  display: flex;
      justify-content: center;
      width: auto;
      height: auto;
      color: #d2d2d2;
}

.star{
  display: flex;
}

.starON{
  color: #ffe500 !important;
}


.starComponent{
  /*opacity: 0 !important;*/
  opacity: 1 ;
  transition: .3s;
}
