
<div class="star starComponent" *ngIf="stars == 1" >
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
</div>

<div class="star starComponent" *ngIf="stars == 2" >
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
</div>

<div class="star starComponent" *ngIf="stars == 3" >
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
</div>

<div class="star starComponent" *ngIf="stars == 4" >
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon [style.font-size.px]="cant">star</mat-icon>
</div>


<div class="star starComponent" *ngIf="stars == 5" >
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
  <mat-icon class="starON" [style.font-size.px]="cant">star</mat-icon>
</div>
