<div class="outleet">
  <app-modal *ngIf="contenidoModal=='newUser' || contenidoModal=='VIP'" [contenidoModal]="contenidoModal" [statusModal]="statusModal" (contenidoModalReturn)="cerrarModal($event)" (statusModalReturn)="reciboStatusModal($event)"></app-modal>
<app-modal-update *ngIf="authService.isLoggedIn()" ></app-modal-update>

  <div class="feedContent">
    <div class="menuFeed">

      <div class="items fuente">
        <span (click)="buscar('yes')"><mat-icon>search</mat-icon></span>

        <div class="itemActive"
          [style.left.%]="traction"
          [style.width.%]="anchoBusqueda"
          [class.searchActive]="busqueda === true"
          >
          <div class="cerrar" (click)="buscar('no')"
          [ngStyle]="{animation: (busqueda == true) ? 'entrada .5s forwards ease-in' : null }"
          > <mat-icon>close</mat-icon>
          </div>

          <form  (ngSubmit)="searchProject(f)" class="inputSearch" #f="ngForm"
          [ngStyle]="{animation: (busqueda == true) ? 'entrada .5s forwards ease-in' : null }">

          <input placeholder="Buscar Proyecto..." class="inputSearch2" type="text" name="fname" ngModel name="search">

          </form>
        </div>

        <div class="item fuenteTitle" (click)="todo()" *ngIf="role == 'user'">Publico</div>
        <div class="item fuenteTitle" (click)="todo()" *ngIf="role != 'user'">Todo</div>
        <div class="item fuenteTitle" (click)="proyectos()"  *ngIf="role != 'user'">Proyectos</div>
        <!-- <div class="item" (click)="calendarVip()"  *ngIf="role">Calendario VIP</div> -->
      </div>

      <mat-form-field class="filtroFeed" *ngIf="onlyFilter == true" id="selectMati">
        <mat-select name="type" [(ngModel)]="selected" >
          <mat-option (click)="applyFilter('todo')" value="all">Todo</mat-option>
          <mat-option (click)="applyFilter('presale')" value="preico">Pre-ico</mat-option>
          <mat-option (click)="applyFilter('ico')" value="ico">Ico</mat-option>
          <mat-option (click)="applyFilter('market')" value="market">En mercado</mat-option>
        </mat-select>
        <mat-label><mat-icon id="iconFill">filter_list</mat-icon> <b class="filterList">Filtrar por:</b> </mat-label>
      </mat-form-field>

    </div>



    <div class="demo-tab-content" id="conteProyectos">

      <app-lista-publi *ngIf="visualizar == 'all'" (sendMoreProject)="reciboStatus($event)"></app-lista-publi>
      <app-lista-proyecto *ngIf="visualizar == 'projects'" (sendMoreProject)="reciboStatus($event)" [dataFilter]="dataFil"></app-lista-proyecto>
      <app-buscar-proyecto *ngIf="visualizar == 'busqueda'" [queryParam]="queryParam"></app-buscar-proyecto>

      <!-- <div id="scrollead"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="250"
      (scrolled)="onScroll()"
      ></div> -->


      <div id="scrollead">
        <p *ngIf="!loadlist && moreProject == true" class="verMasss" (click)="cargarMas(this.visualizar)" >Cargar mas...</p>
        <div class="loader" *ngIf="loadlist"></div>
      </div>

    </div>
  </div>

<!-- <div class="feedContent">
  <mat-tab-group class="demo-tab-group">
  	<mat-tab label="Todo" id="veg" (click)="hola()" class="todito">
  		<div class="demo-tab-content">
        <app-lista-publi [alimentadorFeed]="alimentadorFeed"></app-lista-publi>
  		</div>
  	</mat-tab>

  	<mat-tab label="Proyectos">
      <div class="demo-tab-content">
        <app-lista-proyecto></app-lista-proyecto>

   		</div>
  	</mat-tab>
  	<mat-tab label="Calendario VIP">
      <div class="demo-tab-content">
   		</div>
  	</mat-tab>
  </mat-tab-group>
</div> -->

<div class="alterno" [class.abrirAlternoRes]="alternoResponsive == 'abrir'">

  <div class="alternoP">
    <app-steemit (statusModal)="reciboStatusModal($event)" (contenidoModal)="reciboContentModal($event)"></app-steemit>
  </div>

  <div class="subAlterno">
    <app-faq></app-faq>

  </div>


</div>


</div>
