<mat-toolbar class="degradado menuPrincipal" >
  <mat-toolbar-row >
    <div class="contMenu">

      <div class="menuAdmon">

        <mat-icon id="menuBurguer" (click)="this.globalService.sendAlternoMenu('abrir'); burgerState = 'abrir'" *ngIf="burgerState == 'cerrar'">menu</mat-icon>
        <mat-icon id="menuBurguer" (click)="this.globalService.sendAlternoMenu('cerrar'); burgerState = 'cerrar'" *ngIf="burgerState == 'abrir'">menu</mat-icon>

        <div class="maskControl">
            <div class="conteControl" [class.detalleAdmin]="estadoControlMenu === 'detalleAdmin'">
              <div class="logito">
                <img   src="../assets/logotipo.png" [routerLink]="['/']" height="30"  (click)="esconderScrolll()">
                <span class="beta">BETA</span>
              </div>
              <div class="control" [routerLink]="['/admin']" >
                <mat-icon>keyboard_arrow_left</mat-icon><p>Volver</p>
              </div>
            </div>
          </div>


      </div>

      <div class="contLOG">
        <!-- <div class="contLOG LOG2" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn()"> -->
        <div class="contLOG LOG2"  *ngIf="isLoggedIn()"  >

          <mat-icon *ngIf="role == 'admin'" (click)="abrirSub('adminOp')" class="adminss">settings</mat-icon>
          <div *ngIf="selectorSubMenu === 'adminOp'">
             <app-subMenu id="epa" (mouseleave)="ocultar()" [clases]="clases" [statusModal]="statusModal" [contenidoModal]="contenidoModal" (statusModalReturn)="reciboStatustModal($event)"></app-subMenu>
          </div>

          <div class="nameLOG" (click)="abrirSub('adminOp2')" >
            <p>{{name()}}</p>
            <p class="rolee">usuario {{getRole()}}</p>
          </div>
          <img [src]="pictureP()" class="iconIde" (click)="abrirSub('adminOp2')">
          <div *ngIf="selectorSubMenu === 'adminOp2'">
            <app-subMenu (mouseleave)="ocultar()" [clases]="clases"  [statusModal]="statusModal" [contenidoModal]="contenidoModal" (statusModalReturn)="reciboStatustModal($event)"></app-subMenu>
          </div>
        </div>
          <i class="material-icons iconIde" [routerLink]="['/auth']" *ngIf="!isLoggedIn()" >account_circle</i>



          <!-- <mat-menu #menu="matMenu" >
          <div>
            <button mat-menu-item   [routerLink]="['/auth']" >
              <mat-icon>perm_identity</mat-icon>
              <a>Perfil</a>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <a>Cerrar sessión</a>
            </button>
          </div>
          </mat-menu> -->

      </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-panel-admin></app-panel-admin>


<div class="contenidoPP" >

<router-outlet></router-outlet>


</div>
<!-- <div class="alterno">

  <div class="alternoP">
    <app-steemit (statusModal)="reciboStatusModal($event)" (contenidoModal)="reciboContentModal($event)"></app-steemit>
  </div>

  <div class="subAlterno">
    <app-faq></app-faq>

  </div>


</div> -->
