#globalContent{
  width: 100%;
  height: 100%;
  background: #F2F4F8;
}

.contMenu{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*display: none;*/
}

.logito{
  display: flex;
  position: relative;
      height: 40px;
}

.beta{
  font-size: 9px;
     color: yellow;
     position: absolute;
     right: 0px;
     bottom: 0px;
}

.menuPrincipal{
  z-index: 99;
}

#menuBurguer{
  color: yellow;
  font-size: 22px;
  display: none;
}


mat-toolbar{
  height: 20px !important;
}
.iconIde{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: .5px solid rgb(140, 224, 82);
  cursor: pointer;
  display: flex;
justify-content: center;
align-items: center;
}
.contMenu img{
  cursor: pointer;
}
.contenidoPP{
  background: #F2F4F8;
  display: flex;
  width: 100%;
  height: 100%;
}

.contLOG{
display: flex;
width: auto;
min-width: 165px;
height: 100%;
justify-content: flex-end;
align-items: center;
position: relative !important;
}

.icoLOG{
color: #58ce58;
}
.nameLOG{
  margin: 0 7px !important;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  height: 100% !important;

}
.nameLOG p{
  margin: 0 !important;
  height: 15px;
}
.rolee{
  font-size: 11.5px;
  color: yellow;
}
.nameLOG div{
  display: flex;
  position: relative;
}

.arroww{
  font-size: 14px !important;
}
.LOG2{
  cursor: pointer;
}

.menuAdmon{
  display: flex;
  align-items: center;
  position: relative;
}
.menuAdmon mat-icon{
  margin:0 15px;
  font-size: 22px !important;
  color: yellow;
  cursor: pointer;
}

.detalleAdmin{
  top: -45px !important;
}
/*img{
  transition: .3s;

}*/

.maskControl{
  width: 60px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  height: 45px;
  transition: .3s;
}

.conteControl{
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 7px;
  transition: .3s;
  top: 0 ;
}
.control{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.control mat-icon{
  color: yellow;
  /*font-size: 25px !important;*/
  margin: 0 !important;
  display: flex;
  align-items: center;
}

.control p{
  font-size: 13px !important;
  color: yellow;
}


.adminss{
  margin-right: 30px !important;
  color: yellow;
}















.alternoP{
  /*display: none;*/
  z-index: 2;
  height: 100%;
  width: 100%;
  background: #2D3942;
}

.alterno{
  position: absolute;
  border-left: 1.5px solid rgba(0,0,0,.10);;
  transition: .3s;
  background: #2D3942;
  /*z-index: 2;*/
  top: 0;
  right: 0;
  width: 380px;
  min-width: 320px;
  /*width: 32%;*/
  height: 100%;
  display: flex;
  /*-webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);*/
/*clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);*/
}


.abrirAlterno{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
width: 500px;
}

.subAlterno{
  position: absolute;
  height: 100%;
  /*width: 352px;*/
  width:100%;
  /*background: #f9f9f9;*/
  /*background: red;*/
  z-index: 3;
transition: .3s;
transform: translateX(430px);

}
