<div *ngIf="loading == true" class="loader"></div>
<!-- <div *ngIf="projects.length==0">NO HAY RESULTADOS</div> -->

<!-- <div class="carta fuente" id="carta"  *ngFor="let item of projects">
{{item.title}}
</div> -->
<div>

			<div class="carta fuente" id="carta"  *ngFor="let item of projects">
				<div class="infoProject">
					<div class="cnombreProyecto">
						<div class="nombreProyecto fuenteTitle">

						<div class="groupInfC">	<div *ngIf="item.image.length > 0">	<img *ngIf="item.image != undefined" class="imgCoin" [src]="item.image" width="24" height="24"></div>
							{{item.coinName}}
							</div>

							<app-stars [stars]="item.stars" [cant]="12"></app-stars>

						</div>

						<div class="icons">
							<img *ngIf="item.hasPool" src="../../assets/pool.png" width="30">
							<i (click)="toggleModalHover(item.id)"  class="material-icons alerta" matTooltip="¡Mas información!">error_outline</i>

							<app-modalHF class="appM" id="appM" *ngIf="mostrar === item.id"  (notify)="onNotifyClicked($event)"  [status]="status" [id]="item.id"></app-modalHF>

						</div>
					</div>
					<div id="demo" style="display:none;"></div>
					<div class="cutilidad">

						<div class="utilidad" *ngIf="item.type=='market'">
							<div class="rentabilidad" ><p class="tituloc fuenteTitle">Tasa 24/h</p><p class="newRent"  [ngStyle]="{'color': (item.coinmarketcap.quotes.USD.percent_change_24h < 0) ? 'red' : '#A9D758' }">{{item.coinmarketcap.quotes.USD.percent_change_24h}} % </p></div>
							<div class="rentabilidad" ><p class="tituloc fuenteTitle">Precio usd</p><p class="rent">${{item.coinmarketcap.quotes.USD.price}}</p></div>
						</div>

            <div class="utilidad" *ngIf="item.type!='market'">

							<div class="rentabilidad" *ngIf="item.hardCap"><p class="tituloc fuenteTitle">Hard cap</p><p class="rent">{{feedService.acortaNum(item.hardCap)}} M </p></div>
							<div class="plusvalia" *ngIf="item.usdPrice"><p class="tituloc fuenteTitle">Precio compra</p> <p class="rent">{{item.usdPrice}}cts</p></div>
							<div class="plusvalia bonos" *ngIf="item.bono"><p class="tituloc fuenteTitle">Bono</p> <p class="rent">+{{item.bono}}%</p></div>
							<div class="plusvalia" *ngIf="item.minEth"><p class="tituloc fuenteTitle">Aporte min ETH</p> <p class="rent">{{item.minEth}}</p></div>

					  </div>
          </div>
					<div class="cprogreso">
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer</i>
							<span class="meta">{{item.startDate | amLocale:'es' |  amLocal |  amDateFormat:'MMMM D'}}</span>
						</div>

						<div class="contprogreso">
							<div class="live" *ngIf="item.passedDays<item.totalDays">
								en vivo
						  </div>

							<div class="live" *ngIf="item.passedDays>item.totalDays">
								Finalizado
						  </div>

							<div class="progreso">
								<div class="progresado"
								  [ngStyle]="{'width': (item.passedDays>item.totalDays) ? '100%' : item.percentagePassed+'%' }"
								></div>
							</div>

							<div *ngIf="item.passedDays<item.totalDays" class="tasa cardColorElement" title="50 Millones (17 k Dolares)" uk-tooltip="pos: bottom">
								{{item.passedDays}} /<span class="alcanzado">{{item.totalDays}}</span>
							</div>


						</div>
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer_off</i>
							<span class="meta">{{item.endDate | amLocale:'es' |  amLocal |  amDateFormat:'MMMM D'}}</span>
						</div>
					 </div>

					<div style="width: 100%; display: flex; justify-content: center; margin-bottom: 15px;">
					<a id="saberMas" [routerLink]="['projects', item.id]" class="subcm verMas alamie" >Quiero saber más</a>
					</div>

				</div>

				<div class="picProject" id="picProject">
					<div class="contpic degradadoBack">{{item.type}}</div>
					<div class="contBut contBut2">
					</div>
					<div class="contBut">
						<a id="saberMas" [routerLink]="['projects', item.id]" class="subcm verMas qsmax" >Quiero saber más</a>
					</div>


				<div id="contenedor-slider" class="contenedor-slider">
					<app-slide [sliderData]="item.multimedia"></app-slide>

 					<!-- <iframe width="100%" height="100%" src="{{item.video}}" frameborder="0" allow=" encrypted-media" allowfullscreen></iframe> -->
					<!-- <iframe id="player" type="text/html" width="100%" height="100%"  [src]="item.video"  frameborder="0"></iframe> -->
				</div>

				</div>


</div>
<!-- <div id="infiniteScro"

infiniteScroll
[infiniteScrollDistance]="0.5"
[infiniteScrollThrottle]="250"
(scrolled)="onScroll()"
[infiniteScrollContainer]="#conteProyectos"
></div> -->
