<div class="contMadreAdmin">

<!-- MENU QUE SOLO SE MOSTRARA EN PROYECTOS Y ANUNCIOS -->
<div class="contsubMen" *ngIf="visualizarPadre != 'users'">
    <div class="subMen">
      <div class="btnBro">

        <!-- <mat-icon id="listlqs" (click)="pantalla('projects'); onClick(); estadoPanel = 'lista'; enviarProject()" [class.actives]="estadoPanel == 'lista'">format_list_bulleted</mat-icon> -->
    <div id="contListBack"  [style.top.px]="tractionMenu">
        <p id="newPA"  class="added fuente matadd" [class.actives]="estadoPanel == 'add'" > <mat-icon   matTooltip="Añadir..." [matMenuTriggerFor]="menu" [class.actives]="estadoPanel == 'add'"  >add_circle_outline</mat-icon> <span class="textaddd"> Añadir...</span></p>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="pantalla('newProject', 'Nuevo Proyecto'); estadoPanel = 'add'"><mat-icon class="ann">language</mat-icon>Nuevo Proyecto</button>
          <button mat-menu-item (click)="pantalla('newAd', 'Nuevo Anuncio'); estadoPanel = 'add'"><mat-icon class="ann">rss_feed</mat-icon>Nuevo Anuncio</button>
        </mat-menu>

        <p (click)="volver()" id="volver" class="fuente"><mat-icon>keyboard_arrow_left</mat-icon> Volver</p>

    </div>

      </div>

      <div id="contVistas">
        <div id="contVistaItem2" class="fuente" [style.top.px]="tractionItemList" >
          <p>Lista de Proyectos</p>
          <p>Lista de Anuncios</p>
          <p>Creando {{typeCreated}}</p>
        </div>
      </div>

      <div class="filtro" >
        <mat-icon   matTooltip="Filtrar Vista..." (click)="abrirFiltro();" *ngIf="estadoPanel == 'lista'">filter_list</mat-icon>
        <app-filterlist [status]="status" [proyectos]="proyectos" (notify)="recibeStatus($event)" (updateProject)="actualizoProjects($event)" (updateView)="updateViewPadre($event)"></app-filterlist>
      </div>
    </div>

</div>
<!-- MENU QUE SOLO SE MOSTRARA EN USUARIOS -->
<div class="contsubMen"  *ngIf="visualizarPadre == 'users'">
    <div class="subMen">
      <div class="btnBro" >
        <!-- <mat-icon (click)="pantalla('projects'); onClick(); estadoPanel = 'lista'; enviarProject()" [class.actives]="estadoPanel == 'lista'">format_list_bulleted</mat-icon> -->

        <!-- <p id="newUser"  class="added fuente matadd" [class.actives]="estadoPanel == 'add'" > <mat-icon   matTooltip="Añadir..." [matMenuTriggerFor]="menu" [class.actives]="estadoPanel == 'add'"  >add_circle_outline</mat-icon> <span class="textaddd"> Añadir...</span></p> -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="pantalla('newProject'); estadoPanel = 'add'"><mat-icon class="ann">user</mat-icon>Nuevo Usuario</button>
        </mat-menu>



      </div>

      <div id="contVistas">
        <div id="contVistaItem" class="fuente" [style.top.px]="tractionItemList" >
          <p>Usuarios VIP</p>
          <p>Usuarios General</p>
          <p>Black List</p>
          <p>Administradores</p>
        </div>
      </div>
      <div class="filtro" >
        <div class="contNoverify">
            <mat-icon (click)="globalService.sendNoVerify(true);"
            [ngStyle]="{'color': (userVerify==true) ? '#5890ff' : 'grey' }"
            class="verifyUsers"
            *ngIf="cantNoVerify > 0"
            >history</mat-icon>
            <span id="cantNoVERIFY" *ngIf="cantNoVerify > 0" class="fuente">{{cantNoVerify}}</span>
        </div>
        <mat-icon   matTooltip="Filtrar Vista..." (click)="abrirFiltro();" *ngIf="estadoPanel == 'lista'">filter_list</mat-icon>
        <app-userFilterList [status]="status" (notify)="recibeStatus($event)"></app-userFilterList>
        <!-- <app-filterlist [status]="status" [proyectos]="usuarios" (notify)="recibeStatus($event)" (updateProject)="actualizoProjects($event)" (updateView)="updateViewPadre($event)"></app-filterlist> -->
      </div>
    </div>
</div>






<adForm *ngIf="visualizarPadre == 'newAd'"></adForm>
<projectForm *ngIf="visualizarPadre == 'newProject'"></projectForm>
<project-list *ngIf="visualizarPadre == 'projects'"></project-list>
<ads-list *ngIf="visualizarPadre == 'anuncios'" (vista)="reciboEstadoPanelAd($event)" (anuncio)="reciboAd($event)" (edited)="reciboEdited($event)"></ads-list>
<user-list *ngIf="visualizarPadre == 'users'" (cantNoVerify)="reciboCantNoVerify($event)" ></user-list>
<!-- PANEL ADMIN COMPONENT -->



</div>

<app-panel-ads [edited]="edited" [visible]="enviarVisible" [anuncio]="anuncio" [estadoPanel]="estadoPanelAd" *ngIf="visualizarPadre == 'anuncios' "  (envioEstadoPanel)="reciboEstadoPanelAd($event)" (editedSend)="reciboEdited($event)"></app-panel-ads>

<add-panel-user  *ngIf="visualizarPadre == 'users' "></add-panel-user>
<!-- <add-panel-user ></add-panel-user> -->
<!-- <div class="panelAdminis" *ngIf="visualizarPadre == 'anuncios'">
asd
</div> -->
