.contMadreAdmin{
  width: 80%;
  /*height: 300%;*/
  /*border: 1px solid #c1c1c154;*/
  /*background: white;*/
  padding: 90px 0 0 0;
  position: relative;

}
.added{
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #80808096;
}

#contVistas{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: transparent;
}

#listlqs, #newPA{
  position: relative;
  z-index: 22;
}

#contVistaItem p{
  text-align: center;
}
#contVistaItem, #contVistaItem2{
  transition: .3s;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
}

#contVistaItem2{
  top: 50px ;
}
#newUser{
  position: relative;
  z-index: 99;
}

.subMen{
  position: relative;
  width: 80%;
  height: 45px;
  background: white;
  border: 1px solid #c1c1c154;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  top: 45px;
}
.actives{
  color: #9028ac !important;
}
.contsubMen{
  z-index: 10;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBro{
width: auto;
margin: 0 7px;
height: 100%;
overflow: hidden;
flex-direction: column;
position: relative;
}

#contListBack{
  position: relative;
  top: 25px;
  /*top: -12px;*/
  z-index: 9999999999999999;
  transition: .3s;
}

#volver{
  display: flex;
    justify-content: center;
    align-items: center;
    color: #cbcbcb;
    cursor: pointer;
    font-size: 13px !important;
}

#volver:hover{
  color: grey;
}

#volver:hover mat-icon{
  color: grey;
}

.filtro{
  width: 60px;
  margin: 0 7px;
  height: 100%;
  position: relative;
}
.verifyUsers{
  font-size: 23px;
  display: flex;
  align-items: center;
}
.contNoverify{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#cantNoVERIFY{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -6px;
right: -1px;
  font-size: 9px;
  background: red;
  border-radius: 50%;
  height: 14px;
  width: 17px;
  color: white;
}
.filtro, .btnBro{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon{
  font-size: 25px;
  margin: 0 5px;
  cursor: pointer;
  transition: .3s;
  color: #80808070;
  /*background: linear-gradient(to bottom right, #d800ff , #7a00ff);*/
  /*-webkit-background-clip: text;*/
  /*color: transparent;*/
}

mat-icon:hover{
  color: #9028ac;
}

mat-icon:hover .added{
  color: #9028ac;
}
.matadd:hover .textaddd{
  transform: translateX(0) !important;
  opacity: 1;

}

.textaddd{
  transform: translateX(-15px);
  opacity: 0;
  transition: .3s;
}
