<div class="sinDesplegar contenidoMH" id="contenidoMH" (mouseleave)="cerrar(); onClick();"

	[ngStyle]="{animation: (status=='active') ? 'desplegar .3s forwards ' : 'plegar .2s forwards ease-in' }"
	>

	<div class="contenido" [ngStyle]="{animation: (status=='active') ? 'conteShow .3s forwards ease-in' : 'conteHide .2s forwards ease-in' }">
		<mat-icon class="cerralo" (click)="cerrar(); onClick();" >close</mat-icon>

		<p class="conTitu"><img src="../../assets/poool.png" width="30" height="20"> MARATHON <span *ngIf="estadoPools == 'si'"> ABIERTA</span> <span  *ngIf="estadoPools == 'fin'"> FINALIZADA</span> <span  *ngIf="estadoPools == 'no'"> INFO</span>  </p>

		<div class="poolData" >
			<div class="contEndDate" *ngIf="estadoPools == 'si'">
					<div class="itemDate">
						<p>{{dias2}}</p>
						<span>Días</span>
					</div>
					<div class="itemDate">
						<p>{{horas2}}</p>
						<span>Horas</span>
					</div>
					<div class="itemDate">
						<p>{{minutos2}}</p>
						<span>Minutos</span>
					</div>
					<!-- <div class="itemDate">
						<p>{{segundos2}}</p>
						<span>Segundos</span>
					</div> -->
			</div>
			<div *ngIf="estadoPools == 'fin'" class="contEndDate">Finalizado</div>
			<div *ngIf="estadoPools == 'no'" class="contEndDate">Aún no hay Marathon</div>
			<div class="contEndDate" *ngIf="loading"> Cargando... </div>
		</div>

		<p class="conTitu"><img src="../../assets/mundo.png" width="20" height="20"> NOVEDADES </p>


		<div class="contScrollMH">

			<div class="nohaynov" *ngIf="news.length == 0 && !loading" >¡No hay novedades! <mat-icon>sentiment_very_dissatisfied</mat-icon></div>
			<div id="spinin" *ngIf="loading"><mat-spinner ></mat-spinner></div>



				<mat-accordion *ngIf="!loading">

					<mat-expansion-panel *ngFor="let noticia of news" >



						<mat-expansion-panel-header>
							<mat-panel-title class="contItemsu">
								{{noticia.title}}
							</mat-panel-title>
						</mat-expansion-panel-header>

				<div class="contItemsu">
					<!-- <div class="itemUser2">{{noticia.description}}</div> -->
					<p [innerHTML]="noticia.description" class="itemUser2 fuenteTitle" id="descNoticia"></p>

				</div>
					</mat-expansion-panel>

				</mat-accordion>


				<!-- <div class="loader" ></div> -->

		</div>

	</div>

</div>

<!-- <mat-expansion-panel  [expanded]="step === 1" *ngFor="let faq of faqs" > -->
