  <div class="loader" *ngIf="visualizarHijo == ''"></div>
  <div *ngIf="visualizarHijo == 'ads'" class="formulario">

    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Anuncio">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">



        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget target" (click)="editarAnuncio(element, 'abrir', 'falso')" > <mat-icon class="ann aja">rss_feed</mat-icon> {{element.title}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="target" >
          <mat-header-cell *matHeaderCellDef> Publico objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget"  > {{element.target}} </mat-cell>
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="epaIcos icover">
            <mat-icon class="ico iconshi">settings</mat-icon>

            <div class="epaIco">
                    <mat-icon class="ico conde" matTooltip="Eliminar" (click)="openDialog(element.id)">delete</mat-icon>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

  <!-- <div > -->

  <div *ngIf="sinDatos"  class="agregarNuevo">
    <div class="contAnuncioss fuente"> <mat-icon>add</mat-icon> <p>Aún no hay anuncios, agrega uno ahora</p> </div>
  </div>
