
<div *ngIf="vista == true">
  <div class="panelAdmin"
  [class.medioEdited]="panelState === 'medioEdited'"
  >
  <div id="carguita" *ngIf="carguita == true">
    <mat-spinner id="rolee"></mat-spinner>
  </div>

  <div  (click)="AcualizoPanelState('ocultar'); globalService.sendAbrirAnadid(false)" class="ocultar fuente">X</div>


    <div class="ctA degradadoBack fuente editar"
    [ngStyle]="{'visibility': (buttonSave==true) ? 'visible' : 'hidden' }"
     (click)="editarUser()">Guardar Cambios</div>

    <div class="izq editedPestain coua" >
      <mat-icon class="payment">settings</mat-icon>
      <h5 class="tituloCoin fuente">{{usuario.userName}}</h5>
    </div>

      <div class="loader" *ngIf="loading"></div>

         <div class="containerAdd" >
           <addUserComponent
            [formsource]="'created'"
            [user]="usuario"
            (sendMembership)="reciboMembresia($event)"
            (sendPayment)="reciboPayment($event)"
            (sendWallet)="reciboWallet($event)"
            (sendUser)="reciboUser($event)"
            (sendOpen)="reciboOpen($event)"
            [open]="open"
            ></addUserComponent>
        </div>

    </div>

</div>
