  <div class="loader" *ngIf="visualizarHijo == ''"></div>
  <div *ngIf="visualizarHijo == 'users'" class="formulario">

    <div id="usersNoverify" [class.NoverifyClose]="panelVerify==false"
      [style.height.px]="panelTam"
    >

      <!-- <p class="textNoverify fuente">Pendientes verificación del pago.</p> -->
        <table id="noVerifyTable">

          <!-- lISTA DE USUARIOS POR VERIFICAR  -->
          <tr *ngFor="let user of usersNoPay">
            <td class="fuente" (click)="editarUsuario2(user, true, 'medioEdited'); ">
              <div class="clasetd">
                  <div class="itemRow ssdf">
                    <img [src]="user.perfilPic" class="PicturePerfil"  >
                    <!-- <mat-slide-toggle [checked]="user.avaible" [color]="color" (change)="epa(element.id, element.avaible)" ></mat-slide-toggle> -->
                    {{user.userName}}
                  </div>
                  <div class="itemRow alg-center ssdf">
                    {{user.rol}}
                  </div>
                  <div class="itemRow alg-center estamasPe">

                    <div class="desa">
                      Verificación Pendiente <mat-icon>history</mat-icon>
                    </div>
                    <div class="apa">
                      VERIFICAR PAGO <mat-icon id="LaReputa">payment</mat-icon>
                    </div>
                  </div>

              </div>
            </td>
          </tr>


        </table>
        <div *ngIf="usersNoPay.length == 0" class="noHayList fuente">No hay usuarios pendientes de verificación del pago.</div>
    </div>




    <!-- LISTA USUARIOS VIP -->

    <div class="example-container mat-elevation-z8" *ngIf="listView == 'vip'">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Usuario">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <!-- <mat-cell *matCellDef="let element" class="taarget target" > <img [src]="element.perfilPic" class="PicturePerfil" (click)="editarUsuario(element, true, 'falso', 'medioEdited')" > <mat-slide-toggle [checked]="!element.avaible" [color]="color" (change)="epa(element.id, element.avaible)" ></mat-slide-toggle> <p (click)="editarUsuario(element, true, 'falso', 'medioEdited')" >{{element.userName}} </p> </mat-cell> -->
          <mat-cell *matCellDef="let element" class="taarget target" > <img [src]="element.perfilPic" class="PicturePerfil" (click)="editarUsuario(element, true, 'falso', 'medioEdited')" > <p (click)="editarUsuario(element, true, 'falso', 'medioEdited')" >{{element.userName}} </p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target" >
          <mat-header-cell *matHeaderCellDef> Publico objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget" >{{element.role}} <span class="goodes">Al día<mat-icon>done</mat-icon></span>  </mat-cell>
        </ng-container>


        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="epaIcos icover">
            <mat-icon class="ico iconshi">settings</mat-icon>

            <div class="epaIco">
              <!-- <mat-icon class="ico conde" matTooltip="Eliminar" (click)="borrarProyecto(element.id)">delete</mat-icon> -->
                    <mat-icon class="ico conde" matTooltip="Eliminar" (click)="borrarUsuario(element.id)" >delete</mat-icon>
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>













    <!-- LISTA USUARIOS GRATUITOS -->

    <div class="example-container mat-elevation-z8" *ngIf="listView == 'general'">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Buscar Usuario">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource2">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget target" > <img [src]="element.perfilPic" class="PicturePerfil" (click)="editarUsuario(element, true, 'falso', 'medioEdited')" > <p (click)="editarUsuario(element, true, 'falso', 'medioEdited')" >{{element.userName}} </p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target" >
          <mat-header-cell *matHeaderCellDef> Publico objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taargets" >General </mat-cell>
        </ng-container>



        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="epaIcos icover">
            <mat-icon class="ico iconshi">settings</mat-icon>

            <div class="epaIco">
                    <mat-icon class="ico conde" matTooltip="Eliminar" (click)="borrarUsuario(element.id)">delete</mat-icon>
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>












    <!-- LISTA NEGRA, USUARIOS QUE DEBEN SER DADOS DE BAJA MANUALMENTE EN DISCOR DEBIDO A QUE SE HA VENCIDO SU MEMBRESÍA -->

    <table id="BlackList" *ngIf="listView == 'black'">
    <tr *ngFor="let user of blackListUsers">
      <td class="fuente">
        <div class="clasetd" (click)="openDialog(user.id)">
            <div class="itemRow ssdf">
              <img [src]="user.perfilPic" class="PicturePerfil"  >
              <!-- <mat-slide-toggle [checked]="user.avaible" [color]="color" (change)="epa(element.id, element.avaible)" ></mat-slide-toggle> -->
              {{user.name}}
            </div>
            <div class="itemRow alg-center ssdf">
              {{user.role}}
            </div>
            <div class="itemRow alg-center estamasPe">

              <div class="desa">
                 <span class="goodes">Membresía vencida<mat-icon>payment</mat-icon></span>
              </div>
              <div class="apa apas">
                 Retirar de la lista Negra <mat-icon id="LaReputas">clear</mat-icon>
              </div>
            </div>

        </div>
      </td>
    </tr>
</table>




    <!-- <div class="example-container mat-elevation-z8" *ngIf="listView == 'black'">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter3($event.target.value)" placeholder="Buscar Usuario">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource3">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget target" > <img [src]="element.perfilPic" class="PicturePerfil" >  <p >{{element.userName}} </p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target" >
          <mat-header-cell *matHeaderCellDef> Publico objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget " id="toShit">{{element.role}} <span class="goodes">Membresía vencida<mat-icon>payment</mat-icon></span>  </mat-cell>
        </ng-container>



        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="epaIcos ">
             Retirar de lista Negra
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div> -->






    <!-- LISTA USUARIOS ADMINISTRADORES -->

    <div class="example-container mat-elevation-z8" *ngIf="listView == 'admin'">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter4($event.target.value)" placeholder="Buscar Usuario">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource4">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taarget target" > <img [src]="element.perfilPic" class="PicturePerfil" (click)="editarUsuario(element, true, 'falso', 'medioEdited')" > <p (click)="editarUsuario(element, true, 'falso', 'medioEdited')" >{{element.userName}} </p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target" >
          <mat-header-cell *matHeaderCellDef> Publico objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="taargets" >Administrador </mat-cell>
        </ng-container>



        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="epaIcos icover">
            <mat-icon class="ico iconshi">settings</mat-icon>

            <div class="epaIco">
                    <mat-icon class="ico conde" matTooltip="Eliminar" (click)="borrarUsuario(element.id)">delete</mat-icon>
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>





  </div>

  <!-- <div > -->

  <div *ngIf="sinDatos"  class="agregarNuevo">
    <div class="contAnuncioss fuente"> <mat-icon>add</mat-icon> <p>Aún no hay anuncios, agrega uno ahora</p> </div>
  </div>
