<div class="contenedorEdit">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="contaInput">
        <div class="contSt">
              <div class="divi">
                <div class="title">Proyecto dirigido a usuario:</div>
                <hr>
              </div>
              <mat-radio-group name="target"  [(ngModel)]="projects.target" (change)="submit()">
                <mat-radio-button [value]="'vip'">Vip</mat-radio-button>
                <mat-radio-button [value]="'public'">Regular</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="contSt">
            <div class="divi">
                <div class="title">Calificación proyecto:</div>
                <hr>
              </div>

              <div class="starsForm" >
                <mat-icon (click)="star(1)"
                 [ngStyle]="{'color': (stars >= 1) ? '#FFC107' : 'grey' }"
                >star</mat-icon>
                <mat-icon (click)="star(2)"
                 [ngStyle]="{'color': (stars >= 2) ? '#FFC107' : 'grey' }"
                >star</mat-icon>
                <mat-icon (click)="star(3)"
                 [ngStyle]="{'color': (stars >= 3) ? '#FFC107' : 'grey' }"
                >star</mat-icon>
                <mat-icon (click)="star(4)"
                 [ngStyle]="{'color': (stars >= 4) ? '#FFC107' : 'grey' }"
                >star</mat-icon>
                <mat-icon (click)="star(5)"
                 [ngStyle]="{'color': (stars >= 5) ? '#FFC107' : 'grey' }"
                >star</mat-icon>
              </div>
        </div>
        <div class="contSt">
          <div class="divi">
            <div class="title">Tipo de inversión:</div>
            <hr>
          </div>

          <mat-radio-group name="type"  [(ngModel)]="projects.type" (change)="submit()">
            <mat-radio-button [value]="'ico'">Ico</mat-radio-button>
            <mat-radio-button [value]="'presale'">Pre - Venta</mat-radio-button>
            <mat-radio-button [value]="'market'">En mercado</mat-radio-button>
          </mat-radio-group>
        </div>



      </div>




      <div class="contaInput">
      <mat-form-field class="example-full-width">
        <input
        matInput
         placeholder="Titulo"
         name="title"
         [(ngModel)]="projects.title"
         (change)="submit()"
         >
       </mat-form-field>

       <mat-form-field class="example-full-width">
         <input
         matInput
          placeholder="Nombre Moneda"
          name="coinName"
          [(ngModel)]="projects.coinName"
          (change)="submit()"
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
          matInput
           placeholder="Simbolo"
           name="simbol"
           [(ngModel)]="projects.simbol"
           (change)="submit()"
           >
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <input
           matInput
            placeholder="Imagen Moneda"
            name="image"
            [(ngModel)]="projects.image"
            (change)="submit()"
            >
          </mat-form-field>

         <mat-form-field class="example-full-width">
           <input
           matInput
           type="number"
            placeholder="Precio Dolar"
            name="usdPrice"
            [(ngModel)]="projects.usdPrice"
            (change)="submit()"
            >
          </mat-form-field>


      </div>



      <div class="contaInput">

        <mat-form-field class="example-full-width">
        <input
        matInput
        type="number"
         placeholder="ID coinmarketcap"
         name="coinmarketcapId"
         [(ngModel)]="projects.coinmarketcapId"
         (change)="submit()"
         >
       </mat-form-field>

        <mat-form-field class="example-full-width">
        <input
        matInput
        type="number"
         placeholder="Precio Ether"
         name="ethPrice"
         [(ngModel)]="projects.ethPrice"
         (change)="submit()"
         >
       </mat-form-field>

       <mat-form-field class="example-full-width">
         <input
         matInput
          type="number"
          placeholder="Cantidad por Ether"
          name="amountPerEth"
          [(ngModel)]="projects.amountPerEth"
          (change)="submit()"
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
          matInput
           type="number"
           placeholder="Hard Cap"
           name="hardCap"
           [(ngModel)]="projects.hardCap"
           (change)="submit()"
           >
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <input
           matInput
           type="number"
            placeholder="Total Supply"
            name="totalSupply"
            [(ngModel)]="projects.totalSupply"
            (change)="submit()"
            >
          </mat-form-field>
      </div>


      <div class="contaInput">
        <mat-form-field class="example-full-width">
        <input
        matInput
         type="number"
         placeholder="Cantidad Bloq"
         name="tokenBloq"
         [(ngModel)]="projects.tokenBloq"
         (change)="submit()"
         >
       </mat-form-field>

       <mat-form-field class="example-full-width">
         <textarea
         matInput
          placeholder="Mensaje sobre bloqueo de monedas"
          class="msgbloq"
          name="bloqMessage"
          [(ngModel)]="projects.bloqMessage"
          (change)="submit()"
          >
          </textarea>
        </mat-form-field>


      </div>
      <div class="contaInput">
        <mat-form-field class="example-full-width">
        <input
        matInput
        type="number"
         placeholder="Bono"
         name="bono"
         [(ngModel)]="projects.bono"
         (change)="submit()"
         >
       </mat-form-field>

       <mat-form-field class="example-full-width">
         <input
         matInput
         type="text"
          placeholder="URL Web"
          name="webSite"
          [(ngModel)]="projects.webSite"
          (change)="submit()"
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
          matInput
          type="number"
           placeholder="Min Ether"
           name="minEth"
           [(ngModel)]="projects.minEth"
           (change)="submit()"
           >
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <input
           matInput
           type="number"
            placeholder="Max Eth"
            name="maxEth"
            [(ngModel)]="projects.maxEth"
            (change)="submit()"
            >
          </mat-form-field>

      </div>
      <div class="contaInput dosi">
        <mat-form-field class="example-full-width">
        <input
        matInput
        type="text"
         placeholder="White Paper"
         name="whitePaper"
         [(ngModel)]="projects.whitePaper"
         (change)="submit()"
         >
       </mat-form-field>


       <mat-form-field class="example-full-width">
         <input
         matInput
         type="text"
          placeholder="Contract Adress"
          name="contractAdress"
          [(ngModel)]="projects.contractAdress"
          (change)="submit()"
          >
        </mat-form-field>


            <input [matDatepicker]="picker" (change)="submit()" placeholder="Fecha de inicio ICO: {{projects.startDate}}" [(ngModel)]="projects.startDate" name="startDate" class="fech fechin">
            <div class="piker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>

            <input [matDatepicker]="picker2" (change)="submit()" placeholder="Fecha finalización ICO: {{projects.endDate}}" [(ngModel)]="projects.endDate"   name="endDate" class="fech fecho">
            <div class="piker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </div>

      </div>
      <div class="contaInput dios" (click)="submit()">
        <mat-form-field class="example-full-width">
        <textarea
        matInput
        [froalaEditor]
         placeholder="Descripciónssss:"
         name="description"
         [(ngModel)]="projects.description"
         (change)="submit()"
         ></textarea>
       </mat-form-field>
      </div>
<!--
      <div class="contaInput dios">

        <mat-form-field class="example-full-width">
        <textarea
        matInput
        [froalaEditor]
         placeholder="Análisis Equipo de Proyecto (Opcional)"
         name="team"
         [(ngModel)]="projects.team"
         (change)="submit()"
         ></textarea>
       </mat-form-field>
      </div>

      <div class="contaInput dios">
        <mat-form-field class="example-full-width">
        <textarea
        matInput
        [froalaEditor]
         placeholder="Descripción Análisis Producto (Opcional)"
         name="product"
         [(ngModel)]="projects.product"
         (change)="submit()"
         >
         </textarea>
       </mat-form-field>

      </div>

      <div class="contaInput dios">
        <mat-form-field class="example-full-width">
        <textarea
        matInput
        [froalaEditor]
         placeholder="Descripción Análisis Partners Proyecto (Opcional)"
         name="partner"
         [(ngModel)]="projects.partner"
         (change)="submit()"
         >
         </textarea>
       </mat-form-field>

      </div> -->

      <button type="submit" mat-raised-button id="epalape">Crear Proyecto</button>

    </form>

</div>
