.contenedorEdit{
  width: 100%;
  /*height: calc(100% - 40px);*/
  height: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  top: -40px;
}


.contenedorEdit::-webkit-scrollbar {
  width: 7px;
}
.contenedorEdit::-webkit-scrollbar-thumb {
  background: #f2eef2;
}

.contaInput textarea{
  /*height: 300px !important;*/
}

.contaInput{
  /*height: calc(290px - 20px);*/
  height: 100%;
  width: calc(33.3% - 30px);
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

form{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}


.divi{
  width: 100%;
  position: relative;
  margin: 0 0 20px 0;
}
.divi div{
  color: #c240ff;
}

.divi hr{
  border: .6px solid #c240ff;
}


.title{
 position: absolute;
     left: 0;
     top: -10px;
     background: white;
     padding: 0 10px 0 0;
}

.contSt{
  height: auto;
  width: 100%;
  margin-bottom: 25px;
}

input, textarea{
  width: calc(100% - 20px);
  height: 45px;
  padding: 0 10px;
  border-radius: 3px !important;
  border-style: none;
  /*border: 1px solid #80808042;*/
}

textarea{
    /*height: 75% ;*/
    padding: 15px;
    width: calc(100% - 30px);
    height: calc(290px - 20px);

}

.msgbloq{
    height: 55% !important;
}

.mat-form-field{
  width: 100%;
}


.piker, .piker2{
  width: calc(100% - 30px);
  position: absolute;
  bottom: 106px;
  left: 15px;
  border-bottom: .6px solid #c240ff;
}
.fecho{
  margin-top: 50px;
}
.fechin{
  margin-top: 27px;
}
.piker2{
  bottom: 10px !important;
}

.fech{
  padding-left: 60px !important;
  width: calc(100% - 70px)
}
.dosi{
  position: relative;
}

.dios{
  width: 100% !important;
}
#epalape{
  display: none;
}
