.panelAdminis{
  position: fixed;
  width: calc(100% - 40px);
  height: 45%;
  bottom: 0;
  left: 0;
  padding: 15px 20px;
  display: flex;
  transition: .4s;
  /*border-top: 1px solid grey;*/
  flex-direction: column;
   background: white;

   border-top: 1.4px solid transparent;
   border-image: linear-gradient(to right, #d800ff , #7a00ff);
   border-image-slice: 1;
}

.ctA{
  width: 130px;
  height: 40px;
}

.ctA2{
  background: #80808042;
  color: grey;
  cursor: none;
}

.sections{
  width: calc(50% - 20px);
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0 10px;

}

.controlEnviar{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panelAdmin{
  width: 100%;
  position: fixed;
  height: 100%;
  bottom: -100%;
  transition: .3s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: white;
  border-top: 1.4px solid transparent;
  border-image: linear-gradient(to right, #d800ff , #7a00ff);
  border-image-slice: 1;
}
.ocultar{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /*background: black;*/
  border: 2px solid grey;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}


.disen{
  width: 100%;
  /*padding: 0 10px;*/
  margin: 15px 0 30px 0;
}


.divi{
  width: 100%;
  position: relative;
  margin: 0 0 20px 0;
}

.title{
  position: absolute;
      left: 0;
      top: -10px;
      background: white;
      padding: 0 10px 0 0;
}
mat-radio-button{
  margin:0 6px;
}
input{
  width: 70%;
  height: 45px;
  border-radius: 4px;
  border-style: none;
  padding: 0 15px;
  border: 1px solid #80808042;
}
textarea{
  margin-top: 15px;
  width: calc(100% - 30px);
  height: 100px;
  padding: 15px;
  border-radius: 4px;
  border-style: none;
  border: 1px solid #80808042;
}
.conteSections{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  margin-top: 30px;
}
