

<div class="panelAdminis" [ngStyle]="{'bottom': (estadoPanel=='cerrado') ? '-100%' : '0px' }" *ngIf="visible == true">
  <!-- <div  *ngIf="panelState != 'projectEdited'"(click)="panelState = 'oculto'" class="ocultar fuente">X</div> -->
  <div  (click)="envioEstadoPanel.emit('cerrado'); editedSend.emit(false);" class="ocultar fuente">X</div>

<div class="conteSections">
      <div class="sections">
         <div class="disen">

           <div class="divi">
             <div class="title">Anuncio dirigido a usuario: {{release}}</div>
             <hr>
           </div>

           <mat-radio-group name="user"  [(ngModel)]="anuncio.target">
             <mat-radio-button [value]="'vip'">Vip</mat-radio-button>
             <mat-radio-button [value]="'public'">Regular</mat-radio-button>
           </mat-radio-group>

         </div>

         <input
          type="text"
          name="title"
          [(ngModel)]="anuncio.title"
          (change)="submit()"
          >
      </div>
      <div class="sections">
        <textarea
         type="text"
         name="title"
         [(ngModel)]="anuncio.description"
         (change)="submit()"
         ></textarea>
      </div>
  </div>

  <div class="controlEnviar">
    <div class="ctA fuente degradadoBack" *ngIf="edited == 'editar'" (click)="editarProyecto(anuncio)" >Actualizar</div>
    <div class="ctA fuente ctA2" *ngIf="edited != 'editar'" >Actualizar</div>
  </div>

</div>
