<div class="sinDesplegar contenidoMH" id="contenidoMH" (mouseleave)="cerrar(); onClick();"

	[ngStyle]="{animation: (status=='active') ? 'desplegarse .3s forwards ' : 'plegars .2s forwards ease-in' }"
	>
	<!-- [ngClass]="(status=='active') ? token.clase : null" -->

	<div class="contenido proyectos" [ngStyle]="{animation: (status=='active') ? 'conteShow .3s forwards ease-in' : 'conteHide .2s forwards ease-in' }">

		<!-- <mat-radio-group name="target"  ngModel (change)="crear()"> -->
				<mat-radio-group [(ngModel)]="proyectos">
					<div class="itemV uno">
						<mat-radio-button [value]="'proyectos'" class="hegemonico" (click)="allProjects(); updateViewPadre('projects'); sendlistView()"> Proyectos</mat-radio-button>
					</div>
					<div class="itemV dos">
						<mat-checkbox class="hegemonico" [(indeterminate)]="indeterminate" [disabled]="disabled">Solo Piscinas</mat-checkbox>
					</div>
					<div class="itemV uno">
						<mat-radio-button [value]="'anuncios'" class="hegemonico" (click)="disabled = true; actualizoProjects(); updateViewPadre('anuncios'); sendlistView()" >Anuncios</mat-radio-button>
					</div>
				</mat-radio-group>
	</div>

</div>
