
.mueveLaCadera{
  animation-name: bell;
  animation-duration: 7s;
  animation-timing-function: ease-out;
  transform-origin: center;
  animation-iteration-count: infinite;
  /*animation: animationIn 1s forwards;*/

}

#contSus{
  display: flex;
  flex-direction: column-reverse;
}

.imgMon{
  border-radius: 50% !important;
}
.desus{
  display: none;
  color: red !important;
  margin-left: 6px;
}
.queOndaWey{
  margin-top: 80px;
  width: 100%;
  display: flex;
  height: calc(100% - 80px);
  justify-content: center;
  /*height: 100%;*/

}
.steemPost:hover .desus{
  display: initial;
}

.steemPost:hover .donee{
  display: none;
}

@keyframes bell{
  0%{
    /*transform: rotate(35deg);*/
    transform: rotate(4deg);
  }
  1.72%{
    /*transform: rotate(-30deg);*/
    transform: rotate(-3deg);
  }
  3.5%{
    /*transform: rotate(25deg);*/
    transform: rotate(2.5deg);
  }
  4.7%{
    /*transform: rotate(-20deg);*/
    transform: rotate(-1.5deg);
  }
  6.25%{
    transform: rotate(1deg);
  }
  7.7%{
    transform: rotate(-.5deg);
  }
  9.25%{
    transform: rotate(.5deg);
  }
  12.5%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.items{
  width: 100%;
  height: inherit;
  /*background: black;*/
  display: flex;
  position: relative;
  justify-content: center;
  /*margin-left: 50px;*/

}

.items span{
  position: absolute;
  left: -30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item{
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /*background: -webkit-linear-gradient(top left, #FFEB3B, #FF9800);
  background: -o-linear-gradient(top left, #FFEB3B, #FF9800);
  background: linear-gradient(to bottom right, #FFEB3B, #FF9800);
  -webkit-background-clip: text;*/
  /*color: transparent;*/
  color: yellow;
  cursor: pointer;
}

.itemActive{
  position: absolute;
  padding: 2px;
  height: 90%;
  width: 50%;
  cursor: pointer;
  transition: .3s;
  border-bottom: 2px solid yellow;
  /*-webkit-border-image: -webkit-linear-gradient(left, #FFEB3B, #FF9800);
  -o-border-image: -o-linear-gradient(left, #FFEB3B, #FF9800);
  border-image: linear-gradient(to right, #FFEB3B, #FF9800);*/
  border-image-slice: 1;
}

.links{
  text-decoration: underline;
  color: green;
}

.textoCont{
  width: 100%;
  height: auto;
}

.texto{
  font-size: 14px;
  color: white;
  width: 100%;
  text-align: center;
}

#barritas{
  width: 70%;
  height:10px;
  background: #DDDDDD;
  border-radius: 3px;
  position: relative;
}
#thisCaduc{
  position: absolute;
  bottom: -20px;
  color: yellow;
  width: 100%;
  font-size: 13px;
  text-align: center;
}

#progresadito{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 100%;
  width: auto;
  /*background: linear-gradient(to bottom right, #09E9A3, #2FAEC0);*/
}

.fontCoin{
  font-size: 15px;
}

#membershipWay{
  width: calc(100% - 20px);
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  align-items: center;
}
#membershipWay mat-icon{
  color: yellow;
}

.starthere{
  cursor: pointer;
}

.ctA{
  cursor: pointer;
  width: 60%;
  height: 55px;
  border-radius: 4px;
  background: rgba(98,52,158,1);
  color: #FFFF00;
  display: flex;
justify-content: center;
align-items: center;

}

.ctaCont{
  position: absolute;
  /*background: red;*/
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto2{
  font-size: 14px;
  color: #FFFF00;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.faqGuia{
width: 92%;
height: 107px;
padding: 15px;
position: relative;
z-index: 1;
}
.guia{
  width: 100%;
  height: calc(100% - 26px);
  background: #222D33;
  display: flex;
  flex-direction: column;
  padding: 13px 0;
  justify-content: space-between;
}
.detalleUser{
  /*width: 100%;*/
  height: calc(100% - 45px);
  /*padding-top: 60px;*/
  transition: .1s;
  opacity: 1;
  position: relative;
  border-top-left-radius: 7px;
  top: 45px;
  /*background: yellow;*/
}
p{
line-height: 33px;
margin: 0;
}
.abrirInfoUser{
  opacity: 1 !important;
}

.boody{
  background: red;
}
.backDetail{
  /*opacity: 0.5;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100% - 45px);
  /*height: 100%;*/
  background: #2D3942;
  /*background-image: url("../../../../assets/fondodetalle.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;*/
}
.twOptionDet{
  display: flex;
}

.actualizar{
  margin-right: 17px;
  color: #a2a2a2;
}

.borrar{
  color: #a2a2a2;
}

.arrowss{
  color: #FFFF00;
}
.backbutton{
  position: relative;
  z-index: 4;
  cursor: pointer;
}
.encabezado{
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  color: #FFFF00;
}

.barrita{
  background: #33444D;
  width: calc(100% - 40px);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding-left: 13px;*/
  padding: 0 20px;
  /*cursor: pointer;*/
  position: relative;
}
.infoUser2{
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: .1s;
  height: calc(60% - 45px);
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background: #222d33;


}

.contPost{
  width: 100%;
}

.infoUser2::-webkit-scrollbar {
  width: 7px;
}
.infoUser2::-webkit-scrollbar-thumb {
  background: #475A68;
}
.steemPost, .steemPost2{
  width: 100%;
  display: flex;
  height: 100px;
  margin: 8px 0;
  transition: .3s;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.steemPost2{
  height: 50px !important;
  margin: 10px 0 0 0 !important;
}

.steemPost2 div{
  display: flex;
  font-size: 11px;
  margin-right: 10px;
  /*align-items: center;*/
}
.loco{
  align-items: center;
  text-decoration: none;
    color: yellow;
    font-size: 12px;
    display: flex;
}
.renue{
  margin-left: 7px;
}

.mato{
  margin-left: 5px;
  font-size: 16px !important;
  display: flex;
  align-items: center;
}
.likesd{
  font-size: 18px !important;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modelcoin{
  display: flex;
  margin-bottom: 7px;
}
#modelcoin{
  display: flex;
  flex-direction: column;
}
.modelcoin img{
  margin-right: 10px;
  margin-top: 4px;
}
.likeDis{
  display: flex;
  align-items: center;
}
.donee{
  font-size: 20px ;
  margin-left: 6px;
}

#imgPol{
  margin-right: 6px !important;
}

.steemPost:hover{
  background: #33444d;
}

.steemPost{
  background: #28363c;
}

.steemText{
  font-size: 13px;
padding: 0 7px;
display: flex;
/*justify-content: space-between;*/
align-items: left;
flex-direction: column;
height: calc(100% - 20px);
padding-top: 10px;
padding-bottom: 10px;
width: calc(100% - 154px);
}


.steemText2{
  font-size: 13px;
padding: 0 10px;
display: flex;
align-items: left !important;
flex-direction: column;
height: calc(100% - 20px);
padding-top: 10px;
padding-bottom:10px;
width: 60%;
}

#poolIcon mat-icon{
  font-size: 20px;
  margin: 0 !important;
}

#poolIcon{
  display: flex;
}
#prefIcon2{
  display: flex;
}

.texSteem{
  color: yellow;

  text-align: left;

  text-decoration: none;

}
.texSteem2{
  color: white;
  font-size: 10px;
  text-decoration: none;

}
.imgPost{
  height: 80px;
  /*height: 100%;*/
  width: 130px;
  border-radius: 3px;
  margin-left: 9px;
  background-image: url("../../assets/steemt/steem.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.itemUser{
  /*margin:17px 0;*/
  /*width: 60%;*/
  font-size: 12px;
}
input{
  padding-left: 5px;
}
mat-accordion{
  width: 99%;
}
/*.itemUser3{
  width: 90px;
}*/
.itemUser2{
  /*margin:7px 0;*/
  font-size: 13px;
  font-weight: bold;
  /*width: auto;*/
  text-align: left;
}
.picUser{
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  /*background: yellow;*/
  margin: 20px 0;
  margin-top: 0 !important;
  	/*background-image: url("../../../../assets/pic.jpg");
  				background-size: cover;
  				background-repeat: no-repeat;
  				background-position: center;*/

          -webkit-box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.18);
box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.18);


}
.mascaraUsuario{
  /*height: calc(100% - 86px);*/
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
/*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
}

.contItemsu{
  display:flex; margin:10px 0; width:100%;
  justify-content: space-between;
  margin:17px 0;
  width: 100%;

  /*flex-wrap: wrap;*/
}



@keyframes logo{

  0%{
    opacity: 0;

  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes logo2{

  0%{
    opacity: 1;

  }

  15%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #dbeb1d;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #dbeb1d;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.degradadoBack{

  background: -moz-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(98,52,158,1)), color-stop(8%, rgba(98,52,158,1)), color-stop(100%, rgba(151,38,174,1)));
  background: -webkit-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: linear-gradient(135deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62349e', endColorstr='#9726ae', GradientType=1 );
}
