
<!-- <div> -->

<div class="detalleUser">
  <div class="barrita">
     <!-- <i class="material-icons arrowss backbutton" (click)="this.feedService.toggleAlterno(); nuevoa();">arrow_back</i> -->
     <!-- <div class="encabezado fuente">Steemit</div> -->
     <div class="items fuente">

       <div class="itemActive" [style.left.%]="traction" [style.width.%]="anchoBusqueda" [class.searchActive]="busqueda === true" *ngIf="estalogueado() && subscris.length > 0"></div>
      <div *ngIf="subscris.length > 0" class="item fuenteTitle epale" (click)="suscrip()">  <div   *ngIf="estalogueado() ">Mis Suscripciones</div></div>
       <div class="item fuenteTitle" (click)="blog()">Blog</div>
       <!-- <div class="item" (click)="todo()">Exchange</div> -->
     </div>

  </div>
    <!-- <div class="mascaraUsuario"> -->
    <div class="backDetail"></div>
    <!-- <div class="infoUser2" [ngStyle]="{'height': (role != 'admin') ? '250px' : '280px' }"> -->
      <div class="infoUser2" >
        <!-- <div class="steemPost" *ngFor="let steemit of steemits"> -->
          <div class="contPost" *ngIf="screenView == 'blog'">
              <a class="steemPost texSteem" target="_blank" href="{{steemit.link}}" *ngFor="let steemit of steemits" >
                <div class="imgPost"   [ngStyle]="{'background-image':'url('+steemit.pic+')'}"></div>
                <div class="steemText">
                  <a class=" texSteem fuente" href="{{steemit.link}}" target="_blank">{{steemit.title}}</a>
                  <a class=" texSteem2 fuenteNumber" >{{steemit.createdAt | amLocale:'es' | amTimeAgo:true}}</a>
                </div>
            </a>
          </div>

          <div class="contPost" *ngIf="screenView == 'suscriptions'">

          <div class="queOndaWey" *ngIf="loading">
            <mat-spinner  ></mat-spinner>
          </div>

          <div *ngIf="!loading" id="contSus">
            <a class="steemPost texSteem steemPost2 " *ngFor="let sub of this.subscris " >
                <div class="steemText2" [routerLink]="['projects', sub.projectId]">
                  <div class="modelcoin">
                    <img [src]="sub.image" width="24" height="24" *ngIf="sub.image" class="imgMon">
                    <div id="modelcoin">
                    <a class=" texSteem fuente fontCoin"  target="_blank">{{sub.coinName}}</a>
                    <a class=" texSteem2 fuenteNumber" >Suscrito hace {{sub.createdAt | amLocale:'es' | amTimeAgo:true}}</a>
                    </div>
                  </div>
                </div>

                <div class="likeDis">
                  <p *ngIf="sub.pool" id="poolIcon">
                    <a class="fuente loco" *ngIf="sub.pool.reclaim" [href]="sub.pool.link" target="_blank">
                      <mat-icon class="mato" matTooltip="Reclamo habilitado">exit_to_app</mat-icon>
                    </a>

                    <a class="fuente loco" *ngIf="sub.pool.active" [href]="sub.pool.link" target="_blank">
                      <img src="../../assets/poool.png" alt="" width="22" id="imgPol" matTooltip="Marathon activa">
                    </a>
                  </p>
                  <p *ngIf="sub.userPreferences" id="prefIcon2">
                  <mat-icon *ngIf="sub.userPreferences.dislike" class="likesd" matTooltip="No Me gusta">thumb_down</mat-icon>
                  <mat-icon *ngIf="sub.userPreferences.like" class="likesd" matTooltip="Me gusta">thumb_up</mat-icon>
                  <mat-icon class="donee" matTooltip="Suscrito">done</mat-icon>
                  <mat-icon class="desus" matTooltip="Desuscribir" (click)="unSubscriProject(sub.projectId)">close</mat-icon>
                  </p>
                </div>

                <!-- <a class="fuente loco" *ngIf="sub.pool.active" href="https://discordapp.com/channels/336961709782728715/417809401735413786" target="_blank">
                  Contribuir <mat-icon class="mato">near_me</mat-icon>
                </a> -->
            </a>
          </div>
        </div>

      </div>

      <div class="faqGuia" >
        <div class="guia">
            <div class="textoCont">
                <p class="texto fuente">¿Primera vez en dinero con opciones? <a class="links starthere" (click)="enviarStatus(); contentModal('newUser')">¡Inicia aquí!</a> </p>
            </div>
            <div class="textoCont">
                <p class="texto2 fuenteTitle" (click)="toggleAlterno();">FAQ - PREGUNTAS FRECUENTES<i class="material-icons">arrow_forward</i> </p>
            </div>
        </div>
      </div>
</div>

<div class="ctaCont" *ngIf="role != 'admin'" >
  <div *ngIf="role == 'user'" class="ctA fuente degradadoBack" (click)="enviarStatus(); contentModal('VIP')">
    Quiero ser VIP
  </div>

  <div id="membershipWay" *ngIf="role != 'user' && caducaM > 5">
      <mat-icon>timer</mat-icon>
        <div id="barritas">
          <span id="thisCaduc" class="fuente">Membresía caduca en {{caducaM}} días</span>
          <div id="progresadito" [style.width.%]="anchito" [style.background]="carinito">

          </div>
        </div>
      <mat-icon>timer_off</mat-icon>
  </div>

<div *ngIf="role != 'user' && caducaM <= 5" class="ctA fuente degradadoBack mueveLaCadera" (click)="enviarStatus(); renovarMember(); ">
  Renovar Membresía <mat-icon class="renue">360</mat-icon>
</div>

</div>
<!-- </div> -->
