/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fuente{
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
}
.fuenteTitle{
  font-family: 'Raleway', sans-serif;
}

.fuenteNumber{
  font-family: 'Inconsolata', monospace;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #97ce2b !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #97ce2b91 !important;
}
.imgCoin{
  margin-right: 10px;
}
addusercomponent{
  position: absolute;
  width: 100%;
  /*top: 20px;*/
}
.fr-buttons{
  z-index: 99 !important;
}

.fr-box.fr-basic .fr-element {
    height: 200px !important;
}
body{
  margin:0 !important;
}
body::-webkit-scrollbar {
  width: 7px;
}

app-profile{
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar-thumb {
  background: #181f243d;
}

add-panel-user
{
    width: 100%;
    position: absolute;

}

body::-webkit-scrollbar {
  width: 7px;
}

usertemplate, projectsTemplate{
    width: 100%;
    height: auto;
}

body::-webkit-scrollbar-thumb {
  background: #181f243d;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FFEB3B !important;
}

#rolee circle{
  stroke: #7a00ff !important;
}
.hegemonico div{
  /*color: yellow !important;*/
  border-color: yellow !important;
}
/*.mat-radio-container div{
  color: yellow !important;
}*/

.degradado{
  height: 50px !important;
  background: rgba(66,87,100,1);
background: -moz-linear-gradient(-45deg, rgba(66,87,100,1) 0%, rgba(34,45,51,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(66,87,100,1)), color-stop(100%, rgba(34,45,51,1)));
background: -webkit-linear-gradient(-45deg, rgba(66,87,100,1) 0%, rgba(34,45,51,1) 100%);
background: -o-linear-gradient(-45deg, rgba(66,87,100,1) 0%, rgba(34,45,51,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(66,87,100,1) 0%, rgba(34,45,51,1) 100%);
background: linear-gradient(135deg, rgba(66,87,100,1) 0%, rgba(34,45,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#425764', endColorstr='#222d33', GradientType=1 );
}
.close{
	position: absolute;
	right: 17px;
	top: 17px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.close mat-icon{
	font-size: 18px !important;
	width: auto !important;
	height: auto !important;

}
.proof{
	font-weight: bold;
	margin: 0 !important;
	width: auto;
}
.abrirSubAlterno{
  transform: translateX(0px) !important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}


app-auth{
  width: 100%;
  height: 100%;
}
.degradadoBack{

  background: -moz-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(98,52,158,1)), color-stop(8%, rgba(98,52,158,1)), color-stop(100%, rgba(151,38,174,1)));
  background: -webkit-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  background: linear-gradient(135deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62349e', endColorstr='#9726ae', GradientType=1 );
}


.coloBtn{
background: rgba(98,52,158,1);
color: #FFFF00;
background: linear-gradient(135deg, rgba(98,52,158,1) 0%, rgba(98,52,158,1) 8%, rgba(151,38,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62349e', endColorstr='#9726ae', GradientType=1 );
}

.mat-tab-labels{
background: white !important;
}
app-detail2{
  padding-top: 55px;
  width: 100%;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:#9938B3 !important;
}
mat-toolbar-row, mat-toolbar, .mat-toolbar-multiple-rows{
  /*height: 55px !important;*/
  min-height: 45px !important;
  color: white;
  position: absolute;
  top: 0;
  z-index: 5;
}

body{
  /*height: calc(100% - 55px) !important;*/
  height: 100%;
  overflow-x:hidden;
  /*overflow-y:hidden;*/
}
html{
  height: 100% !important;
  background: #F2F4F8;
}

app-feed{
  height: 100%;
    width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 45px !important;
}
.mat-toolbar{
  position: fixed;
  transition: .3s;
}


.loader,
.loader:before,
.loader:after {
  background: #961fb8;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 .8s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #961fb8;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  width: 6px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.07s;
  animation-delay: -0.10s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  width: 6px;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.14s;
  width: 6px;
  animation-delay: -0.20s;
}
.loader:after {
  width: 6px;
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 6em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}




.mat-tab-label {
  /*font-size: 1px !important;*/
font-size: 13px ;
height: 45px !important;

}

.mat-tab-labels {
    display: flex;
    height: 45px !important;
}


.mat-tab-label, .mat-tab-link {
    color: #9926ae !important;
}

adminTemplate{
  width: 100%;
  display: flex;
  justify-content: center;
}

app-slide{
  width: 100%;
  height: 100%;
}

.sombra{
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.57);
}


.ctA{
  cursor: pointer;
  width: auto;
  height: 35px;
  border-radius: 4px;
  /*background: rgba(98,52,158,1);*/
  color: #FFFF00;
  display: flex;
justify-content: center;
align-items: center;

}
.cdk-overlay-container {
    position: fixed;
    z-index: 9999999999999999 !important;
}

addcomponent{
  width: 100%;
  height: 100%;
}


.tituloContenedor{
    /*width: calc(100% - 30px) !important;}*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
}


app-faq{
  height: 100% !important;
}









/*RESPONSIVE------RESPONSIVE------RESPONSIVE------RESPONSIVE------RESPONSIVE------RESPONSIVE------RESPONSIVE------RESPONSIVE------*/
















@media screen and (max-width:1920px){

  #conteProyectos{
    padding: 80px 80px  30px 80px;
        width: calc(100% - 160px) !important;
  }

  .carta{
    height: 290px !important;
  }

}

@media screen and (max-width:1500px){
  #conteProyectos{
    padding: 80px 40px  30px 40px ;
    width: calc(100% - 80px) !important;
  }
}

@media screen and (max-width:1400px){

  #conteProyectos{
    padding: 80px 20px  30px 20px ;
    width: calc(100% - 40px) !important;
  }

  .carta{
    height: 270px !important;
  }

  .infoUser2{
    height: calc(55% - 45px) !important;
}

}




@media screen and (max-width:1060px){

  .filtroFeed{
    margin-right: 0 !important;
  }


  #menuBurguer{
    display: initial !important;
  }
  .alterno, .panelFix{
    right: -400px !important;
  }

  #panelFix{
    width: 330px !important;
  }

  .feedContent{
    width: 100% !important;
        padding: 45px 0px 25px 0px !important;
  }

  .modeloProyecto {
    padding: 65px 15px 15px 15px;
    width: calc(100% - 30px) !important;
}

.menuSec {
    -webkit-transition: .3s;
    transition: .3s;
    width: 100% !important;
}

.infoUser2{
  height: calc(50% - 45px) !important;
}

}

@media screen and (max-width:600px){
  .infoCoin{
    width: 50% !important;
  }
  .coin2{
    display: none !important;
  }
  .alterno, .panelFix{
  width: 360px !important;
  }
  .carta{
		height: 520px !important;
}
  .bonos{
    display: none !important;
  }

  .add2{
    font-size: 22px !important;
  }

  .encabezadoAd{
      margin-top: 30px !important;
  }
  .contenidoAD2{
    display: flex;
    align-items: flex-end;
  }
  .contenidoAD{
    height: 300px !important;
  }
  .item{
    font-size: 12px !important;
  }
  /*#id1{
    font-size: 12px !important;
  }*/

  .cerrar{
    right: 20px !important;
  }

  .items{
    width: 100% !important;
  }
  .Exch{
    left:  0 !important;
  }

  #iconFill{
    font-size: 20px !important;
  }
  .filtroFeed {
    margin-right: 0 !important;
    position: absolute !important;
    right: 0;
  }

  #selectMati{
    width: 50px !important;
  }

  .filterList{
    display: none !important;
  }
  .socials2{
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    height: 70px !important;
    /*display: initial !important;*/
  }
  .conteLikes{
    width: 100% !important;
    justify-content: center !important;
  }

  .likecitos2{
    width: 100% !important;
  }

  .p2{
    width: 100% !important;
    flex-direction: row !important;
    height: 130px !important;
    align-items: center;
  }

  .infoPrincipal{
    width: 100% !important;
    height: 550px !important;
    padding-left: 0 !important;
  }

  .demo-tab-content{
    padding-left: 14% !important;
    padding-right: 14% !important;
  }

  .prueba{
    width: 100% !important;
    display: flex;
    height: 40% !important;
    flex-direction: column;
    justify-content: space-around;
  }
  .links2{
    /*height: 100% !important;*/
    width: 50% !important;
  }
  .CMlikes{
    height: inherit !important;
  }


  .contenedorPruebas {
    width: 100%;
    height: 400px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
}

  .video{
    display: none !important;
  }
  .news{
    width: 100% !important;
  }



  .titulo, .titulo2 {
     height: 100% !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.socials{
  display: none !important;
}
.titulo2{
  justify-content: flex-end;
}

  #modal{
    width: 100% !important;
  }
  #panelFix{
    width: 330px !important;
    display: none !important;
  }

  .icons{
    width: 100px !important;
}



  body{
    overflow-x: hidden !important;
  }
  app-modalhf{
    left: -140px !important;
  }
}


@media screen and (max-width:522px){

  .demo-tab-content{
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .infoGen{
    width: 100% !important;
  }
  .nivelUser{
    display: none !important;
  }

}
