

	 <div class="overlay"
	 [class.active]="statusModal == 'active'"
	 [class.user]="clases == 'user'"
	 [class.opUser]="clases == 'opUser'"

	 >


		<div class="modal" id="modal"

		[ngStyle]="{animation: (statusModal=='active') ? 'animIns .3s forwards ease-in' : 'animaOuts .25s ' }"

		>

				<div class="contMadrecita fuente degradado ">

					<div class="iteMenu" *ngFor="let item of contenidoModal"  [routerLink]="[item.routeLink]" (click)="logout(item.func); cerrarModal()"><mat-icon>{{item.icono}}</mat-icon> {{item.nombre}} </div>


					</div>

		</div>
	 </div>
